In [1]:
import pandas as pd
import pickle as pkl
import numpy as np

from tqdm.notebook import tqdm

In [2]:
sample_ids = list(pd.read_csv('data/seen_objects_all_source_id.csv').sample(n=1000000, random_state=42)['source_id'].values)

In [3]:
for i in tqdm(range(100)):
    with open(f'data/listings_{i}.pkl', 'rb') as f:
        tmp_id = pkl.load(f)['rebny_id']
    for j in tmp_id:
        sample_ids.remove(j)
sample_ids

  0%|          | 0/100 [00:00<?, ?it/s]

FileNotFoundError: [Errno 2] No such file or directory: 'data/listings_0.pkl'

In [ ]:
len(sample_ids)

209

In [11]:
#from numpy import float64
cols = []
float_cols = []
val_errors = []
type_errors = set()
t = type(pd.to_numeric('1.0'))
for i in tqdm(range(100)):
    with open(f'data/seen_objects_{i}.pkl', 'rb') as f:
        tmp_df = pkl.load(f)

    for d in tmp_df['data']:
        cols += list(d.keys())
        for k in d.keys():
            try:
                #if k in ['Latitude', 'Longitude']:
                 #   print(f'{k}: {d[k]} {type(pd.to_numeric(d[k]))}')
                if type(pd.to_numeric(d[k])) == np.float64 and (not pd.isna(d[k])):
                    #if k in ['Latitude', 'Longitude']:
                     #   print(type(pd.to_numeric(d[k])))
                    float_cols.append(k)
            except:
                continue
    float_cols = list(set(float_cols))
    cols = list(set(cols))
    val_errors = list(set(val_errors))

# cols = set(cols)
len(cols)

  0%|          | 0/100 [00:00<?, ?it/s]

714

In [82]:
type_errors

{'Media',
 '_PropertyADU',
 '_PropertyAdu',
 '_PropertyGreenVerification',
 '_PropertyPowerProduction',
 '_PropertyUnits'}

In [107]:
type(np.nan)

float

In [83]:
val_errors

['ListOfficeFax',
 'ElevationUnits',
 'BelowGradeFinishedAreaUnits',
 'DistanceToShoppingComments',
 'OriginalEntryTimestamp',
 'EstimatedCoBuyerOfficeAOR',
 'ListOfficePhone',
 'OwnerPhone',
 'BusinessType',
 'StateOrProvince',
 'SecurityFeatures',
 'PossibleUseComments',
 'ListOfficeMlsId',
 'ListingId',
 'AssociationPhoneExt',
 'Cleared',
 'AvailabilityDate',
 'TaxOtherAnnualAssessmentAmountSource',
 'CloseDate',
 'DistanceToFreewayComments',
 'LockBoxVersion',
 'LockBoxSerialNumber',
 'CommonWalls',
 'ListTeamEmail',
 'BuyerAgencyCompensationPer',
 'CoBuyerOfficeName',
 'PriceChangeTimestamp',
 'CoListAgentLastName',
 'CoBuyerOfficeStateLicense',
 'EstimatedBuyerOfficeStateLicense',
 'Trees',
 'CoListAgentTollFreePhone',
 'City',
 'EstimatedBuyerTeamName',
 'URLDescription',
 'AssociationName',
 'EstimatedBuyerAgentAOR',
 'CommunityFeatures',
 'PossibleUse',
 'ListAgentStateLicense',
 'Occupancy',
 'ElementarySchool',
 'Average2BedAreaUnits',
 'HighSchoolDistrict',
 'ProbateAuthority',
 'MLSAreaMajor',
 'Have',
 'RentIncludes',
 'CurrentCommercialUse',
 'Furnished',
 'OccupantPhone',
 'BuyerOfficeAOR',
 'OccupantName',
 'LotSizeUnits',
 'Roof',
 'BuildingAreaUnits',
 'GeocodeSource',
 'EstimatedCoBuyerOfficeName',
 'EstimatedCoBuyerTeamName',
 'SpecialAssessments',
 'MinTotalAreaUnits',
 'Cooling',
 'Appliances',
 'ListAgentEmailConfidential',
 'License1',
 'GreenSustainability',
 'OfficeClass',
 'ListAgentHomePhoneExt',
 'MiddleOrJuniorSchool',
 'LotDimensionsSource',
 'ListAgentDirectPhoneExt',
 'ShowingContactName',
 'StatusPriceChangeTimestamp',
 'ListAgentMobilePhone',
 'DistanceToGasComments',
 'Country',
 'ContingencyEndDate',
 'LaundryEquipmentOwnLease',
 'CoBuyerAgentBrokerMlsId',
 'BuyerOfficeMlsId',
 'Average3BedAreaUnits',
 'Neighborhood',
 'AverageStudioAreaUnits',
 'StartShowingDate',
 'EstimatedBuyerTeamEmail',
 'CoListTeamPreferredPhone',
 'ContractStatusChangeDate',
 'CoListOfficeAOR',
 'TenantPays',
 'TransferFeePaidBy',
 'AdditionalRentForPets',
 'StreetSuffix',
 'ParkName',
 'EntryLocation',
 'EstimatedCoBuyerAgentFirstName',
 'CoListOfficePhone',
 'ListAgentDirectPhone',
 'OtherPhoneExt',
 'CoListOfficeName',
 'Levels',
 'YearBuiltSource',
 'DistanceToElectricComments',
 'AssociationFeeFrequency',
 'CoBuyerOfficeAOR',
 'Make',
 'AssociationName2',
 'TaxModel',
 'HighSchool2',
 'DistanceToWaterComments',
 'CoListAgentVoiceMailExt',
 'CoListAgentMobilePhone',
 'CoListAgentPager',
 'EstimatedCoBuyerTeamKey',
 'EstimatedCoBuyerOfficeMlsId',
 'View',
 'ModificationTimestamp',
 'BusinessURL',
 'ArchitecturalStyle',
 'WaterfrontFeatures',
 'AssociationFee2Frequency',
 'BuildingName',
 'CoListAgentMainOfficeMlsId',
 'ListAgentFirstName',
 'SoilType',
 'AssociationPhone3Ext',
 'OriginatingSystemID',
 'CoListTeamEmail',
 'VirtualTourURLUnbranded',
 'PrivateRemarks',
 'MiddleOrJuniorSchool2',
 'OfficeType',
 'ListAgentAOR',
 'SpecialLicenses',
 'DistanceToSewerComments',
 'AssociationPhone2',
 'Amperage',
 'SerialU',
 'PoolFeatures',
 'ListAgentFax',
 'ListOfficeStateLicense',
 'Inclusions',
 'LandLeaseRenewalDate',
 'CoListAgentVoiceMail',
 'ShowingContactType',
 'TaxCensusTract',
 'ListAgentPager',
 'CoListTeamName',
 'PropertyType',
 'AssociationPhone',
 'RoomBathroomFeatures',
 'EstimatedConcessionsComments',
 'EstimatedCoBuyerTeamEmail',
 'TaxMapNumber',
 'CoListAgentFirstName',
 'License3',
 'CoListAgentLanguages',
 'AssociationName3',
 'OriginatingSystemModificationTimestamp',
 'ListAgentMlsId',
 'DOH2',
 'LeaseRenewalCompensation',
 'ListAgentTollFreePhone',
 'ExpirationDate',
 'TaxParcelLetter',
 'Heating',
 'FoundationDetails',
 'EstimatedBuyerAgentFirstName',
 'BuyerFinancing',
 'StreetSuffixModifier',
 'EstimatedBuyerAgentStateLicense',
 'EstimatedCoBuyerOfficeStateLicense',
 'EstimatedBuyerTeamPreferredPhone',
 'TaxArea',
 'OffMarketDate',
 'ListTeamName',
 'StreetNumber',
 'ContingentDate',
 'ParcelNumber',
 'CoBuyerAgentStateLicense',
 'SerialX',
 'LandUse',
 'AssociationManagementName2',
 'CoListAgentHomePhone',
 'Directions',
 'OccupantType',
 'ExteriorFeatures',
 'PropertySubType',
 'BuyerOfficeName',
 'IndustrialType',
 'LeaseTerm',
 'ManagementCoPhoneExt',
 'License2',
 'RoomType',
 'DirectionFaces',
 'RetailCenterType',
 'CancellationDate',
 'ManagersFax',
 'BuyerAgentLastName',
 'CurrentFinancing',
 'ElementarySchool2',
 'SerialXX',
 'Assessments',
 'Sewer',
 'ListAgentVoiceMail',
 'Possession',
 'Points',
 'CoBuyerAgentAOR',
 'BuyerAgentMainOfficeMlsId',
 'CashiersCheck',
 'WithdrawnDate',
 'LotSizeSource',
 'ListTeamPreferredPhone',
 'BuyerAgencyCompensationRemarks',
 'EstimatedCoBuyerAgentAOR',
 'Electric',
 'WaterSource',
 'BuyerTeamName',
 'LotSizeDimensions',
 'CondoAreaUnits',
 'ListingAgreement',
 'PostalCodePlus4',
 'EstimatedBuyerFinancing',
 'PropertyCondition',
 'Exclusions',
 'ListOfficeName',
 'GreenIndoorAirQuality',
 'CoListAgentBrokerMlsId',
 'ShowingContactPhoneExt',
 'BuildingFeatures',
 'EstimatedBuyerOfficeMlsId',
 'LandLeaseAmountSource',
 'ParkingFeatures',
 'CoBuyerOfficeMlsId',
 'ZoningDescription',
 'Average1BedAreaUnits',
 'StreetName',
 'Signage',
 'SpaFeatures',
 'LivingAreaSource',
 'OtherExpenseDescription',
 'MaxTotalAreaUnits',
 'LandLeaseExpirationDate',
 'GreenLocation',
 'DoorFeatures',
 'CoBuyerAgentFirstName',
 'RoadFrontageType',
 'GreenEnergyEfficient',
 'FireplaceFeatures',
 'TaxTractNumber',
 'ContingencyList',
 'UsableLandPercent',
 'BuyerAgentAOR',
 'CoBuyerAgentLastName',
 'StreetDirPrefix',
 'BackOnMarketDate',
 'TaxTract',
 'AssociationFee3Frequency',
 'CommonInterest',
 'EstimatedBuyerAgentLastName',
 'CountyOrParish',
 'BuyerAgentBrokerMlsId',
 'LivingAreaUnits',
 'EstimatedBuyerOfficeAOR',
 'ParkManagerPhoneExt',
 'CoListAgentFax',
 'HighSchool',
 'BuyerTeamEmail',
 'FinancialRemarks',
 'DistanceToStreetComments',
 'BuyerTeamPreferredPhone',
 'BusinessName',
 'PetsAllowed',
 'WindowFeatures',
 'RoadSurfaceType',
 'GreenWaterConservation',
 'Skirt',
 'EstimatedCoBuyerAgentLastName',
 'MajorChangeType',
 'AssetClass',
 'HoldDate',
 'DocumentNumber',
 'ListAgentVoiceMailExt',
 'OtherPhoneDescription',
 'CoBuyerAgentMlsId',
 'AnchorsCoTenants',
 'BuilderModel',
 'GreenEnergyGeneration',
 'SyndicateTo',
 'ConcessionsComments',
 'Improvements',
 'EstimatedBuyerOfficeName',
 'LockBoxType',
 'BuyerAgentMlsId',
 'BuildingStatus',
 'LaundryFeatures',
 'LotFeatures',
 'TaxLot',
 'DistanceToPhoneServiceComments',
 'OtherIncomeDescription',
 'ListingTerms',
 'SourceSystemModificationTimestamp',
 'BuyerAgentFirstName',
 'OffersEmail',
 'AdNumber',
 'ListOfficeAOR',
 'Fencing',
 'ListAgentLastName',
 'StandardStatus',
 'Contingency',
 'LeasableAreaUnits',
 'CoListOfficeMlsId',
 'AssociationPhone3',
 'CoListAgentStateLicense',
 'Survey',
 'ShowingInstructions',
 'IDXContactInfo',
 'HoldActivationDate',
 'EstimatedBuyerAgentMlsId',
 'ParkManagerPhone',
 'AssociationManagementName',
 'SpecialListingConditions',
 'CurrentUseComments',
 'EstimatedCloseDate',
 'MoveIn',
 'PurchaseContractDate',
 'Zoning',
 'ListingContractDate',
 'AssociationAmenities',
 'LeaseExpiration',
 'SubdivisionName',
 'Flooring',
 'CoListAgentEmail',
 'AccessibilityFeatures',
 'PreviousStandardStatus',
 'OwnershipType',
 'UnitNumber',
 'EndingDate',
 'ListingService',
 'AccountingType',
 'OtherPhoneNumber',
 'OffMarketTimestamp',
 'ShowingContactPhone',
 'ManagementCo',
 'ParcelMaster',
 'BodyType',
 'CurrentUse',
 'AdditionalDimensions',
 'SubdivisionNameOther',
 'ListAgentLanguages',
 'DistanceToPlaceofWorshipComments',
 'PostalCode',
 'Voltage',
 'ExistingLeaseType',
 'Phase',
 'RentalApplication',
 'Disclosures',
 'VirtualTourURLBranded',
 'Topography',
 'OwnerName',
 'Basement',
 'EstimatedCoBuyerAgentStateLicense',
 'RoomKitchenFeatures',
 'BuilderName',
 'BuyerAgentStateLicense',
 'OccupantPhoneExt',
 'AssociationPhone2Ext',
 'ListAgentMainOfficeMlsId',
 'CreditCheckPaidBy',
 'OtherStructures',
 'ManagementCoPhone',
 'OwnerPays',
 'CoListAgentMlsId',
 'WaterBodyName',
 'VirtualTourURLUnbranded2',
 'LandLeaseAmountFrequency',
 'StatusChangeTimestamp',
 'CoListOfficeFax',
 'LockBoxLocation',
 'DOH3',
 'BuyerAgencyCompensationType',
 'MajorChangeTimestamp',
 'StructureType',
 'DistanceToSchoolsComments',
 'ListAgentEmail',
 'OnMarketDate',
 'TractSubAreaCode',
 'CoBuyerAgentMainOfficeMlsId',
 'InteriorFeatures',
 'DistanceToBusComments',
 'OnMarketTimestamp',
 'CoBuyerTeamName',
 'FhaEligibility',
 'SyndicationRemarks',
 'EatingArea',
 'TaxBlock',
 'ListAgentHomePhone',
 'StreetDirSuffix',
 'DOH1',
 'DocumentsChangeTimestamp',
 'Model',
 'ReasonForSelling',
 'HoursDaysOfOperation',
 'SourceSystemKey',
 'AdditionalParcelsDescription',
 'CoListAgentAOR',
 'BuyerOfficeStateLicense',
 'AutoSoldDate',
 'PublicRemarks',
 'CoBuyerTeamEmail',
 'RVParkingDimensions',
 'PhotosChangeTimestamp',
 'AssociationManagementName3',
 'CoListAgentHomePhoneExt',
 'CoListOfficeStateLicense',
 'CoListAgentDirectPhone',
 'SourceSystemID',
 'ListAgentBrokerMlsId',
 'EstimatedCoBuyerAgentMlsId',
 'IngressEgress',
 'Utilities',
 'FinancialInfoAsOf',
 'PatioAndPorchFeatures',
 'ParkManagerName',
 'ConstructionMaterials']

In [109]:
with open('seen_objects_float_cols.txt', 'w') as f:
    print(float_cols, file=f)
len(float_cols)

187

In [71]:
raw_df = pd.DataFrame({'in_seen_objects': cols})

In [7]:
raw_df.head()

          in_seen_objects
0    CoListAgentFirstName
1             BusinessURL
2        NumberWithDrapes
3  BelowGradeFinishedArea
4    ListAgentMobilePhone

In [87]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
import pickle as pkl

import time

def pull_data(sql_query:str, file_out=None, port_num=2023, db_name='public'):
    """
    For a given sql_query, this function will connect to Perchwell's database, pull
    the corresponding data, save it to a csv in the file specified (default is 
    pw.csv), and returns that data in the form of a Pandas DataFrame.

    Args:
        sql_query (str): query whose results you wish to download
        file_out (str, optional): filepath for the output file. If None, then
            no file is created. Defaults to None.
        port_num (int, optional): Port number for Teleport Connection. Defaults
            to 2023.

    Returns:
        pd.DataFrame: DataFrame containing results of sql_query 
    """    
    if sql_query[-1] == ';':
        sql_query = sql_query[:-1]
    pw_df = []
    current_row = 0
    # Create the SQLAlchemy engine
    engine = create_engine(\
        f"postgresql://teleport:@localhost:{port_num}/{db_name}")

    query_string = f"""{sql_query}
        -- NOTE: DO NOT DELETE BELOW THIS
        LIMIT 10000 OFFSET {current_row};
        """
    start = time.time()
    try:
        # Execute the query
        print(f'new offset: {current_row}')
        with engine.connect() as conn:
            result = conn.execute(text(query_string))

            # Process the query result
            for row in result:
                # Access the row data
                pw_df.append(row)
    except:
        # in case of timeout
        engine = create_engine(\
            f"postgresql://teleport:@localhost:{port_num}/{db_name}")
        with engine.connect() as conn:
            result = conn.execute(text(query_string))
            for row in result:
                pw_df.append(row)
    pw_df = pd.DataFrame(pw_df)
    if file_out:
        pw_df.to_csv(file_out)
    print(f'time taken: {time.time() - start}')
    return pw_df

In [10]:
with open(f'data/reso_0.pkl', 'rb') as f:
    cols = list(set(pkl.load(f).columns))
reso_df = pd.DataFrame({'in_reso': cols})

FileNotFoundError: [Errno 2] No such file or directory: 'data/reso_0.pkl'

In [91]:
with open(f'gen_queries/reso/reso_data_0.sql', 'r') as f:
    sql = f.read()
reso_df = pull_data(sql, 'data/reso_0.csv', db_name='perchwell')
reso_df.dtypes

new offset: 0
time taken: 14.937081098556519

listing_id                        object
accessibility_features            object
additional_parcels_description    object
additional_parcels_y_n            object
anchors_co_tenants                object
                                   ...
standard_status                   object
state_or_province                 object
street_dir_prefix                 object
street_dir_suffix                 object
year_built_source                 object
Length: 357, dtype: object

In [9]:
num_columns = []
for col in reso_df.columns:
    if reso_df[col].dtype == np.float64:
        num_columns.append(col)

len(set(num_columns))
with open('float_cols_reso.txt', 'w') as f:
    print(set(num_columns), file=f)

NameError: name 'reso_df' is not defined

In [103]:
with open('gen_queries/listings/listings_data_0.sql', 'r') as f:
    sql = f.read()
listings_df = pull_data(sql, db_name='perchwell')
num_columns = []
for col in listings_df.columns:
    if listings_df[col].dtype == np.float64:
        num_columns.append(col)
len(set(num_columns))
with open('float_cols_babylon.txt', 'w') as f:
    print(set(num_columns), file=f)

new offset: 0
time taken: 2.8987600803375244

In [104]:
with open('gen_queries/features/features_data_0.sql', 'r') as f:
    sql = f.read()
features_df = pull_data(sql, db_name='perchwell')
num_columns = []
for col in features_df.columns:
    if features_df[col].dtype == np.float64:
        num_columns.append(col)

len(set(num_columns))
with open('float_cols_babylon.txt', 'a') as f:
    print(set(num_columns), file=f)

new offset: 0
time taken: 35.16295599937439

In [9]:
with open(f'data/listings_0.pkl', 'rb') as f:
    cols = list(pkl.load(f).columns)
with open('data/features_0.pkl', 'rb') as f:
    cols += list(pkl.load(f).columns)
babylon_df = pd.DataFrame({'in_babylon': list(set(cols))})

In [8]:
import re
def column_converter(df, col:str='', out_col:str='', conversion_type:str='lower'):
     assert (col !='') or (out_col !='')
     assert (conversion_type =='lower') or (conversion_type =='upper')
     out_lst = []
     if conversion_type=='lower':
          vals = df[col].to_list()
          for col in vals:
            tmp_val = "_".join(re.split('(?<=.)(?=[A-Z])', col)).lower()
            out_lst.append(tmp_val)
          df[out_col] = out_lst
          return df
     elif conversion_type=='upper':
         df[out_col] = df[col].str.split("_")
         vals = df[out_col].to_list()
         for col in vals:
            tmp_val = [x.capitalize() for x in col]
            out_lst.append(''.join(tmp_val))
         df[out_col] = out_lst
         return df
     else:
         print('select lower or upper for conversion_type')

In [17]:
column_converter(pd.DataFrame({'float_cols': float_cols}), col='float_cols', out_col='snake_case').to_csv('float_cols_seen_objects.csv', index=False)

In [11]:
raw_df = column_converter(raw_df,'in_seen_objects', 'transformed_col')
raw_df.head()

          in_seen_objects            transformed_col
0    CoListAgentFirstName   co_list_agent_first_name
1             BusinessURL             business_u_r_l
2        NumberWithDrapes         number_with_drapes
3  BelowGradeFinishedArea  below_grade_finished_area
4    ListAgentMobilePhone    list_agent_mobile_phone

In [12]:
col_comparison = raw_df.merge(reso_df, how='left', left_on='transformed_col', right_on='in_reso')
col_comparison[pd.isna(col_comparison['in_reso'])]

             in_seen_objects             transformed_col in_reso
1                BusinessURL              business_u_r_l     NaN
2           NumberWithDrapes          number_with_drapes     NaN
5            ParkManagerName           park_manager_name     NaN
6    BuyerOfficeStateLicense  buyer_office_state_license     NaN
7              LaundryIncome              laundry_income     NaN
..                       ...                         ...     ...
703     LandLeaseTransferFee     land_lease_transfer_fee     NaN
704          LongitudeManual            longitude_manual     NaN
706     LeaseRenewalOptionYN    lease_renewal_option_y_n     NaN
708     AssociationPhone3Ext      association_phone3_ext     NaN
711            GeocodeSource              geocode_source     NaN

[357 rows x 3 columns]

In [13]:
reso_comparison = reso_df.merge(raw_df, how='left', right_on='transformed_col', left_on='in_reso')
reso_comparison[pd.isna(reso_comparison['in_seen_objects'])]

Empty DataFrame
Columns: [in_reso, in_seen_objects, transformed_col]
Index: []

In [14]:
col_comparison[pd.isna(col_comparison['in_reso'])].to_csv('in_seen_objects_not_reso.csv', index=False)

In [15]:
pw_check = babylon_df.merge(reso_df, how='left', right_on='in_reso',left_on='in_babylon')

In [16]:
reso_check = reso_df.merge(babylon_df, how='left', left_on='in_reso',right_on='in_babylon')
reso_check[pd.isna(reso_check['in_babylon'])]

                           in_reso in_babylon
0                        room_type        NaN
2         distance_to_bus_comments        NaN
3                    fireplace_y_n        NaN
7          list_office_key_numeric        NaN
8       virtual_tour_u_r_l_branded        NaN
..                             ...        ...
344    contract_status_change_date        NaN
345     documents_change_timestamp        NaN
347                       license3        NaN
350  distance_to_electric_comments        NaN
352        status_change_timestamp        NaN

[179 rows x 2 columns]

In [17]:
pw_check[pd.isna(pw_check['in_reso'])]

           in_babylon in_reso
18        description     NaN
29           rebny_id     NaN
143  security_expense     NaN

Only in babylon:
    - description
    - security_expense
    - rebny_id

## Checking other objects in seen_objects

In [19]:
adu = pd.read_csv('data/audit_2/ADU_sample_2023_12_18.csv')

In [20]:
adu.head()

   source_id                                               data
0      64431  {'DeletedYN': '0', 'OriginatingSystemID': 'SAN...
1      59314  {'DeletedYN': '0', 'OriginatingSystemID': 'SAN...
2      78518  {'DeletedYN': '0', 'OriginatingSystemID': 'SAN...
3      71963  {'DeletedYN': '0', 'OriginatingSystemID': 'SAN...
4      78610  {'DeletedYN': '0', 'OriginatingSystemID': 'SAN...

In [34]:
import json
def get_col_counts(df):
    col_counts = {}
    errors = 0
    for d in df['data']:
        try:
            for key in json.loads(d.replace("'",'"')).keys():
                try:
                    col_counts[key] += 1
                except:
                    col_counts[key] = 1
        except json.JSONDecodeError:
            errors += 1

    print(f'num in sample: {len(df) - errors}')

    return col_counts, len(df) - errors

In [2]:
def get_raw_col_counts(df):
    col_counts = {}
    errors = 0
    for d in df['data']:
        try:
            for key in d.keys():
                try:
                    col_counts[key] += 1
                except:
                    col_counts[key] = 1
        except:
            errors += 1

    #print(f'num in sample: {len(df) - errors}')

    return col_counts, len(df) - errors

In [42]:
import os
output = []
n = []
for f in os.listdir('data/audit_2/'):
    print(f)
    i, j = get_col_counts(pd.read_csv(f'data/audit_2/{f}'))
    output.append(i)
    n.append(j)

HISTORY_sample_2023_12_18.csv
num in sample: 500000
UNIT_sample_2023_12_18.csv
num in sample: 499996
ADU_sample_2023_12_18.csv
num in sample: 500000
OFFICE_sample_2023_12_18.csv
num in sample: 499483
GREEN_sample_2023_12_18.csv
num in sample: 500000
POWER_sample_2023_12_18.csv
num in sample: 500000
AGENT_sample_2023_12_18.csv
num in sample: 499778
OPEN_HOUSE_sample_2023_12_18.csv
num in sample: 498018

In [3]:
output = []
n = []
for num in tqdm(range(100)):
    with open(f'data/seen_objects_{num}.pkl', 'rb') as f:
        i, j = get_raw_col_counts(pkl.load(f))
    output.append(i)
    n.append(j)

  0%|          | 0/100 [00:00<?, ?it/s]

In [4]:
output[-1], n[-1]

({'City': 9928,
  'Roof': 5506,
  'Zoning': 4353,
  'Cooling': 8031,
  'Latitude': 9016,
  'CloseDate': 6224,
  'CoolingYN': 8402,
  'DeletedYN': 10000,
  'LandValue': 153,
  'ListPrice': 9989,
  'ListingId': 10000,
  'Longitude': 9017,
  'ParkingYN': 6426,
  'YearBuilt': 9158,
  'Appliances': 5851,
  'AutoSoldYN': 9981,
  'ClosePrice': 6278,
  'Directions': 6868,
  'EndingDate': 8737,
  'PostalCode': 9881,
  'StreetName': 9993,
  'TenantPays': 143,
  'GrossEquity': 139,
  'LotSizeArea': 5800,
  'PhotosCount': 10000,
  'AppliancesYN': 6749,
  'CurrentPrice': 9986,
  'DaysOnMarket': 9728,
  'ListAgentAOR': 9742,
  'ListAgentFax': 5088,
  'ListingTerms': 7007,
  'LotSizeAcres': 5711,
  'LotSizeUnits': 8517,
  'MLSAreaMajor': 9410,
  'ParcelNumber': 9427,
  'ParkingTotal': 7573,
  'PoolFeatures': 7276,
  'PropertyType': 10000,
  'StoriesTotal': 4074,
  'StreetSuffix': 6761,
  'BuyerAgentAOR': 5318,
  'ContactOrder1': 7836,
  'ContactOrder2': 6954,
  'ContactOrder3': 5629,
  'ContactOrder4': 5014,
  'ContactOrder5': 5732,
  'ListOfficeAOR': 8207,
  'ListOfficeFax': 8802,
  'LotSizeSource': 6878,
  'PoolPrivateYN': 7788,
  'PublicRemarks': 9795,
  'BuyerFinancing': 4482,
  'BuyerOfficeAOR': 4608,
  'CountyOrParish': 9995,
  'DocumentsCount': 7186,
  'ExpirationDate': 9319,
  'ListAgentEmail': 9409,
  'ListAgentMlsId': 9984,
  'ListOfficeName': 9983,
  'OpenHouseCount': 7991,
  'StandardStatus': 10000,
  'BuyerAgentMlsId': 6094,
  'BuyerOfficeName': 6032,
  'ListOfficeMlsId': 9990,
  'ListOfficePhone': 9899,
  'ParkingFeatures': 5446,
  'StateOrProvince': 9879,
  'BuyerOfficeMlsId': 6088,
  'ListingAgreement': 9624,
  'OtherPhoneNumber': 1735,
  'BuildingAreaTotal': 555,
  'ListAgentLastName': 9971,
  'ListingKeyNumeric': 10000,
  'LotSizeDimensions': 1082,
  'LotSizeSquareFeet': 8232,
  'NumberOfBuildings': 491,
  'OriginalListPrice': 8927,
  'BuyerAgentLastName': 6033,
  'ImprovementsAmount': 139,
  'ListAgentFirstName': 9923,
  'NetOperatingIncome': 409,
  'NumberOfUnitsTotal': 4681,
  'PricePerSquareFoot': 9463,
  'SyndicationRemarks': 5663,
  'BuyerAgentFirstName': 6003,
  'ListAgentKeyNumeric': 9929,
  'ListingContractDate': 10000,
  'OriginatingSystemID': 10000,
  'StreetNumberNumeric': 9930,
  'BuyerAgentKeyNumeric': 5908,
  'ListAgentDirectPhone': 5878,
  'ListAgentMobilePhone': 5539,
  'ListOfficeKeyNumeric': 9911,
  'OriginatingSystemKey': 10000,
  'PurchaseContractDate': 5861,
  'BuyerOfficeKeyNumeric': 5508,
  'ListAgentStateLicense': 9156,
  'ModificationTimestamp': 10000,
  'OtherPhoneDescription': 1903,
  'StatusChangeTimestamp': 9073,
  'BuyerAgentStateLicense': 5331,
  'CumulativeDaysOnMarket': 8690,
  'OriginalEntryTimestamp': 9887,
  'BuyerAgencyCompensation': 9484,
  'ContractStatusChangeDate': 9603,
  'InternetAddressDisplayYN': 9556,
  'InternetConsumerCommentYN': 9542,
  'BuyerAgencyCompensationType': 9435,
  'BuyerAgencyCompensationNumeric': 9484,
  'InternetEntireListingDisplayYN': 9958,
  'InternetAutomatedValuationDisplayYN': 9542,
  'OriginatingSystemModificationTimestamp': 9402,
  'View': 7244,
  'ViewYN': 8197,
  'Heating': 6765,
  'PatioYN': 4731,
  'Flooring': 5633,
  'RoomType': 6113,
  'HeatingYN': 7439,
  'LaundryYN': 7265,
  'Utilities': 3921,
  'LivingArea': 8549,
  'Possession': 3992,
  'Assessments': 3963,
  'CommonWalls': 3801,
  'FireplaceYN': 7996,
  'LotFeatures': 5636,
  'SprinklersYN': 2826,
  'AssessmentsYN': 5785,
  'BedroomsTotal': 8705,
  'CoListAgentAOR': 920,
  'CoListOfficeAOR': 917,
  'CoListOfficeFax': 752,
  'LaundryFeatures': 6332,
  'OtherStructures': 559,
  'PropertySubType': 8738,
  'CoListAgentEmail': 950,
  'CoListAgentMlsId': 1138,
  'CoListOfficeName': 997,
  'CoListOfficeMlsId': 1104,
  'CoListOfficePhone': 880,
  'FireplaceFeatures': 6729,
  'LeaseConsideredYN': 4763,
  'ArchitecturalStyle': 2984,
  'PropertyAttachedYN': 6949,
  'CoListAgentLastName': 1037,
  'CoListAgentFirstName': 1033,
  'BathroomsTotalInteger': 8880,
  'CoListAgentKeyNumeric': 1001,
  'PatioAndPorchFeatures': 3829,
  'CoListAgentDirectPhone': 529,
  'CoListAgentMobilePhone': 630,
  'CoListOfficeKeyNumeric': 962,
  'CoListAgentStateLicense': 987,
  'Media': 8365,
  'SpaYN': 5070,
  'UnitNumber': 1646,
  'SpaFeatures': 4367,
  'OffMarketDate': 9551,
  'AssociationFee': 7336,
  'DepositSecurity': 1183,
  'OffMarketTimestamp': 8665,
  'PhotosChangeTimestamp': 7890,
  'ShowingContactPhoneExt': 760,
  'NumberOfUnitsInCommunity': 2426,
  'Levels': 7161,
  'AssociationYN': 5139,
  'AttachedGarageYN': 5251,
  'AssociationAmenities': 2429,
  'FenceYN': 4423,
  'Furnished': 1084,
  'DepositKey': 915,
  'EatingArea': 4648,
  'DepositPets': 908,
  'CreditAmount': 915,
  'DepositOther': 921,
  'GarageSpaces': 7765,
  'CarportSpaces': 2581,
  'ContactOrder6': 4065,
  'CreditCheckYN': 815,
  'NumberRemotes': 2465,
  'CancellationDate': 1115,
  'SaleConsideredYN': 963,
  'SignOnPropertyYN': 5452,
  'SeniorCommunityYN': 6502,
  'InsuranceWaterFurnitureYN': 928,
  'DualVariableCompensationYN': 8973,
  'Sewer': 3278,
  'Disclosures': 2484,
  'WithdrawnDate': 644,
  'SubdivisionName': 4446,
  'SecurityFeatures': 1740,
  'SubdivisionNameOther': 4332,
  'ExteriorFeatures': 748,
  'StreetDirPrefix': 1471,
  'CoListAgentFax': 382,
  'LivingAreaSource': 5764,
  'CurrentFinancing': 474,
  'InteriorFeatures': 2840,
  'LockBoxType': 6008,
  'Electric': 681,
  'Topography': 172,
  'DoorFeatures': 764,
  'WaterfrontFeatures': 179,
  'AssociationName': 1357,
  'OnMarketDate': 5192,
  'ListOfficeStateLicense': 3473,
  'BuyerOfficeStateLicense': 1971,
  'ListingService': 7678,
  'ShowingInstructions': 5506,
  'CoBuyerAgentAOR': 198,
  'CoBuyerOfficeAOR': 272,
  'CoBuyerAgentMlsId': 317,
  'CoBuyerOfficeName': 171,
  'CoBuyerOfficeMlsId': 184,
  'CoBuyerAgentLastName': 190,
  'CoBuyerAgentFirstName': 189,
  'CoBuyerAgentKeyNumeric': 182,
  'CoBuyerOfficeKeyNumeric': 180,
  'CoBuyerAgentStateLicense': 186,
  'CapRate': 335,
  'PoolExpense': 51,
  'OtherExpense': 111,
  'TrashExpense': 264,
  'ElectricExpense': 208,
  'GardenerExpense': 160,
  'InsuranceExpense': 280,
  'WaterSewerExpense': 258,
  'MaintenanceExpense': 227,
  'ProfessionalManagementExpense': 181,
  'MajorChangeType': 4458,
  'SourceSystemKey': 3641,
  'MajorChangeTimestamp': 2939,
  'PriceChangeTimestamp': 3488,
  'CoListOfficeStateLicense': 438,
  'StatusPriceChangeTimestamp': 2939,
  'VirtualTourURLUnbranded': 1375,
  'GrossIncome': 340,
  'RentControlYN': 274,
  'GrossMultiplier': 190,
  'StreetDirSuffix': 108,
  'FoundationDetails': 1847,
  'OccupantType': 6328,
  'LandLeaseAmount': 2108,
  'LandLeasePurchaseYN': 1749,
  'Exclusions': 755,
  'AdminUpdateYN': 3127,
  'ListAgentBrokerMlsId': 1846,
  'BuyerAgentBrokerMlsId': 571,
  'CoListAgentBrokerMlsId': 453,
  'CoBuyerAgentBrokerMlsId': 214,
  'ListAgentMainOfficeMlsId': 2165,
  'BuyerAgentMainOfficeMlsId': 846,
  'CoListAgentMainOfficeMlsId': 433,
  'CoBuyerAgentMainOfficeMlsId': 196,
  'VacancyAllowanceRate': 71,
  'PrivateRemarks': 8433,
  'SpecialListingConditions': 5668,
  'ConcessionsAmount': 3171,
  'EstimatedConcessionsAmount': 1182,
  'OccupantName': 2446,
  'OccupantPhone': 1944,
  'PostalCodePlus4': 3755,
  'NewTaxesExpense': 176,
  'BathroomsFull': 6975,
  'BathroomsHalf': 4548,
  'BathroomsFullAndThreeQuarter': 6775,
  'PreviousStandardStatus': 3457,
  'PreviousListPrice': 1439,
  'Fencing': 3048,
  'LandLeaseYN': 2405,
  'Neighborhood': 1432,
  'CommonInterest': 1333,
  'LivingAreaUnits': 1724,
  'UncoveredSpaces': 1497,
  'HighSchoolDistrict': 4692,
  'AdditionalParcelsYN': 2168,
  'LotDimensionsSource': 449,
  'ConstructionMaterials': 3139,
  'SellerInstructedToExcludeYN': 2056,
  'TaxLot': 5565,
  'ParkName': 678,
  'ListAgentHomePhone': 4899,
  'AssociationFeeFrequency': 1763,
  'AssociationPhone': 1087,
  'EntryLevel': 977,
  'EntryLocation': 718,
  'LockBoxSerialNumber': 399,
  'ListPriceLow': 689,
  'PetsAllowed': 1094,
  'AvailabilityDate': 431,
  'ConcessionsComments': 2098,
  'TaxOtherAnnualAssessmentAmount': 691,
  'CoListAgentHomePhone': 459,
  'WaterSource': 5180,
  'CurrentUse': 37,
  'GreenEnergyGeneration': 50,
  'BuyerAgencyCompensationRemarks': 797,
  'DocumentsChangeTimestamp': 290,
  'RoadSurfaceType': 894,
  'RoadFrontageType': 774,
  'TractSubAreaCode': 1162,
  'ShowingContactType': 4146,
  'BathroomsOneQuarter': 2005,
  'RVParkingDimensions': 145,
  'BathroomsThreeQuarter': 2352,
  'AssociationFee2Frequency': 111,
  'CommunityFeatures': 3175,
  'NumberWithPatio': 76,
  'NumberWithRange': 91,
  'GrossScheduledIncome': 352,
  'NumberWithDishwasher': 81,
  'NumberWithRefrigerator': 84,
  'ManagementCo': 94,
  'ManagementCoPhone': 76,
  'OperatingExpense': 339,
  'AssociationFee2': 1735,
  'AccessibilityFeatures': 517,
  'OtherIncome1': 46,
  'TotalExpenses': 116,
  '_PropertyUnits': 117,
  'LockBoxLocation': 2097,
  'BuilderModel': 571,
  'ShowingContactName': 3484,
  'ShowingContactPhone': 3544,
  'OtherPhoneExt': 38,
  'OccupantPhoneExt': 12,
  'CoListAgentDirectPhoneExt': 64,
  'TaxModel': 564,
  'RentIncludes': 865,
  'LeaseRenewalCompensation': 782,
  'PossibleUse': 14,
  'StreetNumber': 49,
  'GeocodeSource': 1722,
  'StartShowingDate': 294,
  'Inclusions': 448,
  'BuilderName': 419,
  'NewConstructionYN': 2168,
  'TaxRate': 166,
  'TaxYear': 162,
  'WaterWellYN': 109,
  'PresentLoans': 99,
  'TaxRateTotal': 102,
  'WellHoleSize': 54,
  'TaxAnnualAmount': 130,
  'WaterTableDepth': 53,
  'LandValuePercent': 123,
  'WellPumpHorsepower': 177,
  'CurrentGeologicalYN': 50,
  'ImprovementsPercent': 126,
  'WellGallonsPerMinute': 208,
  'PersonalPropertyAmount': 100,
  'PersonalPropertyPercent': 125,
  'FirstRepairs': 94,
  'CashiersCheck': 688,
  'SpecialAssessments': 17,
  'PropertyCondition': 1338,
  'RoomBathroomFeatures': 977,
  'TaxTract': 1154,
  'RoomKitchenFeatures': 1242,
  'NMRSellerParticipationYN': 2483,
  'BuyerAgentMainOfficeKeyNumeric': 780,
  'SourceSystemModificationTimestamp': 284,
  'StructureType': 843,
  'DirectionFaces': 547,
  'YearBuiltSource': 3888,
  'BuyerAgencyCompensationPer': 646,
  'OnMarketTimestamp': 3339,
  'Survey': 27,
  'BackOnMarketDate': 257,
  'CreditCheckPaidBy': 769,
  'CoListAgentBrokerKeyNumeric': 234,
  'ListAgentBrokerKeyNumeric': 1416,
  'BuyerAgentBrokerKeyNumeric': 431,
  'ListAgentMainOfficeKeyNumeric': 2115,
  'CoListAgentMainOfficeKeyNumeric': 310,
  'WalkScore': 464,
  'WindowFeatures': 1469,
  'AdditionalParcelsDescription': 28,
  'TaxBlock': 331,
  'FuelExpense': 42,
  'SoldCapRate': 80,
  'GarageIncome': 12,
  'NumberWallAC': 48,
  'OtherIncome2': 11,
  'PricePerUnit': 74,
  'LaundryIncome': 24,
  'ListAgentPager': 1235,
  'Average1BedArea': 47,
  'Average2BedArea': 50,
  'Average3BedArea': 43,
  'SecurityExpense': 11,
  'SuppliesExpense': 125,
  'TotalActualRent': 158,
  'NumberWithCarpet': 55,
  'NumberWithDrapes': 40,
  'VacancyAllowance': 74,
  'AverageStudioArea': 34,
  'MaintenancePercent': 41,
  'NumberWithDisposal': 67,
  'NumberOfUnitsLeased': 85,
  'GrossOperatingIncome': 42,
  'NumberOfRentedGarages': 56,
  'OperatingExpensePercent': 64,
  'NumberOfSeparateGasMeters': 272,
  'NumberOfSeparateWaterMeters': 268,
  'NumberOfSeparateElectricMeters': 271,
  'Elevation': 16,
  'WellDepth': 15,
  'Improvements': 70,
  'UsableLandPercent': 45,
  'ContingentDate': 76,
  'TaxTractNumber': 4745,
  'ListAgentVoiceMail': 2240,
  'ListAgentLanguages': 44,
  'CoListAgentPager': 66,
  'CurrentUseComments': 60,
  'PossibleUseComments': 90,
  'DistanceToGasComments': 39,
  'DistanceToSewerComments': 38,
  'DistanceToWaterComments': 222,
  'DistanceToElectricComments': 48,
  'LicensesExpense': 130,
  'LeaseTerm': 813,
  'TransferFee': 292,
  'TotalMoveInCosts': 64,
  'SoilType': 10,
  'OwnerName': 1376,
  'LandLeaseAmountFrequency': 39,
  'CableTvExpense': 118,
  'PestControlExpense': 122,
  'GrossSpendableIncome': 45,
  'FurnitureReplacementExpense': 75,
  'WorkmansCompensationExpense': 118,
  'Country': 4404,
  'GreenLocation': 6,
  'CoListAgentVoiceMail': 132,
  'LandLeaseExpirationDate': 6,
  'Phase': 21,
  'TotalMonthlyRent': 62,
  'ResidentManagerExpense': 5,
  'AssociationManagementName': 286,
  'VirtualTourURLUnbranded2': 118,
  'VirtualTourURLBranded': 516,
  'EstimatedBuyerAgentStateLicense': 829,
  'CoBuyerAgentBrokerKeyNumeric': 38,
  'CoBuyerAgentMainOfficeKeyNumeric': 56,
  'GeocodeOverrideYN': 13,
  '_PropertyAdu': 50,
  'ListAgentEmailConfidential': 3962,
  'TaxOtherAnnualAssessmentAmountSource': 299,
  'Make': 96,
  'ZoningDescription': 88,
  'CoBuyerOfficeStateLicense': 94,
  'ParkingRatio': 27,
  'DOH1': 148,
  'DOH2': 71,
  'SerialU': 136,
  'SerialX': 77,
  'License1': 190,
  'CoListAgentLanguages': 6,
  'OtherFees': 71,
  'FhaEligibility': 243,
  'Have': 68,
  'IngressEgress': 19,
  'DistanceToStreetComments': 23,
  'GreenEnergyEfficient': 50,
  'License2': 49,
  'TaxesPercent': 54,
  'Model': 86,
  'MobileWidth': 132,
  'MobileLength': 132,
  'NumberOfPads': 53,
  'NumberOfSheds': 66,
  'ParkManagerName': 121,
  'MobileHomeRemainsYN': 112,
  'BodyType': 81,
  'ParkManagerPhone': 73,
  'Skirt': 39,
  'ManagerApprovalYN': 80,
  'WaterBodyName': 24,
  'ElementarySchool': 450,
  'ElementarySchool2': 450,
  'HighSchool': 507,
  'HighSchool2': 507,
  'MiddleOrJuniorSchool': 434,
  'MiddleOrJuniorSchool2': 434,
  'AssociationManagementName2': 14,
  'DPResourceYN': 355,
  'AssetClass': 32,
  'ExistingLeaseType': 51,
  'RVParkingFee': 2,
  'HoldDate': 256,
  'LaundryEquipmentOwnLease': 34,
  'Contingency': 354,
  'InventoryValue': 6,
  'LeaseRenewalOptionYN': 17,
  'CoListAgentHomePhoneExt': 89,
  'CoListAgentVoiceMailExt': 97,
  'CoListAgentTollFreePhoneExt': 90,
  'Basement': 12,
  'BusinessType': 49,
  'LandUse': 37,
  'RentMax': 26,
  'RentMin': 65,
  'DivisibleSQFT': 30,
  'BuildingStatus': 54,
  'TotalBuildingNRA': 22,
  'ClearanceHeightMax': 3,
  'ClearanceHeightMin': 25,
  'OfficeSquareFootage': 39,
  'RetailSquareFootage': 6,
  'OfficeSquareFootageMax': 1,
  'OfficeSquareFootageMin': 11,
  'IndustrialSquareFootage': 4,
  'HighTechFlexSquareFootage': 1,
  'IndustrialSquareFootageMax': 2,
  'IndustrialSquareFootageMin': 4,
  'LargestContigiousSquareFootage': 16,
  'TaxCensusTract': 1215,
  'OffersEmail': 924,
  'CurrentCommercialUse': 8,
  'BusinessName': 37,
  'YearEstablished': 25,
  'AssociationName2': 45,
  'DistanceToBusComments': 13,
  'DistanceToFreewayComments': 17,
  'DistanceToSchoolsComments': 19,
  'DistanceToShoppingComments': 15,
  'DistanceToPlaceofWorshipComments': 14,
  'DistanceToPhoneServiceComments': 23,
  'Cleared': 17,
  'OwnershipType': 33,
  'SeatingCapacity': 5,
  'NumberOfFullTimeEmployees': 39,
  'LatitudeManual': 144,
  'LongitudeManual': 144,
  'EstimatedCloseDate': 1621,
  'EstimatedClosePrice': 1731,
  'MinimumDownAmount': 7,
  'DOH3': 7,
  'SerialXX': 23,
  'EstimatedBuyerAgentAOR': 836,
  'EstimatedBuyerOfficeAOR': 739,
  'EstimatedBuyerAgentMlsId': 890,
  'EstimatedBuyerOfficeName': 855,
  'EstimatedBuyerOfficeMlsId': 855,
  'EstimatedBuyerAgentLastName': 855,
  'EstimatedBuyerAgentFirstName': 855,
  'EstimatedBuyerAgentKeyNumeric': 856,
  'EstimatedBuyerOfficeKeyNumeric': 855,
  'EstimatedCoBuyerAgentAOR': 13,
  'EstimatedCoBuyerOfficeAOR': 13,
  'EstimatedCoBuyerAgentMlsId': 23,
  'EstimatedCoBuyerOfficeName': 15,
  'EstimatedCoBuyerOfficeMlsId': 15,
  'EstimatedConcessionsComments': 657,
  'EstimatedCoBuyerAgentLastName': 15,
  'EstimatedCoBuyerAgentFirstName': 15,
  'EstimatedCoBuyerAgentKeyNumeric': 15,
  'EstimatedCoBuyerOfficeKeyNumeric': 15,
  'EstimatedCoBuyerAgentStateLicense': 14,
  'TransferFeePaidBy': 495,
  'FinancialRemarks': 62,
  'ListAgentVoiceMailExt': 645,
  'DocumentNumber': 8,
  'EstimatedBuyerFinancing': 109,
  'CondoArea': 61,
  'PricePerLotSquareFoot': 338,
  'HoldActivationDate': 231,
  'ElevationUnits': 1405,
  'LockBoxVersion': 392,
  'MainLevelBedrooms': 1260,
  'MainLevelBathrooms': 1261,
  'AdditionalRentForPets': 281,
  'BelowGradeFinishedAreaUnits': 289,
  'BuildingAreaUnits': 102,
  'Average1BedAreaUnits': 44,
  'Average2BedAreaUnits': 44,
  'Average3BedAreaUnits': 45,
  'AverageStudioAreaUnits': 44,
  'CondoAreaUnits': 41,
  'AutoSoldDate': 67,
  'LeasableAreaUnits': 33,
  'MaxTotalAreaUnits': 19,
  'MinTotalAreaUnits': 19,
  'ListAgentDirectPhoneExt': 132,
  'ContingencyList': 215,
  'PowerProductionYN': 452,
  'GreenVerificationYN': 408,
  'RentalApplication': 68,
  'IDXContactInfo': 88,
  'CDOMResetYN': 13,
  'OtherIncomeDescription': 2,
  'ListAgentTollFreePhone': 94,
  'TaxArea': 71,
  'LoanPayment': 26,
  'OtherExpenseDescription': 54,
  'ListOfficePhoneExt': 452,
  'ListAgentHomePhoneExt': 485,
  'ListAgentTollFreePhoneExt': 494,
  'CoListOfficePhoneExt': 95,
  'SourceSystemID': 5,
  'BuildingName': 268,
  'EffectiveGross': 4,
  'AdditionalDimensions': 4,
  'StreetSuffixModifier': 5,
  'BelowGradeFinishedArea': 26,
  'Points': 13,
  'Trees': 10,
  'MoveIn': 22,
  'Voltage': 19,
  'Amperage': 20,
  'MinTotalArea': 27,
  'InternetSendListPriceYN': 82,
  'BuildingExpenses': 22,
  'OfficeType': 14,
  'RetailCenterType': 9,
  'InvestmentPropertyYN': 64,
  'ParcelMaster': 25,
  'AccountingType': 9,
  'OwnerPhone': 8,
  'BusinessURL': 5,
  'MaxTotalArea': 4,
  'Occupancy': 18,
  'OfficeClass': 6,
  'URLDescription': 3,
  'AnchorsCoTenants': 4,
  'Signage': 6,
  'LeasableArea': 24,
  'NumberOfPartTimeEmployees': 39,
  'LeaseExpiration': 7,
  'HoursOwnerWorks': 17,
  'ReasonForSelling': 27,
  'NetProfit': 11,
  'EquipmentValue': 7,
  'LeaseAssignableYN': 12,
  'YearsCurrentOwner': 9,
  'SpecialLicenses': 9,
  'MonthlyNNN': 3,
  'EstimatedBuyerOfficeStateLicense': 55,
  'AdNumber': 53,
  'CoListAgentTollFreePhone': 9,
  'WellReportYN': 11,
  'LandLeaseAmountSource': 13,
  '_PropertyPowerProduction': 5,
  'ListTeamKey': 18,
  'ListTeamName': 18,
  'ListTeamKeyNumeric': 18,
  'BuildingFeatures': 6,
  'BuyerTeamKey': 3,
  'BuyerTeamName': 3,
  'ListTeamEmail': 6,
  'BuyerTeamEmail': 1,
  'BuyerTeamKeyNumeric': 3,
  'CoListTeamKey': 4,
  'CoListTeamName': 4,
  'CoListTeamEmail': 1,
  'CoListTeamKeyNumeric': 4,
  'ProbateAuthority': 5,
  'FinancialInfoAsOf': 5,
  'HoursDaysOfOperation': 5,
  'GreenWaterConservation': 7,
  'AssociationPhone2': 26,
  '_PropertyGreenVerification': 95,
  'EstimatedCoBuyerOfficeStateLicense': 1,
  'OwnerPays': 4,
  'Certified433aYN': 4,
  'EquipmentExpense': 1,
  'LandLeaseRenewalDate': 1,
  'AssociationPhoneExt': 11,
  'LandLeaseTransferFee': 18,
  'IndustrialType': 5,
  'AssociationName3': 1,
  'AssociationPhone3': 2,
  'AdvertisingExpense': 1,
  'RealEstateTaxExpense': 3,
  'ResidentialSquareFootage': 1,
  'EstimatedBuyerTeamKey': 1,
  'EstimatedBuyerTeamName': 1,
  'EstimatedBuyerTeamKeyNumeric': 1,
  'ContingencyEndDate': 16,
  'EstimatedCoBuyerTeamKey': 1,
  'TaxMapNumber': 1,
  'License3': 1},
 10000)

In [5]:
count = 0
for o in output:
    for k in o.keys():
        o[k] = [o[k], n[count]]
    count += 1

In [7]:
for k in output[-1].keys():
    if 'tax' in k.lower():
        print(k, output[-1][k])

NewTaxesExpense [176, 10000]
TaxLot [5565, 10000]
TaxOtherAnnualAssessmentAmount [691, 10000]
TaxModel [564, 10000]
TaxRate [166, 10000]
TaxYear [162, 10000]
TaxRateTotal [102, 10000]
TaxAnnualAmount [130, 10000]
TaxTract [1154, 10000]
TaxBlock [331, 10000]
TaxTractNumber [4745, 10000]
TaxOtherAnnualAssessmentAmountSource [299, 10000]
TaxesPercent [54, 10000]
TaxCensusTract [1215, 10000]
TaxArea [71, 10000]
RealEstateTaxExpense [3, 10000]
TaxMapNumber [1, 10000]

In [47]:
retval = {}
names = os.listdir('data/audit_2/')
names = [x.split('_')[0] for x in names]
for i in range(len(output)):
    tmp = pd.DataFrame(output[i]).T
    tmp.columns = ['num_not_null', 'num_in_sample']
    tmp['pct_data'] = tmp['num_not_null'] / tmp['num_in_sample']
    retval[names[i]] = tmp

retval

{'HISTORY':                            num_not_null  num_in_sample  pct_data
 NewValue                          50000          50000   1.00000
 ClassName                         50000          50000   1.00000
 FieldName                         50000          50000   1.00000
 ResourceName                      50000          50000   1.00000
 PreviousValue                     27573          50000   0.55146
 TransactionType                   50000          50000   1.00000
 HistoryKeyNumeric                 50000          50000   1.00000
 OriginatingSystemID               50000          50000   1.00000
 ModificationTimestamp             50000          50000   1.00000
 ResourceRecordKeyNumeric          50000          50000   1.00000
 ChangedByMemberKeyNumeric         20706          50000   0.41412,
 'UNIT':                           num_not_null  num_in_sample  pct_data
 DeletedYN                        49996          49996  1.000000
 UnitTypeType                     49996          49996  1.000000
 UnitKeyNumeric                   49996          49996  1.000000
 ListingKeyNumeric                49996          49996  1.000000
 OriginatingSystemID              49996          49996  1.000000
 OriginatingSystemKey             49996          49996  1.000000
 ModificationTimestamp            49996          49996  1.000000
 UnitTypeProForma                 23447          49996  0.468978
 UnitTypeBedsTotal                40436          49996  0.808785
 UnitTypeFurnished                23535          49996  0.470738
 UnitTypeBathsTotal               46967          49996  0.939415
 UnitTypeTotalRent                23560          49996  0.471238
 UnitTypeActualRent               40435          49996  0.808765
 UnitTypeUnitsTotal               25091          49996  0.501860
 UnitTypeGarageSpaces             16006          49996  0.320146
 UnitTypeGarageAttachedYN         11139          49996  0.222798
 UnitTypeArea                       690          49996  0.013801
 UnitTypeAreaUnits                  583          49996  0.011661
 UnitTypeDescription                768          49996  0.015361,
 'ADU':                               num_not_null  num_in_sample  pct_data
 DeletedYN                            50000          50000   1.00000
 OriginatingSystemID                  50000          50000   1.00000
 PropertyADUParkingYN                 49777          50000   0.99554
 ModificationTimestamp                50000          50000   1.00000
 PropertyADUKeyNumeric                50000          50000   1.00000
 PropertyADUOccupiedYN                48876          50000   0.97752
 PropertyADUYN                         8273          50000   0.16546
 ListingKeyNumeric                    25586          50000   0.51172
 PropertyADUYearBuilt                  1197          50000   0.02394
 PropertyADUKitchenFeatures            1978          50000   0.03956
 PropertyADULivingAreaSource           1670          50000   0.03340
 PropertyADUAttachedYN                31471          50000   0.62942
 PropertyADUBedroomsTotal              2074          50000   0.04148
 PropertyADUBathroomsTotal             2056          50000   0.04112
 PropertyADUYearBuiltSource             905          50000   0.01810
 PropertyADURentedYN                  30479          50000   0.60958
 PropertyADUSeparateAddressYN         30494          50000   0.60988
 PropertyADUElectricMeter              1155          50000   0.02310
 PropertyADUType                       1974          50000   0.03948
 PropertyADUGasMeter                   1032          50000   0.02064
 PropertyADUEntryLevel                 1361          50000   0.02722
 PropertyADULivingArea                 1590          50000   0.03180
 PropertyADUWaterMeter                  987          50000   0.01974
 PropertyADURentedUntilDate             283          50000   0.00566
 PropertyADURent                        276          50000   0.00552
 PropertyADUAccessType                  689          50000   0.01378
 PropertyADUCount                        12          50000   0.00024,
 'OFFICE':                                         num_not_null  num_in_sample  pct_data
 RPRYN                                          31433          49483  0.635228
 OfficeAOR                                      49442          49483  0.999171
 OfficeFax                                      31492          49483  0.636421
 OfficeCity                                     48691          49483  0.983995
 OfficeName                                     49422          49483  0.998767
 OfficeMlsId                                    49483          49483  1.000000
 OfficePhone                                    48906          49483  0.988339
 SyndicateTo                                    26591          49483  0.537376
 OfficeStatus                                   49483          49483  1.000000
 OfficeCountry                                  16059          49483  0.324536
 OfficeAddress1                                 48708          49483  0.984338
 MainOfficeMlsId                                36179          49483  0.731140
 RealtorDotComYN                                49480          49483  0.999939
 OfficeKeyNumeric                               49483          49483  1.000000
 OfficePostalCode                               44789          49483  0.905139
 OfficeBrokerMlsId                              37882          49483  0.765556
 OfficeMlsAccessYN                              41894          49483  0.846634
 OtherAdvertisingYN                             27950          49483  0.564840
 OriginatingSystemID                            49483          49483  1.000000
 MainOfficeKeyNumeric                           39359          49483  0.795404
 SyndicateAgentOption                           26573          49483  0.537013
 ModificationTimestamp                          49483          49483  1.000000
 OfficeComplianceEmail                          21908          49483  0.442738
 OfficeStateOrProvince                          48735          49483  0.984884
 SourceSystemOfficeKey                          32895          49483  0.664774
 OfficeBrokerKeyNumeric                         25238          49483  0.510034
 OfficeCorporateLicense                         28189          49483  0.569670
 OriginalEntryTimestamp                         43513          49483  0.879353
 IDXOfficeParticipationYN                       44410          49483  0.897480
 NMROfficeParticipationYN                       49483          49483  1.000000
 OriginatingSystemOfficeKey                     49483          49483  1.000000
 OfficeNationalAssociationId                    28162          49483  0.569125
 OriginatingSystemModificationTimestamp         46403          49483  0.937756
 OfficeAddress2                                  8290          49483  0.167532
 OfficeEmail                                    18815          49483  0.380232
 AdminUpdateYN                                   4981          49483  0.100661
 SocialMediaWebsiteUrlOrId                       5609          49483  0.113352
 DeletedBy                                      18860          49483  0.381141
 OfficeAssociationComments                       4114          49483  0.083140
 OfficePhoneExt                                  6537          49483  0.132106
 OfficePostalCodePlus4                           1789          49483  0.036154
 PhotosCount                                     1099          49483  0.022210
 OfficeLicense                                    825          49483  0.016672
 SourceSystemID                                  1111          49483  0.022452
 SourceSystemModificationTimestamp               1672          49483  0.033789
 OriginatingSystemMainOfficeKey                    90          49483  0.001819
 OriginatingSystemOfficeBrokerKey                 594          49483  0.012004,
 'GREEN':                                num_not_null  num_in_sample  pct_data
 DeletedYN                             50000          50000   1.00000
 GreenKeyNumeric                       50000          50000   1.00000
 ListingKeyNumeric                     50000          50000   1.00000
 OriginatingSystemID                   50000          50000   1.00000
 OriginatingSystemKey                  50000          50000   1.00000
 ModificationTimestamp                 50000          50000   1.00000
 GreenBuildingVerificationType          3284          50000   0.06568
 GreenVerificationBody                   174          50000   0.00348
 GreenVerificationYear                   177          50000   0.00354
 GreenVerificationRating                 139          50000   0.00278
 GreenVerificationMetric                 476          50000   0.00952,
 'POWER':                              num_not_null  num_in_sample  pct_data
 DeletedYN                           50000          50000   1.00000
 ListingKeyNumeric                   50000          50000   1.00000
 OriginatingSystemID                 50000          50000   1.00000
 OriginatingSystemKey                50000          50000   1.00000
 ModificationTimestamp               50000          50000   1.00000
 PowerProductionKeyNumeric           50000          50000   1.00000
 PowerProductionType                 47278          50000   0.94556
 PowerProductionSize                  5653          50000   0.11306
 PowerProductionYearInstall          17045          50000   0.34090
 PowerProductionAnnual                3612          50000   0.07224
 PowerProductionAnnualStatus          5370          50000   0.10740,
 'AGENT':                                    num_not_null  num_in_sample  pct_data
 DeletedYN                                 49778          49778  1.000000
 MemberAOR                                 49778          49778  1.000000
 OfficeAOR                                 49748          49778  0.999397
 OfficeFax                                 30775          49778  0.618245
 Signature                                   664          49778  0.013339
 ...                                         ...            ...       ...
 SourceSystemID                            24777          49778  0.497750
 SourceSystemModificationTimestamp         27052          49778  0.543453
 TeamLeadMlsId                                12          49778  0.000241
 PhotosCount                               14234          49778  0.285950
 MemberFullName                            18902          49778  0.379726

 [72 rows x 3 columns],
 'OPEN':                          num_not_null  num_in_sample  pct_data
 ClassID                         48003          48018  0.999688
 DeletedYN                       48018          48018  1.000000
 ListingId                       48018          48018  1.000000
 OpenHouseId                     48018          48018  1.000000
 OpenHouseDate                   48018          48018  1.000000
 OpenHouseType                   48014          48018  0.999917
 OpenHouseStatus                 48018          48018  1.000000
 OpenHouseRemarks                12424          48018  0.258736
 ListingKeyNumeric               48018          48018  1.000000
 OpenHouseEndTime2               48018          48018  1.000000
 SourceDateModified              48018          48018  1.000000
 OpenHouseKeyNumeric             48018          48018  1.000000
 OpenHouseStartTime2             48018          48018  1.000000
 OriginatingSystemID             48018          48018  1.000000
 OriginatingSystemKey            48018          48018  1.000000
 ModificationTimestamp           48018          48018  1.000000
 ShowingAgentMlsID               15942          48018  0.332000
 ShowingOfficeMlsId              15857          48018  0.330230
 OpenHouseAttendedBy             16134          48018  0.335999
 ShowingAgentKeyNumeric          15857          48018  0.330230
 ShowingOfficeKeyNumeric         15855          48018  0.330189
 Refreshments                     1358          48018  0.028281
 TourID                            424          48018  0.008830
 DrawingYN                         458          48018  0.009538
 VirtualOpenHouseURL                45          48018  0.000937}

In [51]:
def report_writer(dfs:dict, report_name:str):
    """Creates an excel report using a dictionary of dfs.

    Args:
        dfs (dict): Data
        report_name (str): Name of file.
    """
    writer = pd.ExcelWriter(report_name, engine='xlsxwriter')
    workbook = writer.book
    format = workbook.add_format()
    format.set_align('center')
    for sheetname, df in dfs.items():
        df.to_excel(writer, sheet_name=sheetname)
        worksheet = writer.sheets[sheetname]
        for idx, col in enumerate(df):
            series =df[col]
            max_len = max((
                series.astype(str).map(len).max(),
                len(str(series.name))
            ))+1
            worksheet.set_column(idx, idx, max_len, format)

    writer.close()

In [52]:
report_writer(retval, '50k_sample_seen_objects.xlsx')

In [53]:
reso_check[pd.isna(reso_check['in_babylon'])].to_clipboard(index=False)

In [54]:
reso_check.to_clipboard(index=False)

In [55]:
pw_check.to_clipboard(index=False)

In [56]:
mapping = pd.read_csv('mapping_3rd_edit.csv')

In [57]:
mapping.head()

,CRMLS_field,CRMLS_lookup,PW_field,PW_lookup,localizedField
0,OriginatingSystemID,NaN,originating_system_id,NaN,True
1,CountyOrParish,NaN,CountyOrParish,NaN,False
2,AssociationFee2,NaN,AssociationFee2,NaN,False
3,BuyerAgentAOR,NaN,BuyerAgentAOR,NaN,False
4,BuyerOfficeAOR,NaN,BuyerOfficeAOR,NaN,False

In [61]:
raw_mapping = raw_df.merge(mapping, how='left', left_on='in_seen_objects',right_on='CRMLS_field')
raw_mapping[pd.isna(raw_mapping['CRMLS_field'])]['in_seen_objects'].to_clipboard(index=False)

In [87]:
not_in_mapping = list(raw_mapping[pd.isna(raw_mapping['CRMLS_field'])]['in_seen_objects'])
print(len(not_in_mapping))
#not_in_mapping.remove('Media')

153

In [88]:
final = {}
for k in not_in_mapping:
    final[k] = [0, 0]
for i in tqdm(range(100)):
    with open(f'data/seen_objects_{i}.pkl', 'rb') as f:
        tmp_df = pkl.load(f)
    for d in tmp_df['data']:
        for k in final.keys():
            try:
                if pd.isna(d[k]):
                    final[k][0] += 1
                    final[k][1] += 1
                else:
                    final[k][1] += 1
            except KeyError:
                final[k][0] += 1
                final[k][1] += 1
            except ValueError:
                if pd.isna(d[k]).all():
                    final[k][0] += 1
                    final[k][1] += 1
                else:
                    final[k][1] += 1
final = pd.DataFrame(final).T
final.columns = ['null', 'total']
final.head()

  0%|          | 0/100 [00:00<?, ?it/s]

/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_69271/760699597.py:10: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if pd.isna(d[k]):
/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_69271/760699597.py:10: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if pd.isna(d[k]):
/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_69271/760699597.py:10: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if pd.isna(d[k]):
/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_69271/760699597.py:10: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if pd.isna(d[k]):
/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_69271/760699597.py:10: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if pd.isna(d[k]):
/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_69271/760699597.py:10: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if pd.isna(d[k]):
/var/folders/_3/v349phgn4ljd3jkf3ll9p2cm0000gp/T/ipykernel_69271/760699597.py:10: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if pd.isna(d[k]):

                            null    total
BuyerOfficeStateLicense   803336  1000000
InternetAddressDisplayYN   42598  1000000
CoListTeamEmail           999935  1000000
PricePerLotSquareFoot     962456  1000000
Neighborhood              851832  1000000

In [89]:
final.to_clipboard()