In [1]:
import pandas as pd

In [2]:
inventory = pd.read_csv('inventory.csv')

In [3]:
inventory.head()

                                             address
0           . Lynbrook Drive, Mastic Beach, NY 11951
1                .9 Marcia Place, Sayville, NY 11782
2      0 Atlantic Ocean Walk, Water Island, NY 11782
3  0 Illinois Avenue, Port Jefferson Station, NY ...
4                       0 Mill Road, Coram, NY 11727

In [4]:
def clean_address(s):
    s = s.replace('-', '')
    s = s.replace('/', '')
    s = s.replace('_', '')
    return s

In [5]:
inventory['cleaned_address'] = [clean_address(x) for x in inventory['address']]
inventory

,address,cleaned_address
0,". Lynbrook Drive, Mastic Beach, NY 11951",". Lynbrook Drive, Mastic Beach, NY 11951"
1,".9 Marcia Place, Sayville, NY 11782",".9 Marcia Place, Sayville, NY 11782"
2,"0 Atlantic Ocean Walk, Water Island, NY 11782","0 Atlantic Ocean Walk, Water Island, NY 11782"
3,"0 Illinois Avenue, Port Jefferson Station, NY ...","0 Illinois Avenue, Port Jefferson Station, NY ..."
4,"0 Mill Road, Coram, NY 11727","0 Mill Road, Coram, NY 11727"
...,...,...
17176,"99-63 66th Avenue, F11","9963 66th Avenue, F11"
17177,"99-71 163rd Road,","9971 163rd Road,"
17178,"99-78 164th Road,","9978 164th Road,"
17179,"99-79 164th Road,","9979 164th Road,"
17180,"99-79 RUSSELL STREET,","9979 RUSSELL STREET,"

In [100]:
inventory.to_clipboard(index=False)

In [6]:
map_dict = {'ALLEE': 'ALY', 'ALLEY': 'ALY', 'ALLY': 'ALY', 'ALY': 'ALY',
             'ANEX': 'ANX', 'ANNEX': 'ANX', 'ANNX': 'ANX', 'ANX': 'ANX',
'ARC': 'ARC', 'ARCADE': 'ARC', 'AV': 'AVE', 'AVE': 'AVE', 'AVEN': 'AVE',
'AVENU': 'AVE', 'AVENUE': 'AVE', 'AVN': 'AVE', 'AVNUE': 'AVE', 'BAYOO': 'BYU',
'BAYOU': 'BYU', 'BCH': 'BCH', 'BEACH': 'BCH', 'BEND': 'BND', 'BND': 'BND',
'BLF': 'BLF', 'BLUF': 'BLF', 'BLUFF': 'BLF', 'BLUFFS': 'BLFS', 'BOT': 'BTM',
'BTM': 'BTM', 'BOTTM': 'BTM', 'BOTTOM': 'BTM', 'BLVD': 'BLVD', 'BOUL': 'BLVD',
'BOULEVARD': 'BLVD', 'BOULV': 'BLVD', 'BR': 'BR', 'BRNCH': 'BR','BRANCH': 'BR',
'BRDGE': 'BRG', 'BRG': 'BRG', 'BRIDGE': 'BRG', 'BRK': 'BRK', 'BROOK': 'BRK',
'BROOKS': 'BRKS', 'BURG': 'BG', 'BURGS': 'BGS', 'BYP': 'BYP', 'BYPA': 'BYP',
'BYPAS': 'BYP', 'BYPASS': 'BYP', 'BYPS': 'BYP', 'CAMP': 'CP', 'CP': 'CP',
'CMP': 'CP', 'CANYN': 'CYN', 'CANYON': 'CYN', 'CNYN': 'CYN', 'CAPE': 'CPE',
'CPE': 'CPE', 'CAUSEWAY': 'CSWY', 'CAUSWA': 'CSWY', 'CSWY': 'CSWY',
'CEN': 'CTR', 'CENT': 'CTR', 'CENTER': 'CTR', 'CENTR': 'CTR', 'CENTRE': 'CTR',
'CNTER': 'CTR', 'CNTR': 'CTR', 'CTR': 'CTR', 'CENTERS': 'CTRS', 'CIR': 'CIR',
'CIRC': 'CIR', 'CIRCL': 'CIR', 'CIRCLE': 'CIR', 'CRCL': 'CIR', 'CRCLE': 'CIR',
'CIRCLES': 'CIRS', 'CLF': 'CLF', 'CLIFF': 'CLF', 'CLFS': 'CLFS',
'CLIFFS': 'CLFS','CLB': 'CLB', 'CLUB': 'CLB', 'COMMON': 'CMN',
'COMMONS': 'CMNS', 'COR': 'COR','CORNER': 'COR', 'CORNERS': 'CORS',
'CORS': 'CORS', 'COURSE': 'CRSE', 'CRSE': 'CRSE','COURT': 'CT', 'CT': 'CT',
'COURTS': 'CTS', 'CTS': 'CTS', 'COVE': 'CV', 'CV': 'CV', 'COVES': 'CVS',
 'CREEK': 'CRK', 'CRK': 'CRK', 'CRESCENT': 'CRES', 'CRES': 'CRES',
'CRSENT': 'CRES', 'CRSNT': 'CRES', 'CREST': 'CRST', 'CROSSING': 'XING',
'CRSSNG': 'XING', 'XING': 'XING', 'CROSSROAD': 'XRD', 'CROSSROADS': 'XRDS',
'CURVE': 'CURV', 'DALE': 'DL', 'DL': 'DL', 'DAM': 'DM', 'DM': 'DM',
'DIV': 'DV', 'DIVIDE': 'DV', 'DV': 'DV', 'DVD': 'DV', 'DR': 'DR', 'DRIV': 'DR',
'DRIVE': 'DR', 'DRV': 'DR', 'DRIVES': 'DRS', 'EST': 'EST', 'ESTATE': 'EST',
'ESTATES': 'ESTS', 'ESTS': 'ESTS', 'EXP': 'EXPY', 'EXPR': 'EXPY',
'EXPRESS': 'EXPY', 'EXPRESSWAY': 'EXPY', 'EXPW': 'EXPY', 'EXPY': 'EXPY',
'EXT': 'EXT', 'EXTENSION': 'EXT', 'EXTN': 'EXT', 'EXTNSN': 'EXT',
'EXTS': 'EXTS', 'FALL': 'FALL', 'FALLS': 'FLS', 'FLS': 'FLS', 'FERRY': 'FRY',
'FRRY': 'FRY', 'FRY': 'FRY', 'FIELD': 'FLD', 'FLD': 'FLD', 'FIELDS': 'FLDS',
'FLDS': 'FLDS', 'FLAT': 'FLT', 'FLT': 'FLT', 'FLATS': 'FLTS', 'FLTS': 'FLTS',
'FORD': 'FRD', 'FRD': 'FRD', 'FORDS': 'FRDS', 'FOREST': 'FRST',
'FORESTS': 'FRST', 'FRST': 'FRST', 'FORG': 'FRG', 'FORGE': 'FRG',
'FRG': 'FRG', 'FORGES': 'FRGS', 'FORK': 'FRK', 'FRK': 'FRK', 'FORKS': 'FRKS',
'FRKS': 'FRKS', 'FORT': 'FT', 'FRT': 'FT', 'FT': 'FT', 'FREEWAY': 'FWY',
'FREEWY': 'FWY', 'FRWAY': 'FWY', 'FRWY': 'FWY', 'FWY': 'FWY', 'GARDEN': 'GDN',
'GARDN': 'GDN', 'GRDEN': 'GDN', 'GRDN': 'GDN', 'GARDENS': 'GDNS',
'GDNS': 'GDNS', 'GRDNS': 'GDNS', 'GATEWAY': 'GTWY', 'GATEWY': 'GTWY',
'GATWAY': 'GTWY', 'GTWAY': 'GTWY', 'GTWY': 'GTWY', 'GLEN': 'GLN',
'GLN': 'GLN', 'GLENS': 'GLNS', 'GREEN': 'GRN', 'GRN': 'GRN',
'GREENS': 'GRNS', 'GROV': 'GRV', 'GROVE': 'GRV', 'GRV': 'GRV',
'GROVES': 'GRVS', 'HARB': 'HBR', 'HARBOR': 'HBR', 'HARBR': 'HBR', 'HBR': 'HBR',
'HRBOR': 'HBR', 'HARBORS': 'HBRS', 'HAVEN': 'HVN', 'HVN': 'HVN',
'HT': 'HTS', 'HTS': 'HTS', 'HIGHWAY': 'HWY', 'HIGHWY': 'HWY', 'HIWAY': 'HWY',
'HIWY': 'HWY', 'HWAY': 'HWY', 'HWY': 'HWY', 'HILL': 'HL', 'HL': 'HL',
'HILLS': 'HLS', 'HLS': 'HLS', 'HLLW': 'HOLW', 'HOLLOW': 'HOLW',
'HOLLOWS': 'HOLW', 'HOLW': 'HOLW', 'HOLWS': 'HOLW', 'INLT': 'INLT',
'IS': 'IS', 'ISLAND': 'IS', 'ISLND': 'IS', 'ISLANDS': 'ISS', 'ISLNDS': 'ISS',
'ISS': 'ISS', 'ISLE': 'ISLE', 'ISLES': 'ISLE', 'JCT': 'JCT', 'JCTION': 'JCT',
'JCTN': 'JCT', 'JUNCTION': 'JCT', 'JUNCTN': 'JCT', 'JUNCTON': 'JCT',
'JCTNS': 'JCTS', 'JCTS': 'JCTS', 'JUNCTIONS': 'JCTS', 'KEY': 'KY',
'KY': 'KY', 'KEYS': 'KYS', 'KYS': 'KYS', 'KNL': 'KNL', 'KNOL': 'KNL',
'KNOLL': 'KNL', 'KNLS': 'KNLS', 'KNOLLS': 'KNLS', 'LK': 'LK', 'LAKE': 'LK',
'LKS': 'LKS', 'LAKES': 'LKS', 'LAND': 'LAND', 'LANDING': 'LNDG',
'LNDG': 'LNDG', 'LNDNG': 'LNDG', 'LANE': 'LN', 'LN': 'LN', 'LGT': 'LGT',
'LIGHT': 'LGT', 'LIGHTS': 'LGTS', 'LF': 'LF', 'LOAF': 'LF', 'LCK': 'LCK',
'LOCK': 'LCK', 'LCKS': 'LCKS', 'LOCKS': 'LCKS', 'LDG': 'LDG', 'LDGE': 'LDG',
'LODG': 'LDG', 'LODGE': 'LDG', 'LOOP': 'LOOP', 'LOOPS': 'LOOP', 'MALL': 'MALL',
'MNR': 'MNR', 'MANOR': 'MNR', 'MANORS': 'MNRS', 'MNRS': 'MNRS', 'MEADOW': 'MDW',
'MDW': 'MDWS', 'MDWS': 'MDWS', 'MEADOWS': 'MDWS', 'MEDOWS': 'MDWS',
'MEWS': 'MEWS', 'MILL': 'ML', 'MILLS': 'MLS', 'MISSN': 'MSN', 'MSSN': 'MSN',
'MOTORWAY': 'MTWY', 'MNT': 'MT', 'MT': 'MT', 'MOUNT': 'MT', 'MNTAIN': 'MTN',
'MNTN': 'MTN', 'MOUNTAIN': 'MTN', 'MOUNTIN': 'MTN', 'MTIN': 'MTN',
'MTN': 'MTN', 'MNTNS': 'MTNS', 'MOUNTAINS': 'MTNS', 'NCK': 'NCK',
'NECK': 'NCK', 'ORCH': 'ORCH', 'ORCHARD': 'ORCH', 'ORCHRD': 'ORCH',
'OVAL': 'OVAL', 'OVL': 'OVAL', 'OVERPASS': 'OPAS', 'PARK': 'PARK',
'PRK': 'PARK', 'PARKS': 'PARK', 'PARKWAY': 'PKWY', 'PARKWY': 'PKWY',
'PKWAY': 'PKWY', 'PKWY': 'PKWY', 'PKY': 'PKWY', 'PARKWAYS': 'PKWY',
'PKWYS': 'PKWY', 'PASS': 'PASS', 'PASSAGE': 'PSGE', 'PATH': 'PATH',
'PATHS': 'PATH', 'PIKE': 'PIKE', 'PIKES': 'PIKE', 'PINE': 'PNE',
'PINES': 'PNES', 'PNES': 'PNES', 'PL': 'PL', 'PLAIN': 'PLN', 'PLN': 'PLN',
'PLAINS': 'PLNS', 'PLNS': 'PLNS', 'PLAZA': 'PLZ', 'PLZ': 'PLZ', 'PLZA': 'PLZ',
'POINT': 'PT', 'PT': 'PT', 'POINTS': 'PTS', 'PTS': 'PTS', 'PORT': 'PRT',
'PRT': 'PRT', 'PORTS': 'PRTS', 'PRTS': 'PRTS', 'PR': 'PR', 'PRAIRIE': 'PR',
'PRR': 'PR', 'RAD': 'RADL', 'RADIAL': 'RADL', 'RADIEL': 'RADL',
'RADL': 'RADL', 'RAMP': 'RAMP', 'RANCH': 'RNCH', 'RANCHES': 'RNCH',
'RNCH': 'RNCH', 'RNCHS': 'RNCH', 'RAPID': 'RPD', 'RPD': 'RPD',
'RAPIDS': 'RPDS', 'RPDS': 'RPDS', 'REST': 'RST', 'RST': 'RST', 'RDG': 'RDG',
'RDGE': 'RDG', 'RIDGE': 'RDG', 'RDGS': 'RDGS', 'RIDGES': 'RDGS', 'RIV': 'RIV',
'RIVER': 'RIV', 'RVR': 'RIV', 'RIVR': 'RIV', 'RD': 'RD', 'ROAD': 'RD',
'ROADS': 'RDS', 'RDS': 'RDS', 'ROUTE': 'RTE', 'ROW': 'ROW', 'RUE': 'RUE',
'RUN': 'RUN', 'SHL': 'SHL', 'SHOAL': 'SHL', 'SHLS': 'SHLS', 'SHOALS': 'SHLS',
'SHOAR': 'SHR', 'SHORE': 'SHR', 'SHR': 'SHR', 'SHOARS': 'SHRS',
'SHORES': 'SHRS', 'SHRS': 'SHRS', 'SKYWAY': 'SKWY', 'SPG': 'SPG',
'SPNG': 'SPG', 'SPRING': 'SPG', 'SPRNG': 'SPG', 'SPGS': 'SPGS',
'SPNGS': 'SPGS', 'SPRINGS': 'SPGS', 'SPRNGS': 'SPGS', 'SPUR': 'SPUR',
'SPURS': 'SPUR', 'SQ': 'SQ', 'SQR': 'SQ', 'SQRE': 'SQ', 'SQU': 'SQ',
'SQUARE': 'SQ', 'SQRS': 'SQS', 'SQUARES': 'SQS', 'STA': 'STA',
'STATION': 'STA', 'STATN': 'STA', 'STN': 'STA', 'STRA': 'STRA',
'STRAV': 'STRA', 'STRAVEN': 'STRA', 'STRAVENUE': 'STRA', 'STRAVN': 'STRA',
'STRVN': 'STRA', 'STRVNUE': 'STRA', 'STREAM': 'STRM', 'STREME': 'STRM',
'STRM': 'STRM', 'STREET': 'ST', 'STRT': 'ST', 'ST': 'ST', 'STR': 'ST',
'STREETS': 'STS', 'SMT': 'SMT', 'SUMIT': 'SMT', 'SUMITT': 'SMT',
'SUMMIT': 'SMT', 'TER': 'TER', 'TERR': 'TER', 'TERRACE': 'TER',
'THROUGHWAY': 'TRWY', 'TRACE': 'TRCE', 'TRACES': 'TRCE', 'TRCE': 'TRCE',
'TRACK': 'TRAK', 'TRACKS': 'TRAK', 'TRAK': 'TRAK', 'TRK': 'TRAK',
'TRKS': 'TRAK', 'TRAFFICWAY': 'TRFY', 'TRAIL': 'TRL', 'TRAILS': 'TRL',
'TRL': 'TRL', 'TRLS': 'TRL', 'TRAILER': 'TRLR', 'TRLR': 'TRLR',
'TRLRS': 'TRLR', 'TUNEL': 'TUNL', 'TUNL': 'TUNL', 'TUNLS': 'TUNL',
'TUNNEL': 'TUNL', 'TUNNELS': 'TUNL', 'TUNNL': 'TUNL', 'TRNPK': 'TPKE',
'TURNPIKE': 'TPKE', 'TURNPK': 'TPKE', 'UNDERPASS': 'UPAS', 'UN': 'UN',
'UNION': 'UN', 'UNIONS': 'UNS', 'VALLEY': 'VLY', 'VALLY': 'VLY',
'VLLY': 'VLY', 'VLY': 'VLY', 'VALLEYS': 'VLYS', 'VLYS': 'VLYS',
'VDCT': 'VIA', 'VIA': 'VIA', 'VIADCT': 'VIA', 'VIADUCT': 'VIA',
'VIEW': 'VW', 'VW': 'VW', 'VIEWS': 'VWS', 'VWS': 'VWS', 'VILL': 'VLG',
'VILLAG': 'VLG', 'VILLAGE': 'VLG', 'VILLG': 'VLG', 'VILLIAGE': 'VLG',
'VLG': 'VLG', 'VILLAGES': 'VLGS', 'VLGS': 'VLGS', 'VILLE': 'VL',
'VL': 'VL', 'VIS': 'VIS', 'VIST': 'VIS', 'VISTA': 'VIS', 'VST': 'VIS',
'VSTA': 'VIS', 'WALK': 'WALK', 'WALKS': 'WALK', 'WALL': 'WALL', 'WY': 'WAY',
'WAY': 'WAY', 'WAYS': 'WAYS', 'WELL': 'WL', 'WELLS': 'WLS', 'WLS': 'WLS',
'PLACE': 'PL', 'NORTH': 'N', 'NORTHEAST': 'NE', 'NORTHWEST': 'NW',
'SOUTH': 'S', 'SOUTHEAST': 'SE', 'SOUTHWEST': 'SW', 'EAST': 'E', 'WEST': 'W'}

In [7]:
map_dict_comma = {'ALLEE,': 'ALY,', 'ALLEY,': 'ALY,', 'ALLY,': 'ALY,', 'ALY,': 'ALY,',
             'ANEX,': 'ANX,', 'ANNEX,': 'ANX,', 'ANNX,': 'ANX,', 'ANX,': 'ANX,',
'ARC,': 'ARC,', 'ARCADE,': 'ARC,', 'AV,': 'AVE,', 'AVE,': 'AVE,', 'AVEN,': 'AVE,',
'AVENU,': 'AVE,', 'AVENUE,': 'AVE,', 'AVN,': 'AVE,', 'AVNUE,': 'AVE,', 'BAYOO,': 'BYU,',
'BAYOU,': 'BYU,', 'BCH,': 'BCH,', 'BEACH,': 'BCH,', 'BEND,': 'BND,', 'BND,': 'BND,',
'BLF,': 'BLF,', 'BLUF,': 'BLF,', 'BLUFF,': 'BLF,', 'BLUFFS,': 'BLFS,', 'BOT,': 'BTM,',
'BTM,': 'BTM,', 'BOTTM,': 'BTM,', 'BOTTOM,': 'BTM,', 'BLVD,': 'BLVD,', 'BOUL,': 'BLVD,',
'BOULEVARD,': 'BLVD,', 'BOULV,': 'BLVD,', 'BR,': 'BR,', 'BRNCH,': 'BR,','BRANCH,': 'BR,',
'BRDGE,': 'BRG,', 'BRG,': 'BRG,', 'BRIDGE,': 'BRG,', 'BRK,': 'BRK,', 'BROOK,': 'BRK,',
'BROOKS,': 'BRKS,', 'BURG,': 'BG,', 'BURGS,': 'BGS,', 'BYP,': 'BYP,', 'BYPA,': 'BYP,',
'BYPAS,': 'BYP,', 'BYPASS,': 'BYP,', 'BYPS,': 'BYP,', 'CAMP,': 'CP,', 'CP,': 'CP,',
'CMP,': 'CP,', 'CANYN,': 'CYN,', 'CANYON,': 'CYN,', 'CNYN,': 'CYN,', 'CAPE,': 'CPE,',
'CPE,': 'CPE,', 'CAUSEWAY,': 'CSWY,', 'CAUSWA,': 'CSWY,', 'CSWY,': 'CSWY,',
'CEN,': 'CTR,', 'CENT,': 'CTR,', 'CENTER,': 'CTR,', 'CENTR,': 'CTR,', 'CENTRE,': 'CTR,',
'CNTER,': 'CTR,', 'CNTR,': 'CTR,', 'CTR,': 'CTR,', 'CENTERS,': 'CTRS,', 'CIR,': 'CIR,',
'CIRC,': 'CIR,', 'CIRCL,': 'CIR,', 'CIRCLE,': 'CIR,', 'CRCL,': 'CIR,', 'CRCLE,': 'CIR,',
'CIRCLES,': 'CIRS,', 'CLF,': 'CLF,', 'CLIFF,': 'CLF,', 'CLFS,': 'CLFS,',
'CLIFFS,': 'CLFS,','CLB,': 'CLB,', 'CLUB,': 'CLB,', 'COMMON,': 'CMN,',
'COMMONS,': 'CMNS,', 'COR,': 'COR,','CORNER,': 'COR,', 'CORNERS,': 'CORS,',
'CORS,': 'CORS,', 'COURSE,': 'CRSE,', 'CRSE,': 'CRSE,','COURT,': 'CT,', 'CT,': 'CT,',
'COURTS,': 'CTS,', 'CTS,': 'CTS,', 'COVE,': 'CV,', 'CV,': 'CV,', 'COVES,': 'CVS,',
 'CREEK,': 'CRK,', 'CRK,': 'CRK,', 'CRESCENT,': 'CRES,', 'CRES,': 'CRES,',
'CRSENT,': 'CRES,', 'CRSNT,': 'CRES,', 'CREST,': 'CRST,', 'CROSSING,': 'XING,',
'CRSSNG,': 'XING,', 'XING,': 'XING,', 'CROSSROAD,': 'XRD,', 'CROSSROADS,': 'XRDS,',
'CURVE,': 'CURV,', 'DALE,': 'DL,', 'DL,': 'DL,', 'DAM,': 'DM,', 'DM,': 'DM,',
'DIV,': 'DV,', 'DIVIDE,': 'DV,', 'DV,': 'DV,', 'DVD,': 'DV,', 'DR,': 'DR,', 'DRIV,': 'DR,',
'DRIVE,': 'DR,', 'DRV,': 'DR,', 'DRIVES,': 'DRS,', 'EST,': 'EST,', 'ESTATE,': 'EST,',
'ESTATES,': 'ESTS,', 'ESTS,': 'ESTS,', 'EXP,': 'EXPY,', 'EXPR,': 'EXPY,',
'EXPRESS,': 'EXPY,', 'EXPRESSWAY,': 'EXPY,', 'EXPW,': 'EXPY,', 'EXPY,': 'EXPY,',
'EXT,': 'EXT,', 'EXTENSION,': 'EXT,', 'EXTN,': 'EXT,', 'EXTNSN,': 'EXT,',
'EXTS,': 'EXTS,', 'FALL,': 'FALL,', 'FALLS,': 'FLS,', 'FLS,': 'FLS,', 'FERRY,': 'FRY,',
'FRRY,': 'FRY,', 'FRY,': 'FRY,', 'FIELD,': 'FLD,', 'FLD,': 'FLD,', 'FIELDS,': 'FLDS,',
'FLDS,': 'FLDS,', 'FLAT,': 'FLT,', 'FLT,': 'FLT,', 'FLATS,': 'FLTS,', 'FLTS,': 'FLTS,',
'FORD,': 'FRD,', 'FRD,': 'FRD,', 'FORDS,': 'FRDS,', 'FOREST,': 'FRST,',
'FORESTS,': 'FRST,', 'FRST,': 'FRST,', 'FORG,': 'FRG,', 'FORGE,': 'FRG,',
'FRG,': 'FRG,', 'FORGES,': 'FRGS,', 'FORK,': 'FRK,', 'FRK,': 'FRK,', 'FORKS,': 'FRKS,',
'FRKS,': 'FRKS,', 'FORT,': 'FT,', 'FRT,': 'FT,', 'FT,': 'FT,', 'FREEWAY,': 'FWY,',
'FREEWY,': 'FWY,', 'FRWAY,': 'FWY,', 'FRWY,': 'FWY,', 'FWY,': 'FWY,', 'GARDEN,': 'GDN,',
'GARDN,': 'GDN,', 'GRDEN,': 'GDN,', 'GRDN,': 'GDN,', 'GARDENS,': 'GDNS,',
'GDNS,': 'GDNS,', 'GRDNS,': 'GDNS,', 'GATEWAY,': 'GTWY,', 'GATEWY,': 'GTWY,',
'GATWAY,': 'GTWY,', 'GTWAY,': 'GTWY,', 'GTWY,': 'GTWY,', 'GLEN,': 'GLN,',
'GLN,': 'GLN,', 'GLENS,': 'GLNS,', 'GREEN,': 'GRN,', 'GRN,': 'GRN,',
'GREENS,': 'GRNS,', 'GROV,': 'GRV,', 'GROVE,': 'GRV,', 'GRV,': 'GRV,',
'GROVES,': 'GRVS,', 'HARB,': 'HBR,', 'HARBOR,': 'HBR,', 'HARBR,': 'HBR,', 'HBR,': 'HBR,',
'HRBOR,': 'HBR,', 'HARBORS,': 'HBRS,', 'HAVEN,': 'HVN,', 'HVN,': 'HVN,',
'HT,': 'HTS,', 'HTS,': 'HTS,', 'HIGHWAY,': 'HWY,', 'HIGHWY,': 'HWY,', 'HIWAY,': 'HWY,',
'HIWY,': 'HWY,', 'HWAY,': 'HWY,', 'HWY,': 'HWY,', 'HILL,': 'HL,', 'HL,': 'HL,',
'HILLS,': 'HLS,', 'HLS,': 'HLS,', 'HLLW,': 'HOLW,', 'HOLLOW,': 'HOLW,',
'HOLLOWS,': 'HOLW,', 'HOLW,': 'HOLW,', 'HOLWS,': 'HOLW,', 'INLT,': 'INLT,',
'IS,': 'IS,', 'ISLAND,': 'IS,', 'ISLND,': 'IS,', 'ISLANDS,': 'ISS,', 'ISLNDS,': 'ISS,',
'ISS,': 'ISS,', 'ISLE,': 'ISLE,', 'ISLES,': 'ISLE,', 'JCT,': 'JCT,', 'JCTION,': 'JCT,',
'JCTN,': 'JCT,', 'JUNCTION,': 'JCT,', 'JUNCTN,': 'JCT,', 'JUNCTON,': 'JCT,',
'JCTNS,': 'JCTS,', 'JCTS,': 'JCTS,', 'JUNCTIONS,': 'JCTS,', 'KEY,': 'KY,',
'KY,': 'KY,', 'KEYS,': 'KYS,', 'KYS,': 'KYS,', 'KNL,': 'KNL,', 'KNOL,': 'KNL,',
'KNOLL,': 'KNL,', 'KNLS,': 'KNLS,', 'KNOLLS,': 'KNLS,', 'LK,': 'LK,', 'LAKE,': 'LK,',
'LKS,': 'LKS,', 'LAKES,': 'LKS,', 'LAND,': 'LAND,', 'LANDING,': 'LNDG,',
'LNDG,': 'LNDG,', 'LNDNG,': 'LNDG,', 'LANE,': 'LN,', 'LN,': 'LN,', 'LGT,': 'LGT,',
'LIGHT,': 'LGT,', 'LIGHTS,': 'LGTS,', 'LF,': 'LF,', 'LOAF,': 'LF,', 'LCK,': 'LCK,',
'LOCK,': 'LCK,', 'LCKS,': 'LCKS,', 'LOCKS,': 'LCKS,', 'LDG,': 'LDG,', 'LDGE,': 'LDG,',
'LODG,': 'LDG,', 'LODGE,': 'LDG,', 'LOOP,': 'LOOP,', 'LOOPS,': 'LOOP,', 'MALL,': 'MALL,',
'MNR,': 'MNR,', 'MANOR,': 'MNR,', 'MANORS,': 'MNRS,', 'MNRS,': 'MNRS,', 'MEADOW,': 'MDW,',
'MDW,': 'MDWS,', 'MDWS,': 'MDWS,', 'MEADOWS,': 'MDWS,', 'MEDOWS,': 'MDWS,',
'MEWS,': 'MEWS,', 'MILL,': 'ML,', 'MILLS,': 'MLS,', 'MISSN,': 'MSN,', 'MSSN,': 'MSN,',
'MOTORWAY,': 'MTWY,', 'MNT,': 'MT,', 'MT,': 'MT,', 'MOUNT,': 'MT,', 'MNTAIN,': 'MTN,',
'MNTN,': 'MTN,', 'MOUNTAIN,': 'MTN,', 'MOUNTIN,': 'MTN,', 'MTIN,': 'MTN,',
'MTN,': 'MTN,', 'MNTNS,': 'MTNS,', 'MOUNTAINS,': 'MTNS,', 'NCK,': 'NCK,',
'NECK,': 'NCK,', 'ORCH,': 'ORCH,', 'ORCHARD,': 'ORCH,', 'ORCHRD,': 'ORCH,',
'OVAL,': 'OVAL,', 'OVL,': 'OVAL,', 'OVERPASS,': 'OPAS,', 'PARK,': 'PARK,',
'PRK,': 'PARK,', 'PARKS,': 'PARK,', 'PARKWAY,': 'PKWY,', 'PARKWY,': 'PKWY,',
'PKWAY,': 'PKWY,', 'PKWY,': 'PKWY,', 'PKY,': 'PKWY,', 'PARKWAYS,': 'PKWY,',
'PKWYS,': 'PKWY,', 'PASS,': 'PASS,', 'PASSAGE,': 'PSGE,', 'PATH,': 'PATH,',
'PATHS,': 'PATH,', 'PIKE,': 'PIKE,', 'PIKES,': 'PIKE,', 'PINE,': 'PNE,',
'PINES,': 'PNES,', 'PNES,': 'PNES,', 'PL,': 'PL,', 'PLAIN,': 'PLN,', 'PLN,': 'PLN,',
'PLAINS,': 'PLNS,', 'PLNS,': 'PLNS,', 'PLAZA,': 'PLZ,', 'PLZ,': 'PLZ,', 'PLZA,': 'PLZ,',
'POINT,': 'PT,', 'PT,': 'PT,', 'POINTS,': 'PTS,', 'PTS,': 'PTS,', 'PORT,': 'PRT,',
'PRT,': 'PRT,', 'PORTS,': 'PRTS,', 'PRTS,': 'PRTS,', 'PR,': 'PR,', 'PRAIRIE,': 'PR,',
'PRR,': 'PR,', 'RAD,': 'RADL,', 'RADIAL,': 'RADL,', 'RADIEL,': 'RADL,',
'RADL,': 'RADL,', 'RAMP,': 'RAMP,', 'RANCH,': 'RNCH,', 'RANCHES,': 'RNCH,',
'RNCH,': 'RNCH,', 'RNCHS,': 'RNCH,', 'RAPID,': 'RPD,', 'RPD,': 'RPD,',
'RAPIDS,': 'RPDS,', 'RPDS,': 'RPDS,', 'REST,': 'RST,', 'RST,': 'RST,', 'RDG,': 'RDG,',
'RDGE,': 'RDG,', 'RIDGE,': 'RDG,', 'RDGS,': 'RDGS,', 'RIDGES,': 'RDGS,', 'RIV,': 'RIV,',
'RIVER,': 'RIV,', 'RVR,': 'RIV,', 'RIVR,': 'RIV,', 'RD,': 'RD,', 'ROAD,': 'RD,',
'ROADS,': 'RDS,', 'RDS,': 'RDS,', 'ROUTE,': 'RTE,', 'ROW,': 'ROW,', 'RUE,': 'RUE,',
'RUN,': 'RUN,', 'SHL,': 'SHL,', 'SHOAL,': 'SHL,', 'SHLS,': 'SHLS,', 'SHOALS,': 'SHLS,',
'SHOAR,': 'SHR,', 'SHORE,': 'SHR,', 'SHR,': 'SHR,', 'SHOARS,': 'SHRS,',
'SHORES,': 'SHRS,', 'SHRS,': 'SHRS,', 'SKYWAY,': 'SKWY,', 'SPG,': 'SPG,',
'SPNG,': 'SPG,', 'SPRING,': 'SPG,', 'SPRNG,': 'SPG,', 'SPGS,': 'SPGS,',
'SPNGS,': 'SPGS,', 'SPRINGS,': 'SPGS,', 'SPRNGS,': 'SPGS,', 'SPUR,': 'SPUR,',
'SPURS,': 'SPUR,', 'SQ,': 'SQ,', 'SQR,': 'SQ,', 'SQRE,': 'SQ,', 'SQU,': 'SQ,',
'SQUARE,': 'SQ,', 'SQRS,': 'SQS,', 'SQUARES,': 'SQS,', 'STA,': 'STA,',
'STATION,': 'STA,', 'STATN,': 'STA,', 'STN,': 'STA,', 'STRA,': 'STRA,',
'STRAV,': 'STRA,', 'STRAVEN,': 'STRA,', 'STRAVENUE,': 'STRA,', 'STRAVN,': 'STRA,',
'STRVN,': 'STRA,', 'STRVNUE,': 'STRA,', 'STREAM,': 'STRM,', 'STREME,': 'STRM,',
'STRM,': 'STRM,', 'STREET,': 'ST,', 'STRT,': 'ST,', 'ST,': 'ST,', 'STR,': 'ST,',
'STREETS,': 'STS,', 'SMT,': 'SMT,', 'SUMIT,': 'SMT,', 'SUMITT,': 'SMT,',
'SUMMIT,': 'SMT,', 'TER,': 'TER,', 'TERR,': 'TER,', 'TERRACE,': 'TER,',
'THROUGHWAY,': 'TRWY,', 'TRACE,': 'TRCE,', 'TRACES,': 'TRCE,', 'TRCE,': 'TRCE,',
'TRACK,': 'TRAK,', 'TRACKS,': 'TRAK,', 'TRAK,': 'TRAK,', 'TRK,': 'TRAK,',
'TRKS,': 'TRAK,', 'TRAFFICWAY,': 'TRFY,', 'TRAIL,': 'TRL,', 'TRAILS,': 'TRL,',
'TRL,': 'TRL,', 'TRLS,': 'TRL,', 'TRAILER,': 'TRLR,', 'TRLR,': 'TRLR,',
'TRLRS,': 'TRLR,', 'TUNEL,': 'TUNL,', 'TUNL,': 'TUNL,', 'TUNLS,': 'TUNL,',
'TUNNEL,': 'TUNL,', 'TUNNELS,': 'TUNL,', 'TUNNL,': 'TUNL,', 'TRNPK,': 'TPKE,',
'TURNPIKE,': 'TPKE,', 'TURNPK,': 'TPKE,', 'UNDERPASS,': 'UPAS,', 'UN,': 'UN,',
'UNION,': 'UN,', 'UNIONS,': 'UNS,', 'VALLEY,': 'VLY,', 'VALLY,': 'VLY,',
'VLLY,': 'VLY,', 'VLY,': 'VLY,', 'VALLEYS,': 'VLYS,', 'VLYS,': 'VLYS,',
'VDCT,': 'VIA,', 'VIA,': 'VIA,', 'VIADCT,': 'VIA,', 'VIADUCT,': 'VIA,',
'VIEW,': 'VW,', 'VW,': 'VW,', 'VIEWS,': 'VWS,', 'VWS,': 'VWS,', 'VILL,': 'VLG,',
'VILLAG,': 'VLG,', 'VILLAGE,': 'VLG,', 'VILLG,': 'VLG,', 'VILLIAGE,': 'VLG,',
'VLG,': 'VLG,', 'VILLAGES,': 'VLGS,', 'VLGS,': 'VLGS,', 'VILLE,': 'VL,',
'VL,': 'VL,', 'VIS,': 'VIS,', 'VIST,': 'VIS,', 'VISTA,': 'VIS,', 'VST,': 'VIS,',
'VSTA,': 'VIS,', 'WALK,': 'WALK,', 'WALKS,': 'WALK,', 'WALL,': 'WALL,', 'WY,': 'WAY,',
'WAY,': 'WAY,', 'WAYS,': 'WAYS,', 'WELL,': 'WL,', 'WELLS,': 'WLS,', 'WLS,': 'WLS,',
'PLACE,': 'PL,', 'NORTH,': 'N,', 'NORTHEAST,': 'NE,', 'NORTHWEST,': 'NW,',
'SOUTH,': 'S,', 'SOUTHEAST,': 'SE,', 'SOUTHWEST,': 'SW,', 'EAST,': 'E,', 'WEST,': 'W,'}

In [8]:
def standardize_address(address: str) -> str:
    address = address.upper()
    address = address.replace('(', '')
    address = address.replace(')', '')
    address_split = address.split()
    for i in range(len(address_split)):
        if address_split[i] in map_dict.keys():
            address_split[i] = map_dict[address_split[i]]
        elif address_split[i] in map_dict_comma.keys():
            address_split[i] = map_dict_comma[address_split[i]]
    #for index, row in suffixes.iterrows():
     #   if ' ' + row['Alias'] in address:
      #      address = address.replace(row['Alias'], row['Abbreviation'])
    return ' '.join(address_split)

In [9]:
inventory['cleaned_address'] = [standardize_address(x) for x in inventory['cleaned_address']]

In [10]:
inventory.head()

,address,cleaned_address
0,". Lynbrook Drive, Mastic Beach, NY 11951",". LYNBROOK DR, MASTIC BCH, NY 11951"
1,".9 Marcia Place, Sayville, NY 11782",".9 MARCIA PL, SAYVILLE, NY 11782"
2,"0 Atlantic Ocean Walk, Water Island, NY 11782","0 ATLANTIC OCEAN WALK, WATER IS, NY 11782"
3,"0 Illinois Avenue, Port Jefferson Station, NY ...","0 ILLINOIS AVE, PRT JEFFERSON STA, NY 11776"
4,"0 Mill Road, Coram, NY 11727","0 ML RD, CORAM, NY 11727"

In [11]:
inventory[inventory['cleaned_address'].isin(inventory.groupby('cleaned_address')['address'].count()[inventory.groupby('cleaned_address')['address'].count()>1].index)]

,address,cleaned_address
233,"100 Garvies Point Rd # 1308, Glen Cove, NY 11542","100 GARVIES PT RD # 1308, GLN CV, NY 11542"
239,"100 Garvies Point Road # 1308, Glen Cove, NY 1...","100 GARVIES PT RD # 1308, GLN CV, NY 11542"
1094,"145 Montauk Highway, Quogue, NY 11959","145 MONTAUK HWY, QUOGUE, NY 11959"
1095,"145 Montauk Hwy, Quogue, NY 11959","145 MONTAUK HWY, QUOGUE, NY 11959"
2770,"269-10 Grand Central Parkway # 1A, Floral Park...","26910 GRAND CENTRAL PKWY # 1A, FLORAL PARK, NY..."
...,...,...
17175,"99-63 66th Avenue, B18","9963 66TH AVE, B18"
17176,"99-63 66th Avenue, F11","9963 66TH AVE, F11"
17177,"99-71 163rd Road,","9971 163RD RD,"
17179,"99-79 164th Road,","9979 164TH RD,"
17180,"99-79 RUSSELL STREET,","9979 RUSSELL ST,"

In [12]:
inventory[inventory['cleaned_address'].isin(inventory.groupby('cleaned_address')['address'].count()[inventory.groupby('cleaned_address')['address'].count()>1].index)]#.to_clipboard(index=True)

,address,cleaned_address
233,"100 Garvies Point Rd # 1308, Glen Cove, NY 11542","100 GARVIES PT RD # 1308, GLN CV, NY 11542"
239,"100 Garvies Point Road # 1308, Glen Cove, NY 1...","100 GARVIES PT RD # 1308, GLN CV, NY 11542"
1094,"145 Montauk Highway, Quogue, NY 11959","145 MONTAUK HWY, QUOGUE, NY 11959"
1095,"145 Montauk Hwy, Quogue, NY 11959","145 MONTAUK HWY, QUOGUE, NY 11959"
2770,"269-10 Grand Central Parkway # 1A, Floral Park...","26910 GRAND CENTRAL PKWY # 1A, FLORAL PARK, NY..."
...,...,...
17175,"99-63 66th Avenue, B18","9963 66TH AVE, B18"
17176,"99-63 66th Avenue, F11","9963 66TH AVE, F11"
17177,"99-71 163rd Road,","9971 163RD RD,"
17179,"99-79 164th Road,","9979 164TH RD,"
17180,"99-79 RUSSELL STREET,","9979 RUSSELL ST,"

In [15]:
inventory[inventory['cleaned_address'].isin(inventory.groupby('cleaned_address')['address'].count()[inventory.groupby('cleaned_address')['address'].count()>1].index)]

,address,cleaned_address
233,"100 Garvies Point Rd # 1308, Glen Cove, NY 11542","100 GARVIES PT RD # 1308, GLN CV, NY 11542"
239,"100 Garvies Point Road # 1308, Glen Cove, NY 1...","100 GARVIES PT RD # 1308, GLN CV, NY 11542"
1094,"145 Montauk Highway, Quogue, NY 11959","145 MONTAUK HWY, QUOGUE, NY 11959"
1095,"145 Montauk Hwy, Quogue, NY 11959","145 MONTAUK HWY, QUOGUE, NY 11959"
2770,"269-10 Grand Central Parkway # 1A, Floral Park...","26910 GRAND CENTRAL PKWY # 1A, FLORAL PARK, NY..."
...,...,...
17175,"99-63 66th Avenue, B18","9963 66TH AVE, B18"
17176,"99-63 66th Avenue, F11","9963 66TH AVE, F11"
17177,"99-71 163rd Road,","9971 163RD RD,"
17179,"99-79 164th Road,","9979 164TH RD,"
17180,"99-79 RUSSELL STREET,","9979 RUSSELL ST,"

In [15]:
closings = pd.read_csv('closings.csv')
closings['cleaned_address'] = [clean_address(x) for x in closings['address']]
closings['cleaned_address'] = [standardize_address(x) for x in closings['cleaned_address']]

In [17]:
closings[closings['cleaned_address'].isin(closings.groupby('cleaned_address')['address'].count()[closings.groupby('cleaned_address')['address'].count()>1].index)]#.to_clipboard(index=False)

               address cleaned_address
2     1 Bay Club Drive    1 BAY CLB DR
3     1 Bay Club Drive    1 BAY CLB DR
7            1 CITY PT       1 CITY PT
8            1 CITY PT       1 CITY PT
9            1 CITY PT       1 CITY PT
...                ...             ...
3456   97-37 63rd Road    9737 63RD RD
3478  99-05 63rd Drive    9905 63RD DR
3479  99-05 63rd Drive    9905 63RD DR
3482     99-72 66th Rd    9972 66TH RD
3483   99-72 66th Road    9972 66TH RD

[205 rows x 2 columns]

In [16]:
contracts = pd.read_csv('contracts_signed.csv')
contracts['cleaned_address'] = [clean_address(x) for x in contracts['address']]
contracts['cleaned_address'] = [standardize_address(x) for x in contracts['cleaned_address']]

In [17]:
contracts[contracts['cleaned_address'].isin(contracts.groupby('cleaned_address')['address'].count()[contracts.groupby('cleaned_address')['address'].count()>1].index)].to_clipboard(index=False)

In [18]:
new_dev_closings = pd.read_csv('new_dev_closings.csv')
new_dev_closings['cleaned_address'] = [clean_address(x) for x in new_dev_closings['address']]
new_dev_closings['cleaned_address'] = [standardize_address(x) for x in new_dev_closings['cleaned_address']]

In [19]:
new_dev_closings[new_dev_closings['cleaned_address'].isin(new_dev_closings.groupby('cleaned_address')['address'].count()[new_dev_closings.groupby('cleaned_address')['address'].count()>1].index)].to_clipboard(index=False)

In [20]:
new_dev_contracts = pd.read_csv('new_dev_contracts.csv')
new_dev_contracts['cleaned_address'] = [clean_address(x) for x in new_dev_contracts['address']]
new_dev_contracts['cleaned_address'] = [standardize_address(x) for x in new_dev_contracts['cleaned_address']]

In [21]:
new_dev_contracts[new_dev_contracts['cleaned_address'].isin(new_dev_contracts.groupby('cleaned_address')['address'].count()[new_dev_contracts.groupby('cleaned_address')['address'].count()>1].index)].to_clipboard(index=False)

In [127]:
rentals = pd.read_csv('rentals.csv')

In [128]:
rentals['cleaned_address'] = [clean_address(x) for x in rentals['address']]
rentals

,address,sold_date,sold_year_month,row_number,cleaned_address
0,"4415 34th Avenue, 1F",2023-07-19,2023-7,1,"4415 34th Avenue, 1F"
1,259-35 147 ROAD,2023-01-26,2023-1,2,25935 147 ROAD
2,"82-04 138 STREET, 2",2023-01-20,2023-1,3,"8204 138 STREET, 2"
3,86-11 56 AVENUE,2023-02-04,2023-2,4,8611 56 AVENUE
4,"76-18 69th Place, 3H",2023-01-11,2023-1,5,"7618 69th Place, 3H"
...,...,...,...,...,...
8139,"507 Grandview Avenue, GARDEN 1L",2023-12-01,2023-12,8140,"507 Grandview Avenue, GARDEN 1L"
8140,"20 River Rd, 8C",2023-12-06,2023-12,8141,"20 River Rd, 8C"
8141,"48-39 45 STREET, 3R",2023-12-06,2023-12,8142,"4839 45 STREET, 3R"
8142,"64-18 Fresh Pond Road, 1",2024-05-13,2024-5,8143,"6418 Fresh Pond Road, 1"
8143,"48-44 45 STREET, 2",2024-05-03,2024-5,8144,"4844 45 STREET, 2"

In [129]:
rentals['cleaned_address'] = [standardize_address(x) for x in rentals['cleaned_address']]

In [130]:
rentals[rentals['cleaned_address'].isin(rentals.groupby(['cleaned_address','sold_year_month'])['address'].count()[rentals.groupby(['cleaned_address','sold_year_month'])['address'].count()>1].index)]

Empty DataFrame
Columns: [address, sold_date, sold_year_month, row_number, cleaned_address]
Index: []

In [131]:
dupes = rentals.groupby(['cleaned_address','sold_year_month'])['address'].count()[rentals.groupby(['cleaned_address','sold_year_month'])['address'].count() > 1].reset_index()

In [132]:
rentals.merge(dupes, how='inner', on=['cleaned_address', 'sold_year_month'])[['row_number', 'address_x', 'sold_date']].to_clipboard()

In [ ]:
rentals[(rentals['address'].isin(dupes['address'])) & rentals]