In [1]:
import pandas as pd

In [2]:
listings = pd.read_csv('data/nyc_outdoor_space_investigation.csv')
listings.head()

,has_private_in_desc,id,address,unit_number,description,property_type_code
0,True,20973383,18 Menayas Court,NaN,"Rent your dream home. Come see this grand, sta...",590
1,True,7743146,332 21st St,1B,Attention gardening enthusiasts! Welcome to yo...,540
2,False,7645039,273 Bennett Ave,5-E,CHARMING STUDIO HOME IN FORT TRYON GARDENS<br>...,550
3,True,35024437,701 Ridge Hill Boulevard,9A,"Adjust your Compass to Monarch @ Ridge Hill, W...",540
4,False,2171093,4 Cottage Dr,NaN,Absolutely Stunning Craftsman Style Ranch in 5...,540

In [3]:
listings[listings['has_private_in_desc']].sample(10000, random_state=42).to_csv('data/has_private.csv', index=False)

In [4]:
listings[~listings['has_private_in_desc']].sample(10000, random_state=42).to_csv('data/no_private.csv', index=False)

In [5]:
print(len(listings[listings['has_private_in_desc']]), len(listings[~listings['has_private_in_desc']]))

234590 92257

## Checking Data in RLS

In [17]:
rls_df = pd.read_csv('data/RLS_exterior_features_2024_07_29.csv')
rls_df.head()

  originating_system_i_d                   exterior_features
0                   BNYC                                  []
1                   BNYC                         ['Balcony']
2                   BNYC               ['Balcony', 'Garden']
3                   BNYC                       ['Courtyard']
4                   BNYC  ['Courtyard', 'Balcony', 'Garden']

In [23]:
rls_dict = {}
for index, row in rls_df.iterrows():
    try:
        s = row['exterior_features'].replace('[', '').replace(']', '').replace("'", '').split(', ')
    except:
        print(row['exterior_features'])
    for j in s:
        try:
            rls_dict[row['originating_system_i_d']].add(j)
        except KeyError:
            rls_dict[row['originating_system_i_d']] = {j}
rls_dict

nan
nan

{'BNYC': {'', 'Balcony', 'Courtyard', 'Garden'},
 'OLRS': {'', 'Balcony', 'Garden', 'Juliet Balcony', 'Roof Deck'},
 'PRCH': {'Awning(s)',
  'Balcony',
  'Barbecue',
  'Basketball Court',
  'Built-in Barbecue',
  'Courtyard',
  'Garden',
  'Gas Grill',
  'Juliet Balcony',
  'Lighting',
  'None',
  'Other',
  'Outdoor Grill',
  'Outdoor Kitchen',
  'Outdoor Shower',
  'Playground',
  'Private Entrance',
  'Private Yard',
  'Roof Deck',
  'Storage',
  'Tennis Court(s)',
  'Uncovered Courtyard'},
 'RLMX': {'Balcony',
  'Basketball Court',
  'Courtyard',
  'Garden',
  'Roof Deck',
  'Storage'},
 'RPLU': {'', 'Balcony', 'Juliet Balcony', 'None'}}

## Combining Above with OCR results

In [14]:
ocr = pd.read_csv('data/ocr_results.csv')
ocr.head()

   listing_id public_or_private
0         279           private
1         393            public
2         441           private
3         560            public
4         567            public

In [15]:
listings.head()

,has_private_in_desc,id,address,unit_number,description,property_type_code
0,True,20973383,18 Menayas Court,NaN,"Rent your dream home. Come see this grand, sta...",590
1,True,7743146,332 21st St,1B,Attention gardening enthusiasts! Welcome to yo...,540
2,False,7645039,273 Bennett Ave,5-E,CHARMING STUDIO HOME IN FORT TRYON GARDENS<br>...,550
3,True,35024437,701 Ridge Hill Boulevard,9A,"Adjust your Compass to Monarch @ Ridge Hill, W...",540
4,False,2171093,4 Cottage Dr,NaN,Absolutely Stunning Craftsman Style Ranch in 5...,540

In [16]:
listings_sup = pd.read_csv('data/nyc_listings_balcony_property_type.csv')
len(listings_sup)

327930