In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/tangilla_members_need_listing_count.csv')
df.head()

,first_name,middle_name,last_name,Full Name,email
0,Steven,P,Wathen,Steven P Wathen,ap@equity.net
1,Cheyenne,NaN,Riley,Cheyenne Riley,Rileychey@gmail.com
2,Sandra,Marie,Bowles,Sandra Marie Bowles,bowles2007@hotmail.com
3,Joann Ryan,NaN,Parr,Joann Ryan Parr,missing@email.com
4,Stephen,NaN,Merkle,Stephen Merkle,mlsinfooh@sideinc.com

In [13]:
with open('tst.txt', 'w') as f:
    f.write('(')
    for name in set(df['Full Name']):
        f.write(f"'{name}', \n")
    f.write(')')

In [11]:
def get_fullname(first_name, last_name):
    if type(first_name) == str and type(last_name) == str:
        return first_name + ' ' + last_name
    else:
        return None
z = [get_fullname(x,y) for x, y in zip(df['first_name'], df['last_name'])]
with open('tst.txt', 'w') as f:
    f.write('(')
    for name in set(z):
        if z:
            f.write(f"'{name}', \n")
    f.write(')')

In [14]:
with open('tst.txt', 'w') as f:
    f.write('(')
    for name in set(df['email']):
        if z:
            f.write(f"'{name}', \n")
    f.write(')')