In [3]:
with open('data/old_offices.txt', 'r') as f:
    names = [line.rstrip() for line in f]

In [6]:
with open('old_names.txt', 'w') as f:
    f.write('(')
    for n in names[:-1]:
        f.write(f"'{n}',\n")
    f.write(f"'{names[-1]}')")

In [7]:
with open('data/new_offices.txt', 'r') as f:
    names = [line.rstrip() for line in f]

In [8]:
with open('new_names.txt', 'w') as f:
    f.write('(')
    for n in names[:-1]:
        f.write(f"'{n}',\n")
    f.write(f"'{names[-1]}')")

In [12]:
import json
import pandas as pd

In [24]:
with open('data/name_mismatches_to_inspect.json', 'r') as f:
    names_mapped = json.load(f)

In [25]:
names_mapped[0]

{'name': ['Coldwell Banker Commercial', 'The A.W. Gerdsen Company, LLC'],
 'nrds': '060322227'}

In [26]:
x = {'old_name': [l['name'][0] for l in names_mapped], 'new_name': [l['name'][1] for l in names_mapped]}
x = pd.DataFrame(x)

In [27]:
x.head()

                     old_name                        new_name
0  Coldwell Banker Commercial   The A.W. Gerdsen Company, LLC
1         RE/MAX Results Plus   RE/MAX Acclaimed Realty, Inc.
2         RE/MAX Results Plus   RE/MAX Acclaimed Realty, Inc.
3      Eagle Realty Group LLC  Western & Southern Financial G
4      Eagle Realty Group LLC  Western & Southern Financial G

In [28]:
print(x.shape)
x['key'] = [x + y for x, y in zip(x['old_name'], x['new_name'])]
x.drop_duplicates(subset='key', inplace=True)

(78, 2)

In [29]:
x.shape

(41, 3)

In [30]:
x.to_csv('data/json_out.csv', index=False)