In [13]:
import pandas as pd

In [12]:
missing_fields = pd.read_csv('data/Sotheby\'s Missing Required FIelds - Sotheby Missing Fields.csv')
missing_fields.head()

FileNotFoundError: [Errno 2] No such file or directory: "data/Sotheby's Missing Required FIelds - Sotheby Missing Fields.csv"

In [ ]:
error = "CoListAgent Office of associated Members must, CoExclusiveAgentKey is required when ListingAgreement is CoExclusive, CoExclusiveOfficeKey is required when ListingAgreement is CoExclusive, FireplaceFeatures is required if FireplaceYN is True or FireplacesTotal is greater than 0"

In [ ]:
error.split(', ')

['CoListAgent Office of associated Members must',
 'CoExclusiveAgentKey is required when ListingAgreement is CoExclusive',
 'CoExclusiveOfficeKey is required when ListingAgreement is CoExclusive',
 'FireplaceFeatures is required if FireplaceYN is True or FireplacesTotal is greater than 0']

In [ ]:
error_list = error.split(', ')
flist = []
for e in error_list:
    tmp_lst = e.split()[:2]
    if tmp_lst[1][0].isupper():
        flist.append(" ".join(tmp_lst))
    else:
        flist.append(tmp_lst[0])
flist

['CoListAgent Office',
 'CoExclusiveAgentKey',
 'CoExclusiveOfficeKey',
 'FireplaceFeatures']

In [ ]:
def create_key(error):
    error_list = error.split(', ')
    flist = []
    for e in error_list:
        tmp_lst = e.split()[:2]
        if tmp_lst[1][0].isupper():
            flist.append(" ".join(tmp_lst))
        else:
            flist.append(tmp_lst[0])
    return '|'.join(flist)

In [ ]:
missing_fields['error_key'] = [create_key(x) for x in missing_fields['Error messages']]

In [ ]:
all_keys = []
for k in missing_fields['error_key']:
    all_keys += (k.split('|'))
all_keys = set(all_keys)

In [ ]:
stats = {'missing_field': [], 'num_listings': []}
for k in all_keys:
    count = 0
    for i in missing_fields['error_key']:
        if k in i:
            count += 1
    stats['missing_field'].append(k)
    stats['num_listings'].append(count)

In [ ]:
stats = pd.DataFrame(stats)
stats

               missing_field  num_listings
0          PropertyCondition            33
1          BuildingAreaUnits            43
2            BuyerOfficeName             1
3         FurnishedListPrice             1
4             AttendanceType            26
5            BuyerAgentEmail             1
6                     TaxLot            40
7               LotSizeUnits            50
8         CoListAgent Office             1
9           ListingAgreement            49
10       ShowingInstructions             1
11         BuildingAreaTotal            43
12   FurnishedMinLeaseMonths            25
13   FurnishedMaxLeaseMonths            25
14            SizeDimensions            50
15                LivingArea             3
16          OwnerPaysRemarks             1
17          ListAgent Office             2
18         FireplaceFeatures           103
19        BuyerAgentLastName             1
20       BuyerAgentFirstName             1
21       CoExclusiveAgentKey            23
22                StreetName             3
23  SpecialListingConditions            69
24                  TaxBlock            93
25  BuyerAgentPreferredPhone             1
26                UnitNumber             1
27      PurchaseContractDate             3
28          BuyerOfficePhone             1
29      CoExclusiveOfficeKey            23
30     BuyerAgentOfficePhone             1
31            NumberOfShares            71
32        BuyerAgentFullName             1
33          AvailabilityDate             2
34                 MemberKey             9
35          CoBrokeAgreement            70

In [ ]:
def report_writer(dfs:dict, report_name:str):
    """Creates an excel report using a dictionary of dfs.

    Args:
        dfs (dict): Data
        report_name (str): Name of file.
    """
    writer = pd.ExcelWriter(report_name, engine='xlsxwriter')
    workbook = writer.book
    format = workbook.add_format()
    format.set_align('center')
    for sheetname, df in dfs.items():
        df.to_excel(writer, sheet_name=sheetname, index=False)
        worksheet = writer.sheets[sheetname]
        for idx, col in enumerate(df):
            series =df[col]
            max_len = max((
                series.astype(str).map(len).max(),
                len(str(series.name))
            ))+1
            worksheet.set_column(idx, idx, max_len, format)

    writer.close()

In [ ]:
report_writer({'errors_with_keys': missing_fields, 'summary_stats': stats}, 'data/sothebys_errors_with_summary.xlsx')

In [52]:
df_troy = pd.read_csv('perchwell_rls_listings.csv')
df_me = pd.read_csv('All_Perchwell_RLS_Listings_-_Troy_2024_02_09.csv')
df_troy.head()

,Price,Original Price,Property Type,Status,List Date,Contract Date,DOM,Perchwell Link,Borough,Address,...,Third Agent Email,Third Agent Phone,Beds,Baths,Rooms,SQFT,Commission,Commission Total,Expiration Date,RLS URL
0,4025087,4735000.0,Condo,Sold,2017-09-19 00:00:00 -0400,2018-02-21 08:59:42 -0500,156,https://www.perchwell.com/results#listing/6RRL,New York,252 East 57th Street,...,elorenzo@stribling.com,917-420-0104,3.0,3.0,5.0,1929.0,4.0,4.0,2019-09-19 00:00:00 -0400,https://rls.perchwell.com/audit/listings?q%5Bl...
1,4406931,4925000.0,Condo,Sold,2017-11-15 00:00:00 -0500,2018-03-05 14:00:53 -0500,111,https://www.perchwell.com/results#listing/6RWz,New York,252 East 57th Street,...,ssmith@stribling.com,917-750-3047,3.0,3.0,5.0,2016.0,4.0,4.0,2019-11-15 00:00:00 -0500,https://rls.perchwell.com/audit/listings?q%5Bl...
2,6417975,21250000.0,Condo,Sold,2017-01-25 00:00:00 -0500,2018-05-21 00:00:00 -0400,482,https://www.perchwell.com/results#listing/9Q9Y,New York,252 East 57th Street,...,elorenzo@stribling.com,917-420-0104,3.0,3.0,5.0,2246.0,4.0,4.0,2019-09-25 00:00:00 -0400,https://rls.perchwell.com/audit/listings?q%5Bl...
3,740000,735000.0,Co-op,Sold,2017-11-28 00:00:00 -0500,2017-12-14 14:51:05 -0500,17,https://www.perchwell.com/results#listing/jZ25,New York,333 East 53rd Street,...,NaN,NaN,1.0,1.0,3.0,780.0,3.0,6.0,2018-05-15 00:00:00 -0400,https://rls.perchwell.com/audit/listings?q%5Bl...
4,7650000,22900000.0,Single-Family Townhouse,Perm Off Mkt,2018-04-17 00:00:00 -0400,2015-09-11 13:31:05 -0400,414,https://www.perchwell.com/results#listing/lx6j,New York,313 West 4th Street,...,clr@lesliegarfield.com,212-574-6962,5.0,4.0,10.0,5300.0,2.5,NaN,2020-12-30 19:00:00 -0500,https://rls.perchwell.com/audit/listings?q%5Bl...

In [53]:
df_me.head()

,price,original_list_price,property_type,status,list_date,contract_date,days_on_market,pw_url,borough,address,...,third_agent_name,third_agent_email,third_agent_phone,bedrooms,bathrooms,rooms,lot_size_square_feet,commission_amount,commission_total,expiration_date
0,1195000.0,1195000.0,Co-op,Withdrawn,16/09/15 04:00,NaN,242.0,https://www.corenyc.com/property/470-west-24th...,Manhattan,470 West 24th Street,...,NaN,NaN,NaN,1.0,1.0,3.5,NaN,2.5,NaN,26/05/17 04:00
1,3042476.0,3495000.0,Condo,Closed,31/01/17 05:00,04/06/18 04:00,526.0,http://www.sothebyshomes.com/nyc/sales/0011129...,Manhattan,425 West 50th Street,...,NaN,NaN,NaN,2.0,2.0,4.0,NaN,4.0,NaN,10/09/18 04:00
2,3450000.0,3500000.0,Condo,Withdrawn,21/09/16 04:00,NaN,806.0,http://www.sothebyshomes.com/nyc/sales/0011107...,Manhattan,322 West 57th Street,...,NaN,NaN,NaN,2.0,2.0,4.0,NaN,2.5,NaN,07/09/18 04:00
3,2400000.0,2400000.0,Condo,Closed,30/04/10 04:00,NaN,4881.0,https://www.corenyc.com/property/141-fifth-ave...,Manhattan,141 Fifth Avenue,...,NaN,NaN,NaN,2.0,2.0,4.0,NaN,2.5,NaN,20/11/17 05:00
4,3791000.0,3791000.0,Condo,Closed,06/04/11 04:00,NaN,4579.0,https://www.corenyc.com/property/141-fifth-ave...,Manhattan,141 Fifth Avenue,...,NaN,NaN,NaN,2.0,2.0,4.0,NaN,2.5,NaN,20/03/18 04:00

In [54]:
print(df_troy.columns)
print(df_me.columns)

Index(['Price', 'Original Price', 'Property Type', 'Status', 'List Date',
       'Contract Date', 'DOM', 'Perchwell Link', 'Borough', 'Address',
       'Unit Number', 'Place Name', 'ID', 'Brokerage ID', 'Brokerage Name',
       'First Agent Name', 'First Agent Email', 'First Agent Phone',
       'Second Agent Name', 'Second Agent Email', 'Second Agent Phone',
       'Third Agent Name', 'Third Agent Email', 'Third Agent Phone', 'Beds',
       'Baths', 'Rooms', 'SQFT', 'Commission', 'Commission Total',
       'Expiration Date', 'RLS URL'],
      dtype='object')
Index(['price', 'original_list_price', 'property_type', 'status', 'list_date',
       'contract_date', 'days_on_market', 'pw_url', 'borough', 'address',
       'unit_number', 'place_name', 'id', 'mls_id', 'brokerage_id',
       'brokerage', 'first_agent_name', 'first_agent_email',
       'second_agent_phone', 'second_agent_name', 'first_agent_email1',
       'second_agent_phone2', 'third_agent_name', 'third_agent_email',
       'third_agent_phone', 'bedrooms', 'bathrooms', 'rooms',
       'lot_size_square_feet', 'commission_amount', 'commission_total',
       'expiration_date'],
      dtype='object')

In [55]:
df_troy.drop(columns=['Perchwell Link', 'RLS URL'], inplace=True)
df_me.drop(columns=['pw_url', 'mls_id'], inplace=True)
df_me.columns = df_troy.columns

In [56]:
df_me.columns

Index(['Price', 'Original Price', 'Property Type', 'Status', 'List Date',
       'Contract Date', 'DOM', 'Borough', 'Address', 'Unit Number',
       'Place Name', 'ID', 'Brokerage ID', 'Brokerage Name',
       'First Agent Name', 'First Agent Email', 'First Agent Phone',
       'Second Agent Name', 'Second Agent Email', 'Second Agent Phone',
       'Third Agent Name', 'Third Agent Email', 'Third Agent Phone', 'Beds',
       'Baths', 'Rooms', 'SQFT', 'Commission', 'Commission Total',
       'Expiration Date'],
      dtype='object')

In [20]:
df_troy.set_index('ID').compare(df_me.set_index('ID'))

ValueError: Can only compare identically-labeled DataFrame objects

In [57]:
len(df_me)

38774

In [58]:
len(df_troy)

38742

In [59]:
df_troy[~df_troy['ID'].isin(df_me['ID'])][['ID', 'Address']]

Empty DataFrame
Columns: [ID, Address]
Index: []

In [60]:
merged = df_me.merge(df_troy, how='inner', on='ID')

In [71]:
len(merged[(merged['Price_x'] != merged['Price_y']) & (merged['Price_y'] != 0)][['ID', 'Address_x', 'Address_y', 'Price_x', 'Price_y']])

16

In [70]:
merged[(merged['Status_y'] != merged['Status_x']) & ~(merged['Status_x'].isin(['Withdrawn', 'Closed', 'Pending', 'Hold']))][['ID', 'Status_x', 'Status_y']]

            ID Status_x      Status_y
2129   7536585        0  Perm Off Mkt
15889  1405715      NaN  Perm Off Mkt
16665  3821371      498  Perm Off Mkt
27857  7753967  Expired        Active
37377  3821423      499  Perm Off Mkt

In [69]:
merged[(merged['Status_y'] != merged['Status_x']) & ~(merged['Status_x'].isin(['Withdrawn', 'Closed']))][['ID', 'Status_x', 'Status_y']]

            ID Status_x        Status_y
1227   3418409  Pending  Under Contract
1651   3785996  Pending  Under Contract
1663   3791757  Pending  Under Contract
1732   3828171  Pending  Under Contract
1817   3866333  Pending  Under Contract
...        ...      ...             ...
38543  7711912     Hold    Temp Off Mkt
38544  7718185     Hold    Temp Off Mkt
38616  7712619  Pending  Under Contract
38659  7716040     Hold    Temp Off Mkt
38660  7754569  Pending  Under Contract

[783 rows x 3 columns]

In [66]:
merged[merged['Address_x'] != merged['Address_y']][['ID', 'Address_x', 'Address_y']]

,ID,Address_x,Address_y
3849,3743446,Allée Des Eucalyptus,AllÃ©e Des Eucalyptus
12797,3774784,The Jameses – US Virgin Islands,The Jameses â€“ US Virgin Islands
12867,3818199,Little Saint James – US Virgin Islands,Little Saint James â€“ US Virgin Islands
12869,3819033,Great Saint James – US Virgin Islands,Great Saint James â€“ US Virgin Islands
13151,7535118,13658 Vía Flora,13658 VÃ­a Flora
16176,3234461,"22 Queen Anne’s Gate, Westminster","22 Queen Anneâ€™s Gate, Westminster"
16177,3234473,"22 Queen Anne’s Gate, Westminster","22 Queen Anneâ€™s Gate, Westminster"
20631,3313308,16 Boulevard De L’observatoire,16 Boulevard De Lâ€™observatoire
21025,3743434,Sq. Mérimée Immeuble,Sq. MÃ©rimÃ©e Immeuble
24892,3234220,Cap D’antibes - Villa,Cap Dâ€™antibes - Villa
33317,3746664,Provençal style property in Mougins,ProvenÃ§al style property in Mougins

In [ ]:
merged