In [72]:
import pandas as pd
import json

## Column Check

In [73]:
df = pd.read_csv('data/cincy_raw_data.csv')
df['data'] = [json.loads(x) for x in df['data']]
df.head()

   source_id                                               data
0     815932  {'Gas': 'Propane', 'URL': 'http://cincy.rapmls...
1     815946  {'Gas': 'Propane', 'URL': 'http://cincy.rapmls...
2     815967  {'Gas': 'Natural', 'URL': 'http://cincy.rapmls...
3     815973  {'Gas': 'Propane', 'URL': 'http://cincy.rapmls...
4     815986  {'Gas': 'Natural', 'URL': 'http://cincy.rapmls...

In [74]:
all_cols = []
for d in df['data']:
    all_cols += [k for k in d.keys() if not k in all_cols]

all_cols

['Gas',
 'URL',
 'City',
 'Roof',
 'View',
 'Bath1',
 'Bath2',
 'Bath3',
 'Entry',
 'Sewer',
 'Trees',
 'Access',
 'Levels',
 'Suburb',
 'Zoning',
 'Auction',
 'Cooling',
 'Fencing',
 'Heating',
 'Kitchen',
 'ListAOR',
 'Vacancy',
 'Basement',
 'Bedroom2',
 'EntryDim',
 'EntryLen',
 'EntryWid',
 'FIPSCode',
 'FarmType',
 'Frontage',
 'Latitude',
 'OnMarket',
 'SubLease',
 'Bathrooms',
 'Buildings',
 'CloseDate',
 'EntryArea',
 'Frontage1',
 'ListPrice',
 'ListingId',
 'Longitude',
 'MLSOrigin',
 'MlsStatus',
 'Occupancy',
 'SuburbSIC',
 'Validated',
 'YearBuilt',
 'Appliances',
 'Bath1Level',
 'Bath2Level',
 'Bath3Level',
 'ClosePrice',
 'Directions',
 'Disclaimer',
 'EntryFoyer',
 'FamilyRoom',
 'KitchenDim',
 'KitchenLen',
 'KitchenWid',
 'ListingKey',
 'LivingArea',
 'LivingRoom',
 'PostalCode',
 'RoomsTotal',
 'StreetName',
 'Topography',
 'Bedroom2Dim',
 'Bedroom2Len',
 'Bedroom2Wid',
 'Bedroom3Dim',
 'Bedroom3Len',
 'Bedroom3Wid',
 'Bedroom4Dim',
 'Bedroom4Len',
 'Bedroom4Wid',
 'Bedroom5Dim',
 'Bedroom5Len',
 'Bedroom5Wid',
 'BoardLoaded',
 'CrossStreet',
 'FamilyRoom1',
 'GrossIncome',
 'KitchenArea',
 'LaundryRoom',
 'PhotosCount',
 'SchoolName1',
 'SchoolType1',
 'SearchPrice',
 'ShortSaleYN',
 'VideosCount',
 'WaterSource',
 'BasementFeat',
 'BathLvl1Type',
 'Bedroom2Area',
 'Bedroom3Area',
 'Bedroom4Area',
 'Bedroom5Area',
 'DaysOnMarket',
 'GarageSpaces',
 'ListAgentKey',
 'ListPriceLow',
 'LotSizeAcres',
 'LotSizeUnits',
 'MLSAreaMajor',
 'OccupantName',
 'OnMarketDate',
 'OtherExpense',
 'ParcelNumber',
 'PricePerAcre',
 'PropertyType',
 'StreetSuffix',
 'WasteRemoval',
 'AreaShortName',
 'AssessmentAmt',
 'AssociationYN',
 'AvailableDate',
 'BathroomsFull',
 'BathroomsHalf',
 'BedroomLevel1',
 'BedroomsTotal',
 'BuyerAgentKey',
 'CarportSpaces',
 'DiningRoomDim',
 'DiningRoomLen',
 'DiningRoomWid',
 'FamilyRoomDim',
 'FamilyRoomLen',
 'FamilyRoomWid',
 'GarageCarport',
 'ListOfficeKey',
 'Miscellaneous',
 'OtherExpense1',
 'PublicRemarks',
 'ZoningDetails',
 'AssociationFee',
 'BathroomLevel1',
 'BrokerApproved',
 'BuyerOfficeKey',
 'ContingentDate',
 'CountyOrParish',
 'DegreeComplete',
 'DiningRoomArea',
 'EnteredByMLSID',
 'ExpirationDate',
 'FamilyRoomArea',
 'FamilyRoomFeat',
 'GasandElectric',
 'LaundryRoomDim',
 'LaundryRoomLen',
 'LaundryRoomWid',
 'LimitedService',
 'ListAgentMlsId',
 'ListOfficeName',
 'LivingRoomFeat',
 'LotAreaRealist',
 'PrimaryBedroom',
 'PrivateRemarks',
 'RenovationYear',
 'StudyLibDenDim',
 'StudyLibDenLen',
 'StudyLibDenWid',
 'TotalBuildings',
 'WindowFeatures',
 'AssociationFee2',
 'AssociationFee3',
 'BsmtSqFtRealist',
 'BuyerPremiumAmt',
 'CancelationDate',
 'ClientPortalURL',
 'FireplacesTotal',
 'KitchenFeatures',
 'LandDescription',
 'LaundryRoomArea',
 'ListOfficeMlsId',
 'OtherStructures',
 'ParkingFeatures',
 'PrimaryBathroom',
 'PropertySubType',
 'SemiAnnualTaxes',
 'StateOrProvince',
 'StepsToBldgDoor',
 'StepsToUnitDoor',
 'StudyLibDenArea',
 'AllowInternetAVM',
 'AuctionStartDate',
 'BathroomsDisplay',
 'BedroomsPossible',
 'BreakfastRoomDim',
 'BreakfastRoomLen',
 'BreakfastRoomWid',
 'ExteriorFeatures',
 'FormalDiningRoom',
 'HERSRatingRESNET',
 'InsuranceExpense',
 'LevelsInBuilding',
 'ListingAgreement',
 'LivingGreatRmDim',
 'LivingGreatRmLen',
 'LivingGreatRmWid',
 'PricePerBldgSqFt',
 'PropertyPictures',
 'SellerPaidAmount',
 'SingleFamilyDesc',
 'SpecialFinancing',
 'ZeroSellingPrice',
 '_3rdPartyApprReq',
 'AbvGrdSqFtRealist',
 'BreakfastRoomArea',
 'FireplaceFeatures',
 'FoundationDetails',
 'LeaseConsideredYN',
 'ListAgentFullName',
 'ListAgentLastName',
 'ListingKeyNumeric',
 'LivingGreatRmArea',
 'LotSizeDimensions',
 'LotSizeSquareFeet',
 'MechanicalSystems',
 'NewConstructionYN',
 'OriginalListPrice',
 'PhotosCountPublic',
 'PictureProvidedBy',
 'PrimaryBedroomDim',
 'PrimaryBedroomLen',
 'PrimaryBedroomWid',
 'PropertyOwnership',
 'ReciprocalListing',
 'RecreationRoomDim',
 'RecreationRoomLen',
 'RecreationRoomWid',
 'TopographyDetails',
 'WaterSewerExpense',
 'ArchitecturalStyle',
 'CensusTractRealist',
 'DocumentsAvailable',
 'HighSchoolDistrict',
 'ListAgentFirstName',
 'MaintenanceExpense',
 'NetOperatingIncome',
 'PhotosCountPrivate',
 'PricePerSquareFoot',
 'PrimaryBedroomArea',
 'PropertyOwnership1',
 'RecreationRoomArea',
 'ThroughPayableYear',
 '_2ndFlrAreaRealist',
 'BathroomsOneQuarter',
 'ListAgentKeyNumeric',
 'ListingContractDate',
 'ShowingInstructions',
 'StreetNumberNumeric',
 'BuyerAgentKeyNumeric',
 'EstimatedSellingDate',
 'ListOfficeKeyNumeric',
 'ListingAgentIdxEmail',
 'ListingAgentIdxPhone',
 'OriginatingSystemKey',
 'PriceChangeTimestamp',
 'PurchaseContractDate',
 'ShowingInstructions1',
 'AllowInternetBlogging',
 'BathroomsThreeQuarter',
 'BuyerOfficeKeyNumeric',
 'CoListAgentKeyNumeric',
 'ConstructionMaterials',
 'ModificationTimestamp',
 'OriginatingSystemName',
 'PhotosChangeTimestamp',
 'SearchContractualDate',
 'ShowAddressonInternet',
 'VideosChangeTimestamp',
 'CoBuyerAgentKeyNumeric',
 'CoListOfficeKeyNumeric',
 'CumulativeDaysOnMarket',
 'MultipleListingService',
 'OriginalEntryTimestamp',
 'SubLeaseExpirationDate',
 'AssociationFeeFrequency',
 'CoBuyerOfficeKeyNumeric',
 'ContingentExpirationDate',
 'ContractStatusChangeDate',
 'TotalFinishedSqFtRealist',
 'InternetEntireListingDisplayYN',
 'Township',
 'Financing',
 'StudyLibDen',
 'StudyFeatures',
 'PrimaryBedFeat',
 'BuyerAgentMlsId',
 'BuyerOfficeName',
 'BuyerOfficeMlsId',
 'SellerPdCloCosts',
 'BuyerAgentFullName',
 'PendingContingency',
 'SourceSystemListAgentKey',
 'DiningRoomFeat',
 'Bedroom3',
 'PostalCodePlus4',
 'SubdivisionName',
 'FinancingRemarks',
 'InteriorFeatures',
 'AccessDisabilityFeat',
 'DiningRoom',
 'VirtualTourURLUnbranded',
 'SourceSystemBuyerAgentKey',
 'Pool',
 'Bedroom4',
 'RecreationRoom',
 'ShowingRequirements',
 'FlexRooms',
 'CoListAgentMlsId',
 'CoListOfficeName',
 'CoListOfficeMlsId',
 'CoListAgentFullName',
 'Garage',
 'TaxRate',
 'Unit1Rent',
 'Unit2Rent',
 'Unit3Rent',
 'Unit4Rent',
 'Fireplaces',
 'Unit1Rooms',
 'Unit2Rooms',
 'Unit3Rooms',
 'Unit4Rooms',
 'StructureType',
 'Unit1Bedrooms',
 'Unit2Bedrooms',
 'Unit2PartBath',
 'Unit3Bedrooms',
 'Unit4Bedrooms',
 'Unit4FullBath',
 'Unit4PartBath',
 '_1BedroomRent',
 '_1BedroomSqFt',
 '_2BedroomRent',
 '_2BedroomSqFt',
 '_3BedroomRent',
 '_3BedroomSqFt',
 'EfficiencyRent',
 'EfficiencySqFt',
 'Unit1FullBaths',
 'Unit1PartBaths',
 'Unit2FullBaths',
 'Unit3FullBaths',
 'Unit3PartBaths',
 '_1BedroomUnits',
 '_2BedroomUnits',
 '_3BedroomUnits',
 'EfficiencyUnits',
 'NewTaxesExpense',
 'OpenParkingSpaces',
 'AnnualAssessmntAmt',
 'NumberOfUnitsTotal',
 'ShowingTime',
 'BreakfastRoom',
 'AssociationPhone',
 'AssociationFeeIncludes',
 'Unit',
 'UnitNumber',
 'AttachmentDesc',
 'SellingComments',
 'Bath4',
 'Bedroom5',
 'Bath4Level',
 'OtherTaxParcelID',
 'UnitEntryLevel',
 'PublicTransportn',
 'MLS',
 'ForSale',
 'HOAPaidBy',
 'EntryLevel',
 'Furnishing',
 'HeatPaidBy',
 'PetsAllowed',
 'WaterPaidBy',
 'DepositAmount',
 'LivingGreatRm',
 'SmokingAllowed',
 'StatusComments',
 'ExtraPetDeposit',
 'PetRestrictions',
 'SecurityDeposit',
 'ExtraSmokingDepst',
 'TypeLengthofLease',
 'AssociationBrdAppr',
 'AssociationName',
 'SourceSystemCoListAgentKey',
 'Features',
 'CoBuyerAgentMlsId',
 'CoBuyerOfficeName',
 'CoBuyerOfficeMlsId',
 'SpecFinancingAvail',
 'CoBuyerAgentFullName',
 'SourceSystemCoBuyerAgentKey',
 'Site',
 'Docks',
 'Sales',
 'Office',
 'Retail',
 'UseType',
 'Easement',
 'Flooring',
 'Rentable',
 'Easements',
 'LeaseOnly',
 'Warehouse',
 'AccessRoads',
 'AnnualTaxes',
 'Taxesannual',
 'OtherPerSQFT',
 'RoadFrontage',
 'TypeBusiness',
 'OfficePerSQFT',
 'TotalRestrooms',
 'NetLeasableArea',
 'GrossBuildingArea',
 'TotalBuildingSQFT',
 'AmountOnsiteParkng',
 'CondoDescription',
 'NonMemberSalesAgentName',
 'NonMemberSalesOfficeName',
 'SourceSystemBuyerOfficeKey',
 'SourceSystemListOfficeKey',
 'SourceSystemCoListOfficeKey',
 'FinancingComments',
 'StreetDirPrefix',
 'SeparateAirCond',
 'SeparateFurnace',
 'SeparateGasElec',
 'RoomType',
 'RealEstate',
 'SubTypeBusiness',
 'SourceSystemCoBuyerOfficeKey',
 'HeatPaid',
 'WaterPaid',
 'SeparateAirCondi',
 'SeparateGasElect',
 'ShowingAssistInstru',
 'Amenities',
 'Bath1Features',
 'Wooded',
 'PossibleUse',
 'Improvements',
 'StreetNumber',
 'WoodedAcreage',
 'ClearedAcreage',
 'AccessibleTrans',
 'LandDescriptions',
 'ElevationDescription',
 'CompleteRenovation',
 'YearBuiltException',
 'OwnerPays',
 'TenantPays',
 'ElectricPower',
 'LeaseInformation',
 'RailServiceAvail',
 'LifestyleCommunity',
 'OwnerName',
 'Utilities',
 'OtherFeatures',
 'AcreagePrice',
 'FrontageDescrip',
 'ApplianceInclude',
 'DeedRestrictions',
 'PlansAvailable',
 'BusinessOnly',
 'AuctionType',
 'CommonFacilities',
 'LicenseIncludes',
 'Unit1',
 'FarmDescription',
 'FloorLoading',
 'CeilingHeight',
 'TruckDoors',
 'TrafficCount',
 'Equipment',
 'PublicTransit',
 'Inventory',
 'Fixtures',
 'EQDEnvironQualDst',
 'TaxAbatement',
 'WaterHeating',
 'BuyerPremiumAmtComments',
 'SmartTechnology',
 'Builder',
 'LevelsInUnit',
 'GreatRoom',
 'GreatRoomFeat',
 'OnlineBidNotAuction',
 'BaySize',
 'PriceIncludes',
 'EQDEnvironQualDis',
 'StreetDirSuffix',
 'YearlyRentAmt',
 'NetIncome',
 'GrossIncomeDescription']

In [75]:
pd.DataFrame({'column_names': all_cols}).to_clipboard()

## Raw Data Check

In [76]:
df = pd.concat([pd.read_csv('data/cincy_raw_data_rel_cols.csv'), pd.read_csv('data/cincy_raw_data_rel_cols_2.csv')])
len(df)

/var/folders/6l/yzmcq93j41zf3wrth_tyl6g80000gn/T/ipykernel_96171/2534281085.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([pd.read_csv('data/cincy_raw_data_rel_cols.csv'), pd.read_csv('data/cincy_raw_data_rel_cols_2.csv')])

1240666

In [77]:
len(df[df['latitude']!=0])

278101

In [78]:
df.head()

,source_id,city,postal_code,mls_area_major,county_or_parish,subdivision_name,township,latitude,longitude
0,474920,Colerain Twp,45252,Hamilton-W10,Hamilton,Bevis,Colerain,0.0,0.0
1,475422,Ross Twp,45013,Butler-W16,Butler,NaN,Ross,0.0,0.0
2,476331,Colerain Twp,45251,Hamilton-W10,Hamilton,Northbrook,Colerain,0.0,0.0
3,476657,Colerain Twp,45251,Hamilton-W10,Hamilton,Villages of Northgate,Colerain,0.0,0.0
4,477475,Colerain Twp,45251,Hamilton-W10,Hamilton,NaN,Colerain,0.0,0.0

In [79]:
from bs4 import BeautifulSoup
with open('data/cincy_metadata.xml') as f:
    data = f.read()

Bs_data = BeautifulSoup(data, "xml")
b_unique = Bs_data.find_all('EnumType', {'name':'City'})

print(b_unique)

[]

In [80]:
check = city_lookup.find_all('Member')[0]
type(check)

bs4.element.Tag

In [81]:
check.contents

['\n',
 <Annotation String="Aberdeen" Term="Reso.OData.Metadata.DisplayName"/>,
 '\n']

In [82]:
for c in check.children:
    if c != '\n':
        print(c['String'])

Aberdeen

In [83]:
lookups = Bs_data.find('EnumType', {'Name':'MLSAreaMajor'})
lookups.find_all('Member')
raw_value = []
long_value = []
for lookup in lookups.find_all('Member'):
    raw_value.append(lookup['Name'])
    for c in lookup.children:
        if c != '\n':
            long_value.append(c['String'])

lookup = pd.DataFrame({'raw_value': raw_value, 'long_value': long_value})
lookup.head()

   raw_value  long_value
0   AdamsE33   Adams-E33
1  AthensE47  Athens-E47
2   BrownE11   Brown-E11
3  ButlerE12  Butler-E12
4  ButlerE16  Butler-E16

In [84]:
df.head()

,source_id,city,postal_code,mls_area_major,county_or_parish,subdivision_name,township,latitude,longitude
0,474920,Colerain Twp,45252,Hamilton-W10,Hamilton,Bevis,Colerain,0.0,0.0
1,475422,Ross Twp,45013,Butler-W16,Butler,NaN,Ross,0.0,0.0
2,476331,Colerain Twp,45251,Hamilton-W10,Hamilton,Northbrook,Colerain,0.0,0.0
3,476657,Colerain Twp,45251,Hamilton-W10,Hamilton,Villages of Northgate,Colerain,0.0,0.0
4,477475,Colerain Twp,45251,Hamilton-W10,Hamilton,NaN,Colerain,0.0,0.0

In [87]:
lookups = Bs_data.find('EnumType', {'Name':'City'})
lookups.find_all('Member')
raw_value = []
long_value = []
for lookup in lookups.find_all('Member'):
    raw_value.append(lookup['Name'])
    for c in lookup.children:
        if c != '\n':
            long_value.append(c['String'])

lookup = pd.DataFrame({'raw_value': raw_value, 'long_value': long_value})
#lookup.head()
df[~df['city'].str.lower().isin([x.lower() for x in long_value])]['city'].unique()

array(['Logan', 'Cambridge', 'Elizabethtown', 'Ontario', 'Lorain',
       'Celina', 'Blooming Grove Twp', 'Syracuse', 'Sullivan', 'Irwin',
       'Pomeroy', 'Sidney', 'Wesley Twp', 'Sheffield Lake', 'Tiffin',
       'Berlin Twp', 'Massillon', 'Goshen', 'Marion', 'Ross', 'Toledo',
       'Defiance', 'Middleport', 'Conneaut', 'Hooven', nan, 'Kimbolton',
       'Mansfield', 'Racine', 'Beckett Ridge', 'Longbottom', 'Rutland'],
      dtype=object)

In [89]:
lookup[lookup['long_value']=='Logan']

Empty DataFrame
Columns: [raw_value, long_value]
Index: []

In [86]:
lookups = Bs_data.find('EnumType', {'Name':'Township'})
lookups.find_all('Member')
raw_value = []
long_value = []
for lookup in lookups.find_all('Member'):
    raw_value.append(lookup['Name'])
    for c in lookup.children:
        if c != '\n':
            long_value.append(c['String'])

lookup = pd.DataFrame({'raw_value': raw_value, 'long_value': long_value})
#lookup.head()
df[~df['township'].str.lower().isin([x.lower() for x in long_value])]['township'].unique()

AttributeError: 'NoneType' object has no attribute 'find_all'

In [67]:
lookups = Bs_data.find('EnumType', {'Name':'ParishOrCounty'})
lookups.find_all('Member')
raw_value = []
long_value = []
for lookup in lookups.find_all('Member'):
    raw_value.append(lookup['Name'])
    for c in lookup.children:
        if c != '\n':
            long_value.append(c['String'])

lookup = pd.DataFrame({'raw_value': raw_value, 'long_value': long_value})
#lookup.head()
df[~df['parish_or_county'].str.lower().isin([x.lower() for x in long_value])]['parish_or_county'].unique()

AttributeError: 'NoneType' object has no attribute 'find_all'