In [1]:
import a_parcel_matching
import b_first_match
import c_second_match
import d_fuzzy_match

from tqdm.notebook import tqdm
from datetime import timedelta

import pandas as pd
import pickle as pkl

import warnings
warnings.filterwarnings('ignore')

In [2]:
day_thresh = [timedelta(days=0), timedelta(days=14), timedelta(days=30), timedelta(days=90), timedelta(days=180), timedelta(days=365), timedelta(days=520), None]
#day_thresh = [timedelta(days=520), None]
price_thresh = [0, 0.1, 0.3, 0.6, 1, None]
#price_thresh = [1,None]

try:
    with open('matches_buckets1.pkl', 'rb') as f:
        retdict = pkl.load(f)
except:
    retdict = {}

In [3]:
for i in tqdm(range(len(day_thresh)-1)):
    for j in tqdm(range(len(price_thresh)-1),leave=True):
        day_range = (day_thresh[i], day_thresh[i+1])
        price_range = (price_thresh[j], price_thresh[j+1])
        try:
            if retdict[(day_range, price_range)]:
                pass
        except:
            parcel_match = a_parcel_matching.main(day_range, price_range)
            first_match = b_first_match.main(day_range, price_range)
            second_match = c_second_match.main(day_range, price_range)
            third_match = d_fuzzy_match.main(day_range, price_range)
            retdict[(day_range, price_range)] = [parcel_match, first_match, second_match, third_match]
            print(day_range, price_range, parcel_match['id'].nunique() + first_match['id'].nunique() + second_match['id'].nunique() + third_match['id'].nunique())

  0%|          | 0/7 [00:00<?, ?it/s]

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/379102 [00:00<?, ?it/s]

(datetime.timedelta(0), datetime.timedelta(days=14)) (0, 0.1) 27743

  0%|          | 0/378767 [00:00<?, ?it/s]

(datetime.timedelta(0), datetime.timedelta(days=14)) (0.1, 0.3) 138

  0%|          | 0/378589 [00:00<?, ?it/s]

(datetime.timedelta(0), datetime.timedelta(days=14)) (0.3, 0.6) 159

  0%|          | 0/378436 [00:00<?, ?it/s]

(datetime.timedelta(0), datetime.timedelta(days=14)) (0.6, 1) 161

  0%|          | 0/378382 [00:00<?, ?it/s]

(datetime.timedelta(0), datetime.timedelta(days=14)) (1, None) 26

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/375163 [00:00<?, ?it/s]

(datetime.timedelta(days=14), datetime.timedelta(days=30)) (0, 0.1) 3228

  0%|          | 0/375105 [00:00<?, ?it/s]

(datetime.timedelta(days=14), datetime.timedelta(days=30)) (0.1, 0.3) 32

  0%|          | 0/375076 [00:00<?, ?it/s]

(datetime.timedelta(days=14), datetime.timedelta(days=30)) (0.3, 0.6) 29

  0%|          | 0/375045 [00:00<?, ?it/s]

(datetime.timedelta(days=14), datetime.timedelta(days=30)) (0.6, 1) 29

  0%|          | 0/375036 [00:00<?, ?it/s]

(datetime.timedelta(days=14), datetime.timedelta(days=30)) (1, None) 10

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/373959 [00:00<?, ?it/s]

(datetime.timedelta(days=30), datetime.timedelta(days=90)) (0, 0.1) 1067

  0%|          | 0/373859 [00:00<?, ?it/s]

(datetime.timedelta(days=30), datetime.timedelta(days=90)) (0.1, 0.3) 79

  0%|          | 0/373820 [00:00<?, ?it/s]

(datetime.timedelta(days=30), datetime.timedelta(days=90)) (0.3, 0.6) 45

  0%|          | 0/373781 [00:00<?, ?it/s]

(datetime.timedelta(days=30), datetime.timedelta(days=90)) (0.6, 1) 36

  0%|          | 0/373760 [00:00<?, ?it/s]

(datetime.timedelta(days=30), datetime.timedelta(days=90)) (1, None) 19

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/373573 [00:00<?, ?it/s]

(datetime.timedelta(days=90), datetime.timedelta(days=180)) (0, 0.1) 180

  0%|          | 0/373488 [00:00<?, ?it/s]

(datetime.timedelta(days=90), datetime.timedelta(days=180)) (0.1, 0.3) 78

  0%|          | 0/373412 [00:00<?, ?it/s]

(datetime.timedelta(days=90), datetime.timedelta(days=180)) (0.3, 0.6) 70

  0%|          | 0/373349 [00:00<?, ?it/s]

(datetime.timedelta(days=90), datetime.timedelta(days=180)) (0.6, 1) 63

  0%|          | 0/373322 [00:00<?, ?it/s]

(datetime.timedelta(days=90), datetime.timedelta(days=180)) (1, None) 23

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/373048 [00:00<?, ?it/s]

(datetime.timedelta(days=180), datetime.timedelta(days=365)) (0, 0.1) 275

  0%|          | 0/372948 [00:00<?, ?it/s]

(datetime.timedelta(days=180), datetime.timedelta(days=365)) (0.1, 0.3) 96

  0%|          | 0/372856 [00:00<?, ?it/s]

(datetime.timedelta(days=180), datetime.timedelta(days=365)) (0.3, 0.6) 108

  0%|          | 0/372739 [00:00<?, ?it/s]

(datetime.timedelta(days=180), datetime.timedelta(days=365)) (0.6, 1) 105

  0%|          | 0/372702 [00:00<?, ?it/s]

(datetime.timedelta(days=180), datetime.timedelta(days=365)) (1, None) 28

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/372581 [00:00<?, ?it/s]

(datetime.timedelta(days=365), datetime.timedelta(days=520)) (0, 0.1) 117

  0%|          | 0/372519 [00:00<?, ?it/s]

(datetime.timedelta(days=365), datetime.timedelta(days=520)) (0.1, 0.3) 62

  0%|          | 0/372463 [00:00<?, ?it/s]

(datetime.timedelta(days=365), datetime.timedelta(days=520)) (0.3, 0.6) 57

  0%|          | 0/372402 [00:00<?, ?it/s]

(datetime.timedelta(days=365), datetime.timedelta(days=520)) (0.6, 1) 61

  0%|          | 0/372382 [00:00<?, ?it/s]

(datetime.timedelta(days=365), datetime.timedelta(days=520)) (1, None) 14

  0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/368359 [00:00<?, ?it/s]

(datetime.timedelta(days=520), None) (0, 0.1) 2049

  0%|          | 0/366275 [00:00<?, ?it/s]

(datetime.timedelta(days=520), None) (0.1, 0.3) 1647

  0%|          | 0/365340 [00:00<?, ?it/s]

(datetime.timedelta(days=520), None) (0.3, 0.6) 786

  0%|          | 0/364707 [00:00<?, ?it/s]

(datetime.timedelta(days=520), None) (0.6, 1) 530

  0%|          | 0/364471 [00:00<?, ?it/s]

(datetime.timedelta(days=520), None) (1, None) 98

In [4]:
type(str(4743))

str

In [5]:
with open('matches_buckets.pkl', 'wb') as f:
    pkl.dump(retdict, f)

In [6]:
for k in retdict.keys():
    if type(retdict[k]) == list:
        retdict[k] = pd.concat(retdict[k])

In [7]:
retdict.keys()

dict_keys([((datetime.timedelta(0), datetime.timedelta(days=14)), (0, 0.1)), ((datetime.timedelta(0), datetime.timedelta(days=14)), (0.1, 0.3)), ((datetime.timedelta(0), datetime.timedelta(days=14)), (0.3, 0.6)), ((datetime.timedelta(0), datetime.timedelta(days=14)), (0.6, 1)), ((datetime.timedelta(0), datetime.timedelta(days=14)), (1, None)), ((datetime.timedelta(days=14), datetime.timedelta(days=30)), (0, 0.1)), ((datetime.timedelta(days=14), datetime.timedelta(days=30)), (0.1, 0.3)), ((datetime.timedelta(days=14), datetime.timedelta(days=30)), (0.3, 0.6)), ((datetime.timedelta(days=14), datetime.timedelta(days=30)), (0.6, 1)), ((datetime.timedelta(days=14), datetime.timedelta(days=30)), (1, None)), ((datetime.timedelta(days=30), datetime.timedelta(days=90)), (0, 0.1)), ((datetime.timedelta(days=30), datetime.timedelta(days=90)), (0.1, 0.3)), ((datetime.timedelta(days=30), datetime.timedelta(days=90)), (0.3, 0.6)), ((datetime.timedelta(days=30), datetime.timedelta(days=90)), (0.6, 1)), ((datetime.timedelta(days=30), datetime.timedelta(days=90)), (1, None)), ((datetime.timedelta(days=90), datetime.timedelta(days=180)), (0, 0.1)), ((datetime.timedelta(days=90), datetime.timedelta(days=180)), (0.1, 0.3)), ((datetime.timedelta(days=90), datetime.timedelta(days=180)), (0.3, 0.6)), ((datetime.timedelta(days=90), datetime.timedelta(days=180)), (0.6, 1)), ((datetime.timedelta(days=90), datetime.timedelta(days=180)), (1, None)), ((datetime.timedelta(days=180), datetime.timedelta(days=365)), (0, 0.1)), ((datetime.timedelta(days=180), datetime.timedelta(days=365)), (0.1, 0.3)), ((datetime.timedelta(days=180), datetime.timedelta(days=365)), (0.3, 0.6)), ((datetime.timedelta(days=180), datetime.timedelta(days=365)), (0.6, 1)), ((datetime.timedelta(days=180), datetime.timedelta(days=365)), (1, None)), ((datetime.timedelta(days=365), datetime.timedelta(days=520)), (0, 0.1)), ((datetime.timedelta(days=365), datetime.timedelta(days=520)), (0.1, 0.3)), ((datetime.timedelta(days=365), datetime.timedelta(days=520)), (0.3, 0.6)), ((datetime.timedelta(days=365), datetime.timedelta(days=520)), (0.6, 1)), ((datetime.timedelta(days=365), datetime.timedelta(days=520)), (1, None)), ((datetime.timedelta(days=520), None), (0, 0.1)), ((datetime.timedelta(days=520), None), (0.1, 0.3)), ((datetime.timedelta(days=520), None), (0.3, 0.6)), ((datetime.timedelta(days=520), None), (0.6, 1)), ((datetime.timedelta(days=520), None), (1, None))])

In [8]:
n = 0
for k in retdict:
    n += retdict[k]['id'].nunique()
    print(retdict[k]['id'].nunique())

27743
138
159
161
26
3228
32
29
29
10
1067
79
45
36
19
180
78
70
63
23
275
96
108
105
28
117
62
57
61
14
2049
1647
786
530
98

In [2]:
#print(n)
closings = pd.read_csv('data/ICAAR_Babylon_Closings_2024_03_19 (1).csv')
closings['last_event'] = pd.to_datetime(closings['last_event'], dayfirst=True)
print(closings['id'].nunique())

46887

In [10]:
k=((day_thresh[0],day_thresh[1]),(price_thresh[0],price_thresh[1]))
retdict[k]

                 id                DEED_LID
2        28667755.0  0402PLGBUG3VMNMYOBKZ2K
3        28666310.0  0400WON13PGC4OJR5LANZ6
5        28694152.0  0403EB10Z1F5ZLSLBR5TJY
8        28701531.0  0407KPCWCK4U0BMVE53OP4
12       28661213.0  04006JL7J8WU64LG4W3MKW
...             ...                     ...
2068261  28702619.0  04038FGOB9KD1HCT62TRYL
2068270  28685500.0  04000KRCFUHDIJBXGG33QZ
2069836  28676314.0  0403X6ZKR8HALO5WRBLOSL
2072258  28700909.0  0402K2KEDJLTIHMT1ZTNNF
2123759  28676388.0  0402PM2RRKZSZSD0U78IZR

[29843 rows x 2 columns]

In [11]:
n

39248

In [12]:
'28658735' in retdict[k]['id'].values

False

In [13]:
num_matches = []
for i in closings['id']:
    count = 0
    for k in retdict:
        if int(i) in retdict[k]['id'].values:
            count += 1

    num_matches.append(count)

In [14]:
closings['num_matches'] = num_matches

In [15]:
num_matches.sort()

In [16]:
closings[['id','num_matches']].sort_values('num_matches', ascending=False)

             id  num_matches
0      28689862            1
29936  28667008            1
29938  28750810            1
29939  28753302            1
29940  28754616            1
...         ...          ...
38443  28712273            0
38445  28697895            0
38446  28669429            0
7197   28731871            0
16756  28678820            0

[46897 rows x 2 columns]

In [17]:
deeds = []
for k in retdict:
    deeds += list(retdict[k][(retdict[k]['id'] == 28681001)]['DEED_LID'].values)

In [18]:
len(deeds)

1

In [3]:
with open(f'deeds_df.pkl', 'rb') as f:
    deeds_df = pkl.load(f)

In [20]:
deeds_df[deeds_df['DEED_LID'].isin(deeds)]

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE,ASSESSMENT_LID
1752745,0406N5MXET3IW11W2LPBV0,4602 TWIN PINE DR NE,CEDAR RAPIDS,52402.0,2023-09-12 00:00:00,215000.0,4602,NaN,TWIN PINE,NaN,DR,0300HXPUU8AVVJA1TVGN27

In [21]:
closings[closings['id'] == 28681001]

,id,rebny_id,building_id,address,zip,sold_price,last_event,add_address_lid,add_house_number,add_prefix_direction,add_street_name,add_suffix_direction,add_suffix_type,parcel_lid,assessment_lid,land_assessed_value,land_market_value,num_matches
37439,28681001,202304359,15198859.0,4602 NE Twin Pine Dr. NE,52402,215000,2023-09-12 04:00:00,0602JKA4NSKOEKWYH1METH,4602,NaN,Twin Pine,Ne,Dr,02015SHJZ451MZBTHOZPI6,0300HXPUU8AVVJA1TVGN27,36700.0,36700.0,1

In [22]:
with open('matches_buckets.pkl', 'rb') as f:
    retdict = pkl.load(f)

In [23]:
for k in retdict:
    retdict[k][0]['type_of_match'] = ['0_parcel'] * len(retdict[k][0])
    retdict[k][1]['type_of_match'] = ['1_exact'] * len(retdict[k][1])
    retdict[k][2]['type_of_match'] = ['2_standardized'] * len(retdict[k][2])
    retdict[k][3]['type_of_match'] = ['3_fuzzy'] * len(retdict[k][3])

In [24]:
for k in retdict.keys():
    if type(retdict[k]) == list:
        retdict[k] = pd.concat(retdict[k])

In [25]:
retdict[k].groupby('type_of_match')['DEED_LID'].nunique()

type_of_match
0_parcel          129
1_exact            31
2_standardized      6
3_fuzzy            24
Name: DEED_LID, dtype: int64

In [26]:
extreme_bucket = retdict[k].merge(deeds_df, on='DEED_LID', how='inner').merge(closings, on='id', how='inner')

In [27]:
extreme_bucket.columns

Index(['id', 'DEED_LID', 'type_of_match', 'SITE_ADDR', 'SITE_CITY', 'SITE_ZIP',
       'DATE_TRANSFER', 'VAL_TRANSFER', 'SITE_HOUSE_NUMBER', 'SITE_DIRECTION',
       'SITE_STREET_NAME', 'SITE_UNIT_NUMBER', 'SITE_MODE', 'ASSESSMENT_LID',
       'rebny_id', 'building_id', 'address', 'zip', 'sold_price', 'last_event',
       'add_address_lid', 'add_house_number', 'add_prefix_direction',
       'add_street_name', 'add_suffix_direction', 'add_suffix_type',
       'parcel_lid', 'assessment_lid', 'land_assessed_value',
       'land_market_value', 'num_matches'],
      dtype='object')

In [28]:
len(retdict[k])

197

In [29]:
extreme_bucket[['id', 'DEED_LID', 'type_of_match', 'SITE_ADDR', 'SITE_ZIP', 'VAL_TRANSFER', 'DATE_TRANSFER', 'building_id', 'address', 'zip', 'sold_price', 'last_event']].to_clipboard(index=False)

In [30]:
extreme_bucket[['id', 'DEED_LID', 'type_of_match', 'SITE_ADDR', 'SITE_ZIP', 'VAL_TRANSFER', 'DATE_TRANSFER', 'building_id', 'address', 'zip', 'sold_price', 'last_event']].head()

,id,DEED_LID,type_of_match,SITE_ADDR,SITE_ZIP,VAL_TRANSFER,DATE_TRANSFER,building_id,address,zip,sold_price,last_event
0,28747425.0,0403SWCLXFK4C6Y7NB1B5M,0_parcel,1199 TIMBER LN,52772.0,30000.0,2007-05-25 00:00:00,15139333.0,333 Timber Lane,52772,257500,2015-03-27 04:00:00
1,28700133.0,0407N8TZNF4Z90TLFCNTXH,0_parcel,2919 TWIN MILL DR NE,52317.0,45000.0,2012-10-09 00:00:00,15094641.0,2919 Twinmill Dr NE,52317,391000,2016-04-29 04:00:00
2,28669049.0,0401HWG33977GJBG3CXVYS,0_parcel,3065 RIVER OAKS DR NE,52317.0,86500.0,2005-02-22 00:00:00,15111265.0,3065 NE River Oaks Drive,52317,740000,2022-09-06 04:00:00
3,28725109.0,04069M114XDGDF56MUFRWA,0_parcel,411 W ZELLER ST,52317.0,81000.0,2008-12-22 00:00:00,15173866.0,407-417 W Zeller St.,52317,430000,2017-08-30 04:02:00
4,28725109.0,0402LD3XHYDL7W4SNMBNP9,0_parcel,421 W ZELLER ST,52317.0,87500.0,2005-09-01 00:00:00,15173866.0,407-417 W Zeller St.,52317,430000,2017-08-30 04:02:00

In [31]:
output = {}
for k in retdict:
    bucket = retdict[k].merge(deeds_df, on='DEED_LID', how='inner').merge(closings, on='id', how='inner')[['id', 'DEED_LID', 'type_of_match', 'SITE_ADDR', 'SITE_ZIP', 'VAL_TRANSFER', 'DATE_TRANSFER', 'building_id', 'address', 'zip', 'sold_price', 'last_event']]
    try:
        try:
            output[f'{k[0][0].days}-{k[0][1].days} days,{k[1][0]*100:.0f}%-{k[1][1]*100:.0f}% price'] = bucket
        except:
            output[f'{k[0][0].days}-{k[0][1].days} days,>{k[1][0]*100:.0f}% price'] = bucket
    except:
        try:
            output[f'>{k[0][0].days} days,{k[1][0]*100:.0f}%-{k[1][1]*100:.0f}% price'] = bucket
        except:
            output[f'>{k[0][0].days} days,>{k[1][0]*100:.0f}% price'] = bucket

In [32]:
def report_writer(dfs:dict, report_name:str):
    """Creates an excel report using a dictionary of dfs.

    Args:
        dfs (dict): Data
        report_name (str): Name of file.
    """
    writer = pd.ExcelWriter(report_name, engine='xlsxwriter')
    workbook = writer.book
    format = workbook.add_format()
    format.set_align('center')
    for sheetname, df in dfs.items():
        df.to_excel(writer, sheet_name=sheetname, index=False)
        worksheet = writer.sheets[sheetname]
        for idx, col in enumerate(df):
            series =df[col]
            max_len = max((
                series.astype(str).map(len).max(),
                len(str(series.name))
            ))+1
            worksheet.set_column(idx, idx, max_len, format)

    writer.close()

In [33]:
report_writer(output, 'matches_by_bucket.xlsx')

In [34]:
all_matches = []
for k in retdict:
    all_matches += list(retdict[k]['id'])

In [35]:
closings[~closings['id'].isin(all_matches)].to_clipboard(index=False)

In [36]:
deeds_df[deeds_df['DEED_LID']=='0405S8YI76A7UDO96QYMQM']

,DEED_LID,SITE_ADDR,SITE_CITY,SITE_ZIP,DATE_TRANSFER,VAL_TRANSFER,SITE_HOUSE_NUMBER,SITE_DIRECTION,SITE_STREET_NAME,SITE_UNIT_NUMBER,SITE_MODE,ASSESSMENT_LID
1208160,0405S8YI76A7UDO96QYMQM,2230 PEMBROKESHIRE DR,CORALVILLE,52241.0,2020-02-28 00:00:00,225000.0,2230,NaN,PEMBROKESHIRE,NaN,DR,0303Q6JP48Y57TREIZ6W2T

In [4]:
deeds = pd.read_csv('Deed_IA.csv')
#deeds[deeds['DEED_LID'] == '0405S8YI76A7UDO96QYMQM']

In [38]:
#deeds[deeds['DEED_LID'] == '0404RAXJMNEKZYV3N3A5FF']

In [39]:
#deeds[(~deeds['SITE_ADDR'].isna()) & (deeds['SITE_STREET_NAME'].isna())]

In [40]:
#(len(deeds) - len(deeds[(~deeds['SITE_ADDR'].isna()) & (deeds['SITE_STREET_NAME'].isna())]))/len(deeds)

In [41]:
#deeds.groupby('DOC_TYPE_DESC')['DEED_LID'].nunique().sort_values(ascending=False)

In [42]:
with open('data/threshold_match.pkl', 'rb') as f:
    threshold_match = pkl.load(f)

threshold_match['type_of_match'] = ['4_threshold']*len(threshold_match)

In [33]:
import e_threshold_matching
threshold_match = e_threshold_matching.main((timedelta(days=0), timedelta(days=30)), (0, 0.1))

  0%|          | 0/7643 [00:00<?, ?it/s]

done threshold match: 3234 out of 7643
42.31322779013477%

In [34]:
threshold_match['type_of_match'] = ['4_threshold']*len(threshold_match)
bucket = threshold_match.merge(deeds_df, on='DEED_LID', how='inner').merge(closings, on='id', how='inner')[['id', 'DEED_LID', 'type_of_match', 'SITE_ADDR', 'SITE_ZIP', 'VAL_TRANSFER', 'DATE_TRANSFER', 'building_id', 'address', 'zip', 'sold_price', 'last_event']]
print(len(bucket))

8594

In [35]:
bucket.to_clipboard(index=False)

In [36]:
bucket.sample(10)

,id,DEED_LID,type_of_match,SITE_ADDR,SITE_ZIP,VAL_TRANSFER,DATE_TRANSFER,building_id,address,zip,sold_price,last_event
1195,28720421,0404BTSXZMKXPJSBVYS8J9,4_threshold,515 HIGHWAY 1 S,52353.0,98000.0,2014-09-12 00:00:00,NaN,515 Hwy 1,52353,98000,2014-09-12 04:00:00
6663,28732224,040245RICZD5N8Y3GKJ9ZP,4_threshold,1385 SALM DR,52317.0,135000.0,2017-09-29 00:00:00,NaN,Lot 33 Scanlon North Ridge,52317,135000,2017-09-29 04:00:00
8143,28732905,0405TSE7ZR0S8TG7DD8K8Q,4_threshold,RUNDELL ST,52240.0,62000.0,2018-09-10 00:00:00,NaN,2764/2774 Blazing Star Dr,52240,60000,2018-09-21 04:00:00
8115,28728988,04035YOW1SJNVTYK5BAFQ7,4_threshold,909 HORIZON DR,52340.0,92500.0,2018-08-28 00:00:00,14875615.0,1107 Croell Ave,52340,92500,2018-08-15 04:00:00
625,28751376,040339FDRL1JVDI10JZ9CE,4_threshold,3114 WINTERGREEN DR,52240.0,260000.0,2013-07-10 00:00:00,15104712.0,3025 Jasper Avenue NW,52240,282250,2013-07-11 04:00:00
1969,28706133,04060K1K2NSPDF556ZSXFD,4_threshold,1235 COPPER MOUNTAIN DR,52317.0,65000.0,2013-03-12 00:00:00,NaN,Lot 7 Locust Ridge Rd,52317,65000,2013-03-01 05:00:00
7012,28733441,0407KVB2IPGCDRST507XTX,4_threshold,2415 110TH ST,52247.0,120000.0,2023-07-19 00:00:00,NaN,Lot 10 North Ridge Place,52247,125000,2023-06-30 04:00:00
373,28732348,0403N9CFSO3EIMNZD8LWLR,4_threshold,775 CHUKAR CIR,52317.0,62500.0,2012-05-07 00:00:00,NaN,Lot 20 WOOD DUCK CT,52317,65000,2012-04-27 04:00:00
5903,28655474,0400PFVZFVDEACF4HUXTL5,4_threshold,1500 PARKLAND DR,52227.0,337500.0,2017-07-17 00:00:00,NaN,2010 ROGERS CREEK RD.,52227,307000,2017-06-26 04:00:00
4975,28728595,0407IQGZ2PT09N4RFSQVKA,4_threshold,603 2ND ST SW,52404.0,110000.0,2015-04-20 00:00:00,NaN,5120 Burr Oak Ct. SW,52404,120000,2015-04-30 04:00:00