In [1]:
import geopandas as gpd
import yaml

In [2]:
gis_boundaries = gpd.read_file('data/statistical-gis-boundaries-london/ESRI/London_Ward_CityMerged.shp')

In [3]:
gis_boundaries.head()

,NAME,GSS_CODE,HECTARES,NONLD_AREA,LB_GSS_CD,BOROUGH,POLY_ID,geometry
0,Chessington South,E05000405,755.173,0.0,E09000021,Kingston upon Thames,50840,"POLYGON ((516401.600 160201.800, 516407.300 16..."
1,Tolworth and Hook Rise,E05000414,259.464,0.0,E09000021,Kingston upon Thames,117160,"POLYGON ((517829.600 165447.100, 517837.100 16..."
2,Berrylands,E05000401,145.390,0.0,E09000021,Kingston upon Thames,50449,"POLYGON ((518107.500 167303.400, 518114.300 16..."
3,Alexandra,E05000400,268.506,0.0,E09000021,Kingston upon Thames,50456,"POLYGON ((520480.000 166909.800, 520490.700 16..."
4,Beverley,E05000402,187.821,0.0,E09000021,Kingston upon Thames,117161,"POLYGON ((522071.000 168144.900, 522063.900 16..."

In [4]:
len(gis_boundaries)

625

In [5]:
gis_boundaries.NAME.unique()

array(['Chessington South', 'Tolworth and Hook Rise', 'Berrylands',
       'Alexandra', 'Beverley', 'Coombe Hill',
       'Chessington North and Hook', 'Surbiton Hill', 'Old Malden',
       "St. Mark's", 'Grove', 'Canbury', 'Norbiton', 'Coombe Vale',
       'St. James', 'Tudor', 'Coulsdon East', 'Selsdon and Ballards',
       'Coulsdon West', 'Waddon', 'Kenley', 'Purley', 'Sanderstead',
       'Heathfield', 'Fairfield', 'Broad Green', 'West Thornton',
       'Bensham Manor', 'Norbury', 'New Addington', 'Croham', 'Fieldway',
       'Shirley', 'Selhurst', 'Ashburton', 'Woodside', 'Thornton Heath',
       'Upper Norwood', 'South Norwood', 'Addiscombe', 'Darwin',
       'Hayes and Coney Hall', 'Bromley Common and Keston',
       'Chelsfield and Pratts Bottom', 'Biggin Hill', 'West Wickham',
       'Clock House', 'Kelsey and Eden Park', 'Farnborough and Crofton',
       'Shortlands', 'Bromley Town', 'Bickley', 'Petts Wood and Knoll',
       'Crystal Palace', 'Penge and Cator', 'Copers Cope',
       'Plaistow and Sundridge', 'Chislehurst',
       'Mottingham and Chislehurst North', 'Orpington',
       'Cray Valley West', 'Cray Valley East', 'Bedfont', 'Hanworth',
       'Cranford', 'Syon', 'Heston West', 'Heston East',
       'Osterley and Spring Grove', 'Brentford', 'Chiswick Homefields',
       'Feltham West', 'Hanworth Park', 'Feltham North', 'Hounslow Heath',
       'Hounslow West', 'Heston Central', 'Hounslow South', 'Isleworth',
       'Hounslow Central', 'Chiswick Riverside', 'Turnham Green',
       'Norwood Green', 'Southall Green', 'Northolt West End',
       'Dormers Wells', 'Greenford Broadway', 'North Greenford',
       'Northfield', 'East Acton', 'Southall Broadway', 'Elthorne',
       'Walpole', 'Lady Margaret', 'Northolt Mandeville', 'Hobbayne',
       'Cleveland', 'Greenford Green', 'Perivale', 'Ealing Common',
       'Ealing Broadway', 'South Acton', 'Southfield', 'Acton Central',
       'Hanger Hill', 'Upminster', 'Rainham and Wennington',
       'South Hornchurch', 'Elm Park', 'Brooklands', 'Romford Town',
       'Mawneys', 'Pettits', 'Hacton', "St. Andrew's", 'Emerson Park',
       "Squirrel's Heath", 'Harold Wood', 'Cranham', 'Havering Park',
       'Heaton', 'Gooshays', 'Hylands', 'Heathrow Villages', 'Harefield',
       'West Drayton', 'Yiewsley', 'Uxbridge South', 'Brunel',
       'Uxbridge North', 'Hillingdon East', 'Ickenham', 'West Ruislip',
       'Northwood', 'South Ruislip', 'Manor', 'Eastcote and East Ruislip',
       'Northwood Hills', 'Pinkwell', 'Botwell', 'Charville', 'Townfield',
       'Barnhill', 'Yeading', 'Cavendish', 'Roxeth', 'Harrow on the Hill',
       'Pinner', 'Pinner South', 'Greenhill', 'Headstone North',
       'Marlborough', 'Harrow Weald', 'Stanmore Park', 'Canons',
       'Rayners Lane', 'Roxbourne', 'West Harrow', 'Hatch End',
       'Headstone South', 'Kenton West', 'Wealdstone', 'Belmont',
       'Kenton East', 'Queensbury', 'Edgware', 'Northwick Park',
       'Wembley Central', 'Preston', 'Stonebridge', 'Welsh Harp',
       'Fryent', 'Sudbury', 'Alperton', 'Kensal Green', 'Harlesden',
       'Willesden Green', 'Queens Park', 'Brondesbury Park', 'Kilburn',
       'Tokyngton', 'Kenton', 'Dudden Hill', 'Dollis Hill', 'Mapesbury',
       'Underhill', 'High Barnet', 'West Hendon', 'Golders Green',
       'Colindale', 'Childs Hill', 'Garden Suburb', 'Finchley Church End',
       'East Finchley', 'Mill Hill', 'Hale', 'Totteridge', 'Oakleigh',
       'Woodhouse', 'Coppetts', 'Brunswick Park', 'East Barnet',
       'Burnt Oak', 'Hendon', 'West Finchley', 'Streatham South',
       "St. Leonard's", 'Streatham Wells', "Knight's Hill", 'Thornton',
       'Streatham Hill', 'Clapham Common', 'Brixton Hill', 'Tulse Hill',
       'Coldharbour', 'Ferndale', 'Larkhall', 'Oval', 'Vassall',
       'Gipsy Hill', 'Thurlow Park', 'Herne Hill', "Bishop's",
       'Clapham Town', 'Stockwell', "Prince's", 'College', 'Riverside',
       'Village', 'South Camberwell', 'East Dulwich', 'Peckham Rye',
       'Camberwell Green', 'The Lane', 'Nunhead', 'Peckham', 'Newington',
       'Faraday', 'East Walworth', 'Livesey', 'South Bermondsey',
       'Cathedrals', 'Grange', 'Rotherhithe', 'Surrey Docks', 'Chaucer',
       'Bellingham', 'Telegraph Hill', 'Downham', 'Whitefoot',
       'Blackheath', 'Sydenham', 'Forest Hill', 'Perry Vale',
       'Rushey Green', 'Catford South', 'Crofton Park', 'Ladywell',
       'Lewisham Central', 'Brockley', 'New Cross', 'Grove Park',
       'Lee Green', 'Evelyn', 'Middle Park and Sutcliffe',
       'Coldharbour and New Eltham', 'Eltham South', 'Shooters Hill',
       'Peninsula', 'Woolwich Riverside', 'Greenwich West', 'Eltham West',
       'Blackheath Westcombe', 'Kidbrooke with Hornfair', 'Eltham North',
       'Charlton', 'Woolwich Common', 'Plumstead', 'Glyndon',
       'Thamesmead Moorings', 'Abbey Wood', 'Longlands',
       'Blackfen and Lamorbey', 'Cray Meadows', 'Sidcup', "St. Mary's",
       'Crayford', 'North End', 'Erith', 'Belvedere', 'Thamesmead East',
       'Falconwood and Welling', 'East Wickham', 'Blendon and Penhill',
       'Danson Park', 'Christchurch', "St. Michael's", 'Brampton',
       'Northumberland Heath', 'Barnehurst', 'Colyers', 'Lesnes Abbey',
       'Chase', 'Winchmore Hill', 'Cockfosters', 'Highlands',
       'Upper Edmonton', 'Palmers Green', 'Edmonton Green',
       'Lower Edmonton', 'Jubilee', 'Ponders End', 'Enfield Highway',
       'Bowes', 'Southgate Green', 'Southgate', 'Haselbury',
       'Bush Hill Park', 'Town', 'Southbury', 'Turkey Street',
       'Enfield Lock', 'Leyton', 'High Street', 'Higham Hill', 'Valley',
       'Chingford Green', 'Cathall', 'Lea Bridge', 'Markhouse',
       'Grove Green', 'Forest', 'William Morris', 'Hoe Street',
       'Wood Street', 'Chapel End', 'Hale End and Highams Park',
       'Cann Hall', 'Larkswood', 'Endlebury', 'Hatch Lane', 'Leytonstone',
       'Wanstead', 'Cranbrook', 'Newbury', 'Roding', 'Fairlop',
       'Goodmayes', 'Aldborough', 'Bridge', 'Hainault', 'Loxford',
       'Clementswood', 'Mayfield', 'Valentines', 'Seven Kings',
       'Snaresbrook', 'Clayhall', 'Church End', 'Barkingside', 'Fullwell',
       'Chadwell', 'Monkhams', 'Carshalton South and Clockhouse', 'Cheam',
       'Beddington South', 'St. Helier', 'Wandle Valley', 'Nonsuch',
       'Worcester Park', 'Sutton South', 'Sutton West', 'Sutton Central',
       'Carshalton Central', 'Sutton North', 'Stonecot', 'The Wrythe',
       'Wallington South', 'Wallington North', 'Beddington North',
       'Hampton', 'Teddington', 'Hampton Wick', 'Twickenham Riverside',
       'Ham, Petersham and Richmond Riverside', 'North Richmond', 'Kew',
       'East Sheen', 'Mortlake and Barnes Common', 'Hampton North',
       'Fulwell and Hampton Hill', 'West Twickenham', 'Whitton',
       'South Twickenham', 'St. Margarets and North Twickenham',
       'South Richmond', 'Barnes', 'Cannon Hill', 'Cricket Green',
       'Wimbledon Park', 'Lower Morden', 'West Barnes', 'Raynes Park',
       'Dundonald', 'Ravensbury', 'Merton Park', 'Abbey', "Figge's Marsh",
       'Pollards Hill', 'Graveney', 'Longthornton', 'Hillside', 'Trinity',
       'Lavender Fields', 'Colliers Wood', 'Roehampton and Putney Heath',
       'Thamesfield', 'Wandsworth Common', 'West Hill', 'West Putney',
       'East Putney', 'Tooting', 'Southfields', 'Earlsfield',
       'Nightingale', 'Furzedown', 'Bedford', 'Balham', 'Northcote',
       'Latchmere', "St. Mary's Park", 'Queenstown', 'Shaftesbury',
       'Palace Riverside', 'Munster', 'Sands End',
       'Parsons Green and Walham', 'Fulham Broadway', 'Ravenscourt Park',
       'Hammersmith Broadway', 'Avonmore and Brook Green', 'Askew',
       'Wormholt and White City', "Shepherd's Bush Green",
       'College Park and Old Oak', 'Fulham Reach', 'Addison', 'Cremorne',
       'Holland', 'Norland', 'Golborne', 'Redcliffe', 'Stanley',
       'Royal Hospital', 'Brompton', 'Abingdon', 'Pembridge',
       'Notting Barns', 'Colville', 'St. Charles', "Earl's Court",
       'Courtfield', "Queen's Gate", 'Hans Town', 'Campden',
       "St. James's", 'Lancaster Gate', 'Knightsbridge and Belgravia',
       'Hyde Park', 'Churchill', 'Vincent Square', 'West End',
       'Harrow Road', 'Bryanston and Dorset Square', "Regent's Park",
       'Abbey Road', 'Marylebone High Street', "Queen's Park",
       'Bayswater', 'Warwick', 'Tachbrook', 'Westbourne', 'Little Venice',
       'Maida Vale', 'Church Street', 'Swiss Cottage', 'Highgate',
       'Bloomsbury', 'Holborn and Covent Garden',
       'St. Pancras and Somers Town', 'Camden Town with Primrose Hill',
       'Cantelowes', "King's Cross", 'Fortune Green',
       'Frognal and Fitzjohns', 'Gospel Oak', 'Hampstead Town',
       'Kentish Town', 'West Hampstead', 'Belsize', 'Haverstock',
       'Millwall', 'Blackwall and Cubitt Town', 'Shadwell',
       "St. Katharine's and Wapping", 'Limehouse', 'Bethnal Green South',
       'Mile End and Globe Town', 'Bethnal Green North',
       "St. Dunstan's and Stepney Green", 'Mile End East',
       'East India and Lansbury', 'Bromley-by-Bow', 'Bow West',
       'Bow East', 'Whitechapel', 'Spitalfields and Banglatown',
       'Weavers', 'Clerkenwell', 'Caledonian', 'Holloway',
       'Highbury East', 'Highbury West', 'Tollington', 'Bunhill',
       "St. Peter's", 'Canonbury', 'Barnsbury', "St. George's",
       'Junction', 'Finsbury Park', 'Hillrise', 'Mildmay', 'Haggerston',
       'Brownswood', 'De Beauvoir', 'Queensbridge', 'Wick', 'Dalston',
       'Stoke Newington Central', 'Hackney Downs', 'Leabridge',
       'New River', 'Cazenove', "King's Park", 'Hoxton', 'Victoria',
       'Hackney Central', 'Chatham', 'Clissold', 'Lordship',
       'Springfield', 'Harringay', 'Fortis Green', 'Bounds Green',
       'Crouch End', 'Stroud Green', 'Muswell Hill', 'Hornsey',
       'Noel Park', "St. Ann's", 'Seven Sisters', 'Tottenham Green',
       'West Green', 'Tottenham Hale', 'White Hart Lane', 'Bruce Grove',
       'Northumberland Park', 'Royal Docks', 'Canning Town North',
       'Beckton', 'East Ham South', 'Stratford and New Town',
       'Canning Town South', 'Custom House', 'Plaistow South', 'West Ham',
       'Plaistow North', 'Forest Gate South', 'Boleyn',
       'East Ham Central', 'Green Street West', 'Green Street East',
       'East Ham North', 'Wall End', 'Forest Gate North', 'Manor Park',
       'Little Ilford', 'Gascoigne', 'Thames', 'River', 'Longbridge',
       'Eastbury', 'Goresbrook', 'Mayesbrook', 'Becontree', 'Alibon',
       'Valence', 'Heath', 'Whalebone', 'Eastbrook', 'Chadwell Heath',
       'Parsloes', 'City of London'], dtype=object)

In [6]:
gis_boundaries.to_crs('EPSG:4326').crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [7]:
parcels = gpd.read_file('data/london_select_parcels.geojson')
parcels_x_wards = parcels.to_crs('EPSG:4326').sjoin(gis_boundaries.to_crs('EPSG:4326'), predicate='within')
len(parcels_x_wards)

15942

In [8]:
parcels_x_wards.head()

,OBJECTID,SHAPE_Length,SHAPE_Area,geometry,index_right,NAME,GSS_CODE,HECTARES,NONLD_AREA,LB_GSS_CD,BOROUGH,POLY_ID
0,2562373,720.403206,6628.84615,"MULTIPOLYGON (((-0.14006 51.49382, -0.14028 51...",483,Vincent Square,E05000646,68.355,8.89,E09000033,Westminster,117485
1,2562384,555.762490,6923.99910,"MULTIPOLYGON (((-0.14142 51.49604, -0.14039 51...",483,Vincent Square,E05000646,68.355,8.89,E09000033,Westminster,117485
2,2562387,629.947674,10570.56030,"MULTIPOLYGON (((-0.13956 51.49634, -0.13836 51...",483,Vincent Square,E05000646,68.355,8.89,E09000033,Westminster,117485
3,2562396,439.552897,4390.70260,"MULTIPOLYGON (((-0.13796 51.49569, -0.13778 51...",483,Vincent Square,E05000646,68.355,8.89,E09000033,Westminster,117485
4,2562400,391.246140,7202.12535,"MULTIPOLYGON (((-0.13764 51.49565, -0.13839 51...",483,Vincent Square,E05000646,68.355,8.89,E09000033,Westminster,117485

In [9]:
in_sample = []
for n in parcels_x_wards['NAME'].unique():
    try:
        in_sample += list(parcels_x_wards[parcels_x_wards['NAME'] == n].sample(200, random_state=42).index)
    except ValueError:
        n_sample = len(parcels_x_wards[parcels_x_wards['NAME'] == n])
        print(n, n_sample)
        in_sample += list(parcels_x_wards[parcels_x_wards['NAME'] == n].sample(int(n_sample/10), random_state=42).index)
len(in_sample)

Vincent Square 60
Warwick 63
Knightsbridge and Belgravia 103
Tachbrook 30
Churchill 65
Cathedrals 192
East Walworth 106
Newington 75
Chaucer 90
Oval 115
Grange 119
Riverside 120
Faraday 70
Surrey Docks 152
New Cross 194
The Lane 117
Latchmere 107
Brockley 160
Ladywell 6
Crofton Park 8
Telegraph Hill 139
Evelyn 170
Peckham Rye 126
Nunhead 88
Rotherhithe 139
Livesey 153
St. Katharine's and Wapping 116
South Bermondsey 124
Camberwell Green 102
Peckham 91
Brunswick Park 75
Herne Hill 129
South Camberwell 133
East Dulwich 82
Blackwall and Cubitt Town 126
Greenwich West 74
Millwall 172
Village 178
Coldharbour 136
Prince's 101
Vassall 92
Stockwell 85
Bishop's 103
Ferndale 71
Larkhall 87
Clapham Common 79
Clapham Town 70
Brompton 74
Royal Hospital 52
Shaftesbury 69
Hans Town 65
St. Mary's Park 113
Stanley 61
Northcote 93
Brixton Hill 80
Tulse Hill 91
Balham 77
Thornton 101
Wandsworth Common 93
Fairfield 119
Cremorne 41
Parsons Green and Walham 70
Sands End 103
North End 52
Redcliffe 49
Fulham Broadway 60
Southfields 8
Thamesfield 18
Queen's Gate 45
Courtfield 48
Earl's Court 28
Abingdon 48
Campden 70
Holland 81
Town 59
Fulham Reach 62
Palace Riverside 79
Munster 45
Wick 91
East Putney 1
Addison 38
Victoria 65
Hammersmith Broadway 68
Shepherd's Bush Green 59
Avonmore and Brook Green 59
Bow East 117
Norland 71
Chatham 82
St. Mary's 63
Cantelowes 69
Barnsbury 74
Mile End East 80
Holborn and Covent Garden 126
Limehouse 126
Camden Town with Primrose Hill 97
King's Cross 66
Stratford and New Town 9
Bethnal Green North 93
Mile End and Globe Town 91
Bow West 76
Bromley-by-Bow 107
East India and Lansbury 93
St. Dunstan's and Stepney Green 114
Canning Town North 1
Shadwell 106
Brondesbury Park 50
Queens Park 91
Stoke Newington Central 44
Hackney Downs 77
Bunhill 107
Leabridge 50
King's Park 45
Dalston 89
Little Venice 54
Hackney Central 72
Whitechapel 115
Pembridge 32
Weavers 121
Haggerston 162
Bethnal Green South 113
Canonbury 74
Hoxton 101
Clerkenwell 86
De Beauvoir 88
Spitalfields and Banglatown 76
Mildmay 66
Highbury East 86
Queensbridge 108
St. Peter's 66
Clissold 64
Highbury West 80
Finsbury Park 71
Holloway 89
St. George's 67
Kentish Town 88
Junction 76
Gospel Oak 64
Haverstock 62
Hampstead Town 108
Belsize 76
Caledonian 92
St. Pancras and Somers Town 125
Swiss Cottage 75
Bloomsbury 88
Marylebone High Street 116
Bryanston and Dorset Square 86
Hyde Park 80
Church Street 61
Lancaster Gate 58
Westbourne 61
Bayswater 36
Maida Vale 49
Frognal and Fitzjohns 114
Harrow Road 32
Colville 45
Kilburn 143
Abbey Road 83
West Hampstead 57
Fortune Green 45
Queen's Park 52
Mapesbury 13
Golborne 66
St. Charles 49
College Park and Old Oak 36
Notting Barns 59
Wormholt and White City 11
Forest Hill 21
Thurlow Park 122
College 48
Nightingale 66
Streatham Hill 86
Bedford 31
Knight's Hill 8
Streatham Wells 17
St. Leonard's 24
Earlsfield 3
Brownswood 71
Lordship 75
Tollington 64
Cazenove 51
Springfield 5
New River 40
Seven Sisters 7
Harringay 19
Stroud Green 54
Hillrise 65
Crouch End 38

2572

In [10]:
import pandas as pd
addresses = pd.read_csv('data/fakelondonaddresses.csv')
addresses.head()

     display_address     city  postal_code
0  644 Richmond Road   London     SE13 7LM
1     98 Church Road   London      W63 9CB
2      88 Kings Road   London      N20 9KJ
3     39 Queens Road   London     EC17 3FP
4     9 Chester Road   London      N64 9BU

In [11]:
parcels['centroid_latitude'] = parcels.to_crs('EPSG:4326').centroid.y
parcels['centroid_longitude'] = parcels.to_crs('EPSG:4326').centroid.x

/var/folders/6l/yzmcq93j41zf3wrth_tyl6g80000gn/T/ipykernel_68914/2877377553.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  parcels['centroid_latitude'] = parcels.to_crs('EPSG:4326').centroid.y
/var/folders/6l/yzmcq93j41zf3wrth_tyl6g80000gn/T/ipykernel_68914/2877377553.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  parcels['centroid_longitude'] = parcels.to_crs('EPSG:4326').centroid.x

In [12]:
parcels.head()

,OBJECTID,SHAPE_Length,SHAPE_Area,geometry,centroid_latitude,centroid_longitude
0,2562373,720.403206,6628.84615,"MULTIPOLYGON (((529214.490 178848.230, 529199....",51.495289,-0.141481
1,2562384,555.762490,6923.99910,"MULTIPOLYGON (((529113.650 179092.040, 529185....",51.495315,-0.140407
2,2562387,629.947674,10570.56030,"MULTIPOLYGON (((529242.540 179129.530, 529328....",51.495587,-0.139376
3,2562396,439.552897,4390.70260,"MULTIPOLYGON (((529355.300 179059.710, 529367....",51.495956,-0.138650
4,2562400,391.246140,7202.12535,"MULTIPOLYGON (((529377.550 179055.690, 529323....",51.496293,-0.137812

In [13]:
parcels['has_listing'] = parcels.index.isin(in_sample)
parcels.head(20)

,OBJECTID,SHAPE_Length,SHAPE_Area,geometry,centroid_latitude,centroid_longitude,has_listing
0,2562373,720.403206,6628.84615,"MULTIPOLYGON (((529214.490 178848.230, 529199....",51.495289,-0.141481,True
1,2562384,555.762490,6923.99910,"MULTIPOLYGON (((529113.650 179092.040, 529185....",51.495315,-0.140407,False
2,2562387,629.947674,10570.56030,"MULTIPOLYGON (((529242.540 179129.530, 529328....",51.495587,-0.139376,False
3,2562396,439.552897,4390.70260,"MULTIPOLYGON (((529355.300 179059.710, 529367....",51.495956,-0.138650,False
4,2562400,391.246140,7202.12535,"MULTIPOLYGON (((529377.550 179055.690, 529323....",51.496293,-0.137812,False
5,2562401,393.233310,8561.69845,"MULTIPOLYGON (((529507.190 179193.450, 529507....",51.496262,-0.136403,True
6,2562402,443.691714,5504.18160,"MULTIPOLYGON (((529232.920 179155.190, 529213....",51.496499,-0.140726,False
7,2562428,2349.573745,38091.65295,"MULTIPOLYGON (((529593.660 179634.430, 529622....",51.500133,-0.135535,True
8,2562434,72.732093,330.58975,"MULTIPOLYGON (((529462.170 179609.170, 529465....",51.500510,-0.136326,False
9,2562509,962.590253,22127.09600,"MULTIPOLYGON (((529210.060 179319.580, 529196....",51.497578,-0.140807,True
10,2562511,536.760942,8707.83370,"MULTIPOLYGON (((529508.540 179243.500, 529507....",51.497016,-0.137130,False
11,2562517,1098.193317,22460.48230,"MULTIPOLYGON (((529310.830 179264.720, 529310....",51.498091,-0.138112,True
12,2562518,333.523888,5178.97325,"MULTIPOLYGON (((529397.930 179301.200, 529400....",51.497617,-0.136726,True
13,2562526,330.910835,3514.84230,"MULTIPOLYGON (((529320.290 179434.670, 529290....",51.498664,-0.139231,True
14,2562531,188.852656,1844.01435,"MULTIPOLYGON (((529172.030 179372.030, 529192....",51.498763,-0.140069,True
15,2562532,170.353684,1510.74055,"MULTIPOLYGON (((529157.320 179378.370, 529153....",51.498891,-0.140700,True
16,2562533,94.450663,377.08760,"MULTIPOLYGON (((529462.360 179385.840, 529447....",51.498627,-0.136528,True
17,2562534,447.380530,8153.00530,"MULTIPOLYGON (((529354.890 179433.520, 529356....",51.499022,-0.136329,True
18,2562536,915.020391,17041.81160,"MULTIPOLYGON (((529114.000 179501.000, 529106....",51.499402,-0.141008,True
19,2562639,1416.344959,40167.00435,"MULTIPOLYGON (((528989.820 179061.480, 528990....",51.494877,-0.144545,True

In [14]:
len(parcels)

16289

In [15]:
sample_parcels = parcels[parcels['has_listing'] == True].reset_index(drop=True).merge(addresses, left_index=True, right_index=True)
sample_parcels

,OBJECTID,SHAPE_Length,SHAPE_Area,geometry,centroid_latitude,centroid_longitude,has_listing,display_address,city,postal_code
0,2562373,720.403206,6628.84615,"MULTIPOLYGON (((529214.490 178848.230, 529199....",51.495289,-0.141481,True,644 Richmond Road,London,SE13 7LM
1,2562401,393.233310,8561.69845,"MULTIPOLYGON (((529507.190 179193.450, 529507....",51.496262,-0.136403,True,98 Church Road,London,W63 9CB
2,2562428,2349.573745,38091.65295,"MULTIPOLYGON (((529593.660 179634.430, 529622....",51.500133,-0.135535,True,88 Kings Road,London,N20 9KJ
3,2562509,962.590253,22127.09600,"MULTIPOLYGON (((529210.060 179319.580, 529196....",51.497578,-0.140807,True,39 Queens Road,London,EC17 3FP
4,2562517,1098.193317,22460.48230,"MULTIPOLYGON (((529310.830 179264.720, 529310....",51.498091,-0.138112,True,9 Chester Road,London,N64 9BU
...,...,...,...,...,...,...,...,...,...,...
2567,2604075,92.354289,556.95190,"MULTIPOLYGON (((527924.680 186649.330, 527940....",51.564181,-0.155567,True,85 South Street,London,E24 3DC
2568,2604076,414.164804,3402.81445,"MULTIPOLYGON (((528306.100 186701.570, 528305....",51.564478,-0.151621,True,73 Chester Road,London,SW79 3CH
2569,2604077,69.360973,296.14650,"MULTIPOLYGON (((527962.440 186689.780, 527963....",51.564482,-0.155371,True,839 The Crescent,London,E63 1OU
2570,2604078,196.984090,1670.80280,"MULTIPOLYGON (((528025.390 186728.360, 528033....",51.564684,-0.154589,True,179 King Street,London,E89 0UB
2571,2604079,101.682057,434.87750,"MULTIPOLYGON (((527947.800 186700.660, 527948....",51.564856,-0.155347,True,77 The Green,London,N25 3IL

In [16]:
retyml = {'building_count': len(sample_parcels), 'region_key': 'london', 'location_info': [], 'display_address': []}
for lat, long, address in zip(sample_parcels['centroid_latitude'], sample_parcels['centroid_longitude'], sample_parcels['display_address']):
    retyml['location_info'].append({'centroid_latitude': lat, 'centroid_longitude': long})
    retyml['display_address'].append(address)
with open('sample_buildings.yml', 'w') as yaml_file:
    yaml.dump(retyml, yaml_file, default_flow_style=False,indent=2,sort_keys=False)

In [17]:
addresses = pd.read_csv('data/adds_london.csv')
parcels = parcels.merge(addresses, left_index=True, right_index=True)
retyml = {'building_count': len(parcels), 'region_key': 'london', 'location_info': [], 'display_address': []}
for lat, long, address in zip(parcels['centroid_latitude'], parcels['centroid_longitude'], parcels['display_address']):
    retyml['location_info'].append({'centroid_latitude': lat, 'centroid_longitude': long})
    retyml['display_address'].append(address)
with open('buildings.yml', 'w') as yaml_file:
    yaml.dump(retyml, yaml_file, default_flow_style=False,indent=2,sort_keys=False)

In [18]:
parcels.to_crs('EPSG:4326').to_file('central_london_parcels.geojson', driver="GeoJSON")