In [7]:
import pandas as pd

In [8]:
add = pd.read_csv('fields_to_add.csv')
add.head()

                     fields_to_add
0  building_accessibility_features
1               building_condition
2                 building_cooling
3       building_exterior_features
4                 building_fencing

In [9]:
remove = pd.read_csv('fields_to_remove.csv')
remove.head()

                 fields_to_remove
0                     access_code
1  additional_parcels_description
2          additional_parcels_y_n
3              anchors_co_tenants
4           association_amenities

In [10]:
with open('reso_weekly_rental.sql', 'r') as f:
    rental = f.read()
with open('reso_weekly_sales.sql', 'r') as f:
    sales = f.read()

for i in remove['fields_to_remove']:
    rental = rental.replace(i + ',', '')
    sales = sales.replace(i + ',', '')

rental = rental.replace(',,', ',')
sales = sales.replace(',,', ',')

In [11]:
count = 0
while ',,' in rental:
    rental = rental.replace(',,', ',')
    count += 1
count1 = 0
while ',,' in sales:
    sales = sales.replace(',,', ',')
    count += 1

count, count1

(0, 0)

In [12]:
with open('reso_weekly_rental_v2.sql', 'w') as f:
    f.write(rental)

with open('reso_weekly_sales_v2.sql', 'w') as f:
    f.write(sales)