In [1]:
import pandas as pd
import elasticsearch

In [2]:
client = elasticsearch.Elasticsearch('https://app:RETvuq5wxw2bdp6dvm@us-east-1-demo.es.us-east-1.aws.found.io:9243')
client.info()

ObjectApiResponse({'name': 'instance-0000000032', 'cluster_name': '4c1cdf2923954bc8bcf11e6d116e2eae', 'cluster_uuid': 'oEekh7Z4T_qt6qZLFzKjMQ', 'version': {'number': '7.17.7', 'build_flavor': 'default', 'build_type': 'docker', 'build_hash': '78dcaaa8cee33438b91eca7f5c7f56a70fec9e80', 'build_date': '2022-10-17T15:29:54.167373105Z', 'build_snapshot': False, 'lucene_version': '8.11.1', 'minimum_wire_compatibility_version': '6.8.0', 'minimum_index_compatibility_version': '6.0.0-beta1'}, 'tagline': 'You Know, for Search'})

{
    "index": "listings_demo",
    "from": 0,
    "size": 100000,
    "_source": ["rebny_id"],
    "query": {
        "bool": {
            "filter": [
                {
                    "term": {
                        "region_key": "california"
                    }
                },
                 {
                    "term": {
                        "state": "CA"
                    }
                },
                {
                    "range": {
                        "num_bedrooms": {
                            "gte": 0
                        }
                    }
                },
                {
                    "range": {
                        "num_baths": {
                            "gte": 0
                        }
                    }
                },
                {
                    "bool": {
                        "must": [
                            {
                                "bool": {
                                    "should": [
                                        {
                                            "terms": {
                                                "geography_ids": [
                                                    11985
                                                ]
                                            }
                                        },
                                        {
                                            "terms": {
                                                "canonical_neighborhood_id": [
                                                    "0"
                                                ]
                                            }
                                        }
                                    ]
                                }
                            },
                            {
                                "bool": {
                                    "must_not": []
                                }
                            }
                        ]
                    }
                },
                {
                    "terms": {
                        "approval": [
                            "0",
                            "100"
                        ]
                    }
                },
                {
                    "bool": {
                        "should": [
                            {
                                "bool": {
                                    "must_not": [
                                        {
                                            "exists": {
                                                "field": "listing_price"
                                            }
                                        }
                                    ]
                                }
                            },
                            {
                                "range": {
                                    "listing_price": {
                                        "gte": 0
                                    }
                                }
                            }
                        ]
                    }
                },
                {
                    "match_phrase": {
                        "listing_source": "crmls"
                    }
                },
                {
                    "term": {
                        "hidden": false
                    }
                },
                                {
                    "term": {
                        "published": true
                    }
                }
            ]
        }
    }
}

In [5]:
response = client.search(
    index="listings_demo", size=10000, fields=['rebny_id'], source=False, sort={'rebny_id': 'asc'},
      query={
        "bool": {
            "filter": [
                {
                    "match_phrase": {
                        "listing_source": "crmls"
                    }
                },
                {
                    "term": {
                        "hidden": False
                    }
                },
                                {
                    "term": {
                        "published": True
                    }
                }
            ]
        }
    }
)

In [6]:
len(response['hits']['hits'])

10000

In [7]:
response['hits']['hits'][-1]

{'_index': 'listings_demo_20231222205806180',
 '_type': '_doc',
 '_id': '20995649',
 '_score': None,
 'fields': {'rebny_id': ['00470571']},
 'sort': ['00470571']}

In [8]:
all_ids = []
for r in response['hits']['hits']:
        all_ids += r['fields']['rebny_id']

In [9]:
len(all_ids)

10000

In [13]:
gotten_all = False
while not gotten_all:
    last_id = response['hits']['hits'][-1]['sort']
    if len(all_ids) % 100000 == 0:
        print(len(all_ids), last_id)
    response = client.search(
        index="listings_demo", size=10000, fields=['rebny_id'], source=False, 
        sort={'rebny_id': 'asc'}, search_after=last_id,
        query={
            "bool": {
                "filter": [
                    {
                        "match_phrase": {
                            "listing_source": "crmls"
                        }
                    },
                    {
                        "term": {
                            "hidden": False
                        }
                    },
                                    {
                        "term": {
                            "published": True
                        }
                    }
                ]
            }
        }
    )
    if len(response['hits']['hits']) == 0:
        print(len(all_ids))
        gotten_all=True
        break
    if last_id == response['hits']['hits'][-1]['sort']:
        gotten_all=True
        break
    for r in response['hits']['hits']:
        all_ids += r['fields']['rebny_id']

IndexError: list index out of range

In [11]:
len(all_ids)

12548170

In [14]:
len(set(all_ids))

12496496

In [15]:
import pickle as pkl
with open('data/elastic_search_rebny_ids.pkl', 'wb') as f:
    pkl.dump(all_ids, f)

In [18]:
all_ids[10000000]

'RW2190044'

## Checking Data

In [17]:
es_df = pd.DataFrame({'rebny_id': all_ids})

In [18]:
es_df.head()

   rebny_id
0  00000007
1  00000013
2  00000015
3  00000041
4  00000053

In [19]:
def get_id(s):
    try:
        return s.split(':')[0]
    except AttributeError:
        return s

In [20]:
bab_all_ids = pd.read_csv('data/crmls_babylon_all_rebny_id.csv')
bab_all_ids['id'] = [get_id(x) for x in bab_all_ids['rebny_id']]
bab_all_ids.head()

         rebny_id          id
0  MC13002758:CRM  MC13002758
1     19484306:CL    19484306
2  130062374:SAND   130062374
3   U00690503:CRM   U00690503
4  SB13177704:CRM  SB13177704

In [21]:
euph_all_ids = pd.read_csv('data/crmls_euphrates_source_ids.csv')
euph_all_ids['id'] = [get_id(x) for x in euph_all_ids['source_id']]
euph_all_ids.head()

     source_id        id
0  00000007:CL  00000007
1  00000013:CL  00000013
2  00000015:CL  00000015
3  00000041:CL  00000041
4  00000053:CL  00000053

In [22]:
preso_all_ids = pd.read_csv('data/crmls_preso_listing_ids.csv')
preso_all_ids['id'] = [get_id(x) for x in preso_all_ids['listing_id']]
preso_all_ids.head()

       listing_id         id
0  986000232:SAND  986000232
1  976005323:SAND  976005323
2  986000278:SAND  986000278
3  976009769:SAND  976009769
4  986000910:SAND  986000910

In [23]:
in_euph_not_preso = euph_all_ids[~euph_all_ids['source_id'].isin(preso_all_ids['listing_id'])]
in_euph_not_preso

            source_id        id
129       00004767:CL  00004767
430       00015361:CL  00015361
647       00022493:CL  00022493
1463      00052447:CL  00052447
1464      00052451:CL  00052451
...               ...       ...
12532996  Z644366:CRM   Z644366
12535711  Z701692:CRM   Z701692
12538442  Z928928:CRM   Z928928
12538697  Z932082:CRM   Z932082
12538831  Z933738:CRM   Z933738

[236765 rows x 2 columns]

In [24]:
in_preso_not_bab = preso_all_ids[~preso_all_ids['listing_id'].isin(bab_all_ids['rebny_id'])]
in_preso_not_bab

                listing_id           id
230273     V0-70000539:CRF  V0-70000539
240383      IV22257458:CRM   IV22257458
432034     P0-22155438:CRF  P0-22155438
984514      SR23075812:CRM   SR23075812
1179492   219091893DA:CDAR  219091893DA
...                    ...          ...
10177194   P0-22142637:CRF  P0-22142637
10225420   V0-10018786:CRF  V0-10018786
10243340   V0-10020074:CRF  V0-10020074
10875063    OC23022289:CRM   OC23022289
10948118    PW23085334:CRM   PW23085334

[198 rows x 2 columns]

In [29]:
in_bab_not_es = bab_all_ids[~bab_all_ids['id'].isin(es_df['rebny_id'])]
len(in_bab_not_es)

5

In [30]:
in_bab_not_es

               rebny_id          id
68847    PW22158494:CRM  PW22158494
5857898  FR24087008:CRM  FR24087008
5857916  FR24087018:CRM  FR24087018
6035476             NaN         NaN
7713230  HD22093612:CRM  HD22093612

In [28]:
resp = client.search(index="listings_demo", query={"match":{'rebny_id': 'FR24087018'}})
resp['hits']['hits']

[]

In [31]:
client.close()