In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CRMLS_Distinct_RoomType_Euphrates_2024_05_21.csv')
df.head()

                    room_type
0                          AE
1                       AE,AM
2                   AE,AM,ART
3      AE,AM,ART,BA,BDDN,BDUP
4  AE,AM,ART,BA,BDDN,BDUP,BNS

In [3]:
ret_set = set()
for i in df['room_type']:
    try:
        [ret_set.add(x) for x in i.split(',')]
    except:
        continue
ret_set

{'AE',
 'AM',
 'ART',
 'BA',
 'BDDN',
 'BDUP',
 'BNS',
 'CBD',
 'CHL',
 'DEN',
 'DNC',
 'DRS',
 'ENT',
 'FAM',
 'FENT',
 'FOYR',
 'GAL',
 'GAME',
 'GQ',
 'GR',
 'GYM',
 'JJ',
 'KITC',
 'LF',
 'LI',
 'LIV',
 'LNDR',
 'MBD',
 'MBTH',
 'MED',
 'MF',
 'MLBD',
 'MM',
 'MSUI',
 'PN',
 'PRJ',
 'PRKG',
 'RR',
 'RT',
 'SAUN',
 'SEE',
 'SEP',
 'SND',
 'STD',
 'SUN',
 'THR',
 'TWO',
 'UR',
 'WI',
 'WK'}

In [4]:
len(ret_set)

50